<div class="band band-img bg-img-5 header pages" style="background-position:top center">
  <div class="overlay" style="opacity:0;background-color:white"></div>
    <div class="row">
      <div class="medium-7 columns medium-centered">
        <div class="container text-center">   
          <h1>Online HMS kurs</h1>
        </div>
      </div>
    </div>
</div>