<div class="large-6 columns end">
	<div class="panel white" data-equalizer-watch>
		<div class="panel-content">
			<div class="row">
				<div class="large-2 columns">
					<i class="fa fa-desktop fa-3x fa-color-primary" style="margin-bottom:10px"></i> 	
				</div>
				<div class="large-10 columns">
					<h4>Kurs i riktig bruk av Fallsikring</h4>
					
					<p class="no-marg"><strong>Tid:</strong> ca. 40 minutter<br>
					<strong>Fullføringsprosent:</strong> 75%<br>
					<strong><a href="" class="uppercase">Ta testen!</a></strong>
					</p>
				</div>
			</div>
			
		</div>
	</div>
</div>
