<div class="medium-6 large-4 columns end">
	<div class="panel panel-courses" data-equalizer-watch>
	<a href="/hms-kurs-entry">
	<div class="frame no-marg"><img src="/img/theme/woman-leader.jpg"></div>	
		<div class="panel-content">
			<div class="row">
				<div class="medium-12 columns">
					<h4>Online kurs fallsikring</h4>
					<p class="no-marg"><strong>Tid:</strong> ca. 40 minutter<br>
					<strong>Fullføringsprosent:</strong> 75%<br>
					<!--<strong><a href="" class="uppercase">Ta testen!</a></strong>-->
					</p>
				</div>
			</div>
			
		</div>
		</a>
	</div>
</div>
