<div class="medium-6 columns end">
	<div class="panel panel-dark-grey" data-equalizer-watch>
		<div class="panel-content">
			<div class="row">
				<div class="medium-12 columns">
					<h4>Kurs i riktig bruk av Fallsikring</h4>
					<p class="no-marg"><strong>Tid:</strong> ca. 40 minutter<br>
					<strong>Fullføringsprosent:</strong> 75%<br>
					<strong><a href="" class="uppercase">Ta testen!</a></strong>
					</p>
				</div>
			</div>
			
		</div>
	</div>
</div>
