<!-- START Block 41 

Just a centered fixed navbar on top. Perfect with animatd burger

Logo can be positioned below in another block

PS: Since it is fixed, we must set a placeholder or margin in the top.

-->
<div class="band band-white clone block-41">
  <div class="row">
    <div class="large-12 columns text-center">
      <nav class=" hide-for-small">
        <ul class="sf-menu nav-centered">
          {% include 'basics/menu' %}
        </ul>
      </nav>
      <div id="nav-icon4" class="show-for-small" data-trigger="aa-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>