<!-- START Block 43 

Only logo centered.

Perfect together with Block 41.

-->

<div class="band band-white block-43">
  <div class="row wide">
    <div class="small-12 small-centered columns">
      <h2 class="logo"><a href="/">BLOCK 31</a></h2>
    </div>
  </div>
</div>