<li class="active"><a href="/" class="fadeOut">Start</a></li>
<li><a href="/webdesign" class="fadeOut">Webdesign</a></li>
<li><a href="/bli-sett" class="fadeOut">Synlighet og Profil</a></li>
<li><a href="/referanser" class="fadeOut">Referanser</a></li>
<li><a href="/kontakt" class="fadeOut">Kontakt</a></li>
