<li class="active"><a href="/" class="fadeOut">Start</a></li>
<li><a href="/" class="fadeOut">Tjenester</a>
<ul>
	<li><a href="/" class="fadeOut">Link 1</a></li>
	<li><a href="/" class="fadeOut">Link 2</a></li>
	<li><a href="/" class="fadeOut">Link 3</a></li>
</ul>
</li>
<li><a href="/" class="fadeOut">Om oss</a></li>
<li><a href="/" class="fadeOut">Kontakt</a></li>
