<li class="active"><a href="/" class="fadeOut">Forsiden</a></li>
<li><a href="/hms-kurs" class="fadeOut">Online HMS kurs</a></li>
<li><a href="/fallsikringskurs" class="fadeOut">Praktisk kurs</a></li>
<li><a href="/hms-books" class="fadeOut">HMS bøker</a></li>
<li><a href="/kontakt" class="fadeOut">Kontakt</a></li>
