<li class="active"><a href="/" class="fadeOut">Hjem</a></li>
<li><a href="/1" class="fadeOut">Link 1</a></li>
<li><a href="/2" class="fadeOut">Link 2</a></li>
<li><a href="/3" class="fadeOut">Link 3</a></li>
<li><a href="/kontakt" class="fadeOut">Kontakt</a></li>
