<!-- START Block 12 

Centered Title with intro below. then an centered
image with 3 ports on the bottom

-->
<div class="band pad block-12">
	<div class="row">
		<div class="large-12 columns text-center">
			<h2>De lorem ipsum</h2>
			<p class="lead">Scelerisque augue montes, dolor, mus, placerat a nascetur in, nunc placerat magnis risus, aliquet non aliquet porttitor, tincidunt penatibus dapibus? Enim arcu pulvinar, augue.</p>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns text-center">
		<!-- TODO: Make a placeholder that can be used for images not squareblocks -->
			<img src="/img/globals/placeholder-09.jpg" style="max-width:300px" class="marg-bot-2x rounded">
		</div>
	</div>
	<div class="row wide text-center">
		<div class="large-4 columns">
			<i class="fa fa-hand-pointer-o fa-fixed fa-radius fa-bg-color-black fa-color-white marg-bot"></i>
				<h4> Port 1</h4>
				<p>Mus lectus vel vut mauris tincidunt hac, adipiscing mauris mauris! Placerat lorem urna montes dolor. Sit ut in augue!</p>
		</div>
		<div class="large-4 columns">
			<i class="fa fa-hand-pointer-o fa-fixed fa-round fa-color-white fa-bg-color-primary marg-bot"></i>
				<h4> Port 2</h4>
				<p>Mus lectus vel vut mauris tincidunt hac, adipiscing mauris mauris! Placerat lorem urna montes dolor. Sit ut in augue!</p>
		</div>
		<div class="large-4 columns">
			<i class="fa fa-hand-pointer-o fa-fixed fa-radius fa-bg-color-black fa-color-white marg-bot"></i>
				<h4> Port 3</h4>
				<p>Mus lectus vel vut mauris tincidunt hac, adipiscing mauris mauris! Placerat lorem urna montes dolor. Sit ut in augue!</p>
		</div>
	</div>
</div>
<!-- END Block 12 -->