<!-- START Block 06 

Ports with icon, title and description

-->

<div class="band band-light-grey pad block-06">
	<div class="row">
		<div class="large-12 columns text-center">
			<h2>A til Å</h2>
			<p class="lead">Absoluttweb utvikler moderne websider av høy kvalitet til normale priser. Hvordan er det mulig? - Vi er en liten bedrift med mye kunnskap, masse erfaring og stort engasjement.</p>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns text-center">
			<img src="/img/globals/placeholder-02.jpg" class="marg-bot-3x marg-top-2x rounded" style="max-width:300px" alt="Title">	
		</div>
	</div>
	<div class="row wide marg-bot" data-equalizer>
		<div class="large-4 columns marg-bot" data-equalizer-watch>
			<i class="fa fa-diamond fa-fixed fa-stroke fa-pull-left"></i>
			<div class="no-wrap">
				<h4> Kvalitet</h4>
				<p>Vi følger trendene og mulighetene innen webteknologi og online markedsføring. Moderne, raske og synlige løsninger er garantert!</p>
			</div>
		</div>
		<div class="large-4 columns marg-bot" data-equalizer-watch>
			<i class="fa fa-dollar fa-fixed fa-stroke fa-pull-left"></i>
			<div class="no-wrap">
				<h4> Pris</h4>
				<p>Absoluttweb satser på høy kvalitet, men som en liten aktør kan vi likevel tilby komplette løsninger til edruelige priser.</p>
			</div>
		</div>
		<div class="large-4 columns marg-bot" data-equalizer-watch>
			<i class="fa fa-user fa-fixed fa-stroke fa-pull-left"></i>
			<div class="no-wrap">
				<h4> Support</h4>
				<p>Som liten bedrift, ønsker vi å ha ett personlig forhold til våre kunder og prosjekter. Support og oppfølging blir da en selvfølge.</p>
			</div>
		</div>
		<div class="large-4 columns marg-bot" data-equalizer-watch>
			<i class="fa fa-hand-pointer-o fa-fixed fa-stroke fa-pull-left"></i>
			<div class="no-wrap">
				<h4> Synlighet</h4>
				<p>Vi har mye kunnskap rundt synlighet på nett, samt markedsføring via Google og Facebook. Vi kan vise til gode resultater.</p>
			</div>
		</div>

		
		<div class="large-4 columns marg-bot" data-equalizer-watch>
			<i class="fa fa-mobile fa-fixed fa-stroke fa-pull-left"></i>
			<div class="no-wrap">
				<h4> Mobiltelefoner</h4>
				<p>Webdesign som fungerer bra på mobil er ingen selvfølge. Våre løsninger er 100% optimalisert for små og store skjermer.</p>
			</div>
		</div>

		<div class="large-4 columns marg-bot" data-equalizer-watch>
			<i class="fa fa-pencil fa-fixed fa-stroke fa-pull-left"></i>
			<div class="no-wrap">
				<h4> CMS</h4>
				<p>Redigeringssystemet er nettskybasert og topp moderne. Systemet ble valgt da det er utrolig brukervennlighet og gir raske websider.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns text-center">
			<a href="/" class="btn btn-2">Online markedsføring</a>
		</div>
	</div>
</div>

<!-- END Block 06 -->