<!-- START Block 10 

Split Screen. Image and content.
In this Block an image fills the left/right column, and there is content in the other.
Set image, image-position and block-height directly in the DOM STYLE

-->

<div class="band pad block-10">
	<div class="row">
		<div class="large-12 columns">
			<div class="row collapse">
				<div class="small-4 columns text-center">
					<a href="tel:91328419" class="btn btn-1">
						<p><i class="fa fa-phone fa-fixed-2x fa-2x"></i><br>
							<span class="hide-for-small">913 28 419</span></p>
						</a>
					</div>
					<div class="small-4 columns text-center">
						<a href="https://www.facebook.com/Absoluttweb" target="_blank" class="btn btn-1">
							<p><i class="fa fa-facebook fa-fixed-2x fa-2x"></i><br>
								<span class="hide-for-small">FB Messenger</span>
							</p>
						</a>
					</div>
					<div class="small-4 columns text-center">
						<a href="mailto:post@absoluttweb.no" class="btn btn-1">
							<p><i class="fa fa-envelope fa-fixed-2x fa-2x"></i><br>
								<span class="hide-for-small">post@absoluttweb.no</span>
							</p>
						</a>
					</div>
				</div>


				<div class="accordion">
			    
			    <p class="question"><strong>Block 10. That is the question?</strong></p>
			    <div class="answer">
			        <p>Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices a....</p>
			    </div>

			     <p class="question"><strong>Standard accordions perfekt for faq?</strong></p>
			    <div class="answer">
			        <p>Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices a....</p>
			    </div>

			</div>

			</div>
		</div>
	</div>

<!-- END Block 10 -->