<!-- START Block 02 

Big Buttons with icon, title and description

-->

<div class="band band-light-grey pad block-2">
	<div class="row">
		<div class="medium-6 columns">
			<a href="https://www.facebook.com/Absoluttweb" target="_blank" class="btn-facebook">
				<h5><i class="fa fa-facebook"></i> Facebook</h5>
				<p>Nyheter, informasjon, tilbud og gallerier</p>
			</a>
		</div>
		<div class="medium-6 columns">
			<a href="https://instagram.com/absoluttweb/" target="_blank" class="btn-instagram">
				<h5><i class="fa fa-instagram"></i> Instagram</h5>
				<p>Design og Mockups</p>
			</a>
		</div>
	</div>
</div>

<!-- END Block 02 -->