{% layout 'styleguide' %}

{% block main %}


		<div class="band band-main pad-half-bot">
			<div class="row">
				<div class="large-12 columns">
					<h3>Layout - bands and grid
					</h3>
					
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<hr>		
				</div>
			</div>
			<div class="row">
				<div class="medium-6 columns">
					<h4><i class="fa fa-bars"></i> Bands</h4>	
					<p>Bands kan gi seksjoner ulik bakgrunn, størrelse og typografi. Bands strekker seg i hele containerens bredde<br>
					Dette er det øverste elementet i en seksjon, også før grids.</p>
				</div>
				<div class="medium-6 columns">
					
					<ul class="icon">
						<li class="color">Enkelt bytte mellom wide og boxed layout</li>
						<li class="color">Benytte ulike bakgrunner som spenner over hele skjermen</li>
						<li class="color">Kontroll på bredder og marginer mellom elementer</li>
						<li class="color">Enkelt bytte typografiske egenskaper innen båndet</li>
					</ul>
				</div>
				<div class="large-12 columns">
					{% include 'code/code-band'%}
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<hr>	
				</div>
			</div>
			<div class="row">
				<div class="large-6 columns">
				<h4><i class="fa fa-bars fa-rotate-90"></i> Grids</h4>
					<p>Grids deler innholdet i kolonner, og gir kontroll over hvordan layouten er på de ulike enheter.<br>
					Grids er hovedelementet i responsive webdesign.</p>	
					

				</div>
				<div class="large-6 columns">
					<h4><i class="fa fa-tint fa-color"></i> Farger i bands</h4>
					<p>Når man lager ett nytt band, med bilder eller farger i bakgrunnen, må vi også juster fargene på typografien. Dette gjør man ved å inkludere mixin type-color, og gi nye typografi farger.</p>
					<a href="styleguide-mixin" class="button-primary radius popout">Se mixin</a>
				</div>
				<div class="large-12 columns">
					{% include 'code/code-grids'%}
				</div>
			</div>
		</div>
		
		
	
	{% endblock %}

	{% block script %}
	{% endblock %}