{% layout 'styleguide' %}

{% block main %}

<div class="band band-main">
	<div class="row">
		<div class="large-12 columns">
			<h3>HR og Headers</h3>
			
			<hr><br>
			<hr class="hr-1"><br>
			<hr class="hr-2"><br>
			<hr class="hr-3"><br>
			<h4 class="has-divider">Tittel med divider</h4><br>
			<h4 class="has-divider-center">Divider på begge sider</h4><br>
			<h4 class="has-stroke marg-bot-half">IPSUM MET LOREM<span class="subheader">Produkter</span></h4><br>
			<h4 class="has-bg marg-bot-half"><span class="subheader">Produkter</span>IPSUM MET LOREM</h4><br>
			
			{% include 'code/code-hr'%}
			{% include 'code/mixin-hr'%}
		</div>
	</div>
</div>

{% endblock %}

{% block script %}

{% endblock %}