{% layout 'styleguide' %}

{% block main %}

<div class="band main pad-top-half pad-bot-half">
	<div class="row">
		<div class="large-12 columns">
			<div class="customNavigation">
				<a class="btn prev">Forrige</a>
				<a class="btn next">Neste</a>
			</div>	
		</div>
	</div>

	<!-- Start Owl Carousel -->
	<div id="owl-carousel" class="owl-carousel">

		<!-- Owl Item -->
		<div class="item">
			<div class="row">
				<div class="medium-6 columns">
					<img src="/img/globals/placeholder.png" class="half-margin">
					<small>Dette er bildebeskrivelsen man skriver i tittel feltet</small>
				</div>
				<div class="medium-6 columns">
					<h3>Profesjonell webutvikling <span class="subheader">Firmapresentasjon du kan være stolt av</span></h3>
					<p>Lundium pellentesque nunc penatibus. Sit sed? Integer diam facilisis porttitor odio natoque, proin duis nunc urna amet mattis! Velit ut! A turpis elementum integer dictumst nunc dis?<br>
						Dis in sit ultrices scelerisque tristique tortor tincidunt sit. Sociis phasellus tempor ac. Diam lorem! Sit habitasse, facilisis, arcu habitasse tristique placerat, etiam, ut nec integer augue, purus diam elementum montes sit.</p>
						<p><strong>Vel eros hac integer aliquet amet, auctor, sed vel. Tempor quis integer odio? Turpis etiam</strong></p>
					</div>
				</div>
			</div>
			<!-- End Owl Item -->
			
			<!-- Owl Item -->
			<div class="item">
				<div class="row">
					<div class="medium-5 columns">
						<img src="/img/globals/placeholder.png" class="half-margin">
						<small>Dette er bildebeskrivelsen man skriver i tittel feltet</small>
					</div>
					<div class="medium-7 columns">
						<h3>Profesjonell webutvikling <span class="subheader">Firmapresentasjon du kan være stolt av</span></h3>
						<p>Lundium pellentesque nunc penatibus. Sit sed? Integer diam facilisis porttitor odio natoque, proin duis nunc urna amet mattis! Velit ut! A turpis elementum integer dictumst nunc dis?<br>
							Dis in sit ultrices scelerisque tristique tortor tincidunt sit. Sociis phasellus tempor ac. Diam lorem! Sit habitasse, facilisis, arcu habitasse tristique placerat, etiam, ut nec integer augue, purus diam elementum montes sit.</p>
							<p><strong>Vel eros hac integer aliquet amet, auctor, sed vel. Tempor quis integer odio? Turpis etiam</strong></p>
						</div>
					</div>
				</div>
				<!-- End Owl Item -->

				<!-- Owl Item -->
				<div class="item">
					<div class="row">
						<div class="medium-4 columns">
							<img src="/img/globals/placeholder.png" class="half-margin">
							<small>Dette er bildebeskrivelsen man skriver i tittel feltet</small>
						</div>
						<div class="medium-8 columns">
							<h3>Profesjonell webutvikling <span class="subheader">Firmapresentasjon du kan være stolt av</span></h3>
							<p>Lundium pellentesque nunc penatibus. Sit sed? Integer diam facilisis porttitor odio natoque, proin duis nunc urna amet mattis! Velit ut! A turpis elementum integer dictumst nunc dis?<br>
								Dis in sit ultrices scelerisque tristique tortor tincidunt sit. Sociis phasellus tempor ac. Diam lorem! Sit habitasse, facilisis, arcu habitasse tristique placerat, etiam, ut nec integer augue, purus diam elementum montes sit.</p>
								<p><strong>Vel eros hac integer aliquet amet, auctor, sed vel. Tempor quis integer odio? Turpis etiam</strong></p>
							</div>
						</div>
					</div>
					<!-- End Owl Item -->

					<!-- Owl Item -->
					<div class="item">
						<div class="row">
							<div class="medium-3 columns">
								<img src="/img/globals/placeholder.png" class="half-margin">
								<small>Dette er bildebeskrivelsen man skriver i tittel feltet</small>
							</div>
							<div class="medium-9 columns">
								<h3>Profesjonell webutvikling <span class="subheader">Firmapresentasjon du kan være stolt av</span></h3>
								<p>Lundium pellentesque nunc penatibus. Sit sed? Integer diam facilisis porttitor odio natoque, proin duis nunc urna amet mattis! Velit ut! A turpis elementum integer dictumst nunc dis?<br>
									Dis in sit ultrices scelerisque tristique tortor tincidunt sit. Sociis phasellus tempor ac. Diam lorem! Sit habitasse, facilisis, arcu habitasse tristique placerat, etiam, ut nec integer augue, purus diam elementum montes sit.</p>
									<p><strong>Vel eros hac integer aliquet amet, auctor, sed vel. Tempor quis integer odio? Turpis etiam</strong></p>
								</div>
							</div>
						</div>
						<!-- End Owl Item -->
					</div>
				</div>

				{% endblock %}

				{% block script %}

				{% endblock %}