<!doctype html>
<html class="no-js" lang="no">

{% include 'head' %}

  <body class="wide">
  {% include 'basics/bottom-bar'%}
  {% include 'basics/bottom-menu'%}
  {% include 'basics/infobar-left' %}
  {% include 'basics/infobar-right' %}

    <div class="wrapper">

      <div class="wrapper-inner">
        {% block main %}{% endblock %}
      </div>
      
      <div class="push"></div>
    </div>
    
    {% include 'blocks/footers/block-40' %}

    {% include 'basics/scripts' %} 
    {% block script %}{% endblock %}

    <script type="text/javascript">
      (function($) {
        'use strict';
        window.sr= new scrollReveal({
          mobile: false
        });
      })();
    </script>

    <script>
      $(document).ready(function () {
        
        //Superfish Dropdown Menu
        $('ul.sf-menu').superfish({
          cssArrows: true,
          animation: {
            opacity: 'show',
            height: 'show'
          },
        });

        //Animated Burger
        $('#nav-icon4').click(function(){
          $('#n#nav-icon4').toggleClass('open');
        });

        //AA Menu
        $("ul.aa-menu").aamenu();

        //Readmore
        $(".readmore").readmore({
          embedCSS: false,
          maxHeight: 72,
          speed: 300,
          moreLink: '<a href="#">..... les mer</a>',
          lessLink: '<a href="#"> lukk</a>'
        });

      });
    </script>

  </body>

  </html>