<!doctype html>
<html class="no-js" lang="no">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
    <title>Blocks</title>
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <link rel="icon" type="image/png" href="/img/theme/favicon.png">
    {{ "modernizr.js" | asset_url | script_tag }}
    {% include 'basics/fonts' %}
    {% include 'basics/css' %}
    {% block meta %}{% endblock %}
    <style> [data-sr] { visibility: hidden; }</style>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  </head>

  <body class="wide"> <!-- 'boxed' 'wide' 'left-aside'. Add 'snow' if we want snow -->
   
    {% include 'basics/aa-menu' %}
    <!-- {% include 'basics/aa-sidenav' %} Include if sidenav is wanted. Set width in variables-->
    <div class="wrapper">
      {% block infobar %}{% endblock %}

      <div class="page-loader">
       <img src="/img/theme/logo-icon-220-black.png" class="pulsing-logo">
     </div>
     <div class="wrapper-inner">
      
      {% block header %}
      {% endblock %}
      
      {% block main %}
      {% endblock %}

      <!--{% include 'bottom' %}-->

    </div>
    <div class="push"></div>
  </div>
  
  {% include 'footer' %}
  {% include 'basics/scripts' %}

  {% block script %}
  {% endblock %}

  <div class="fullscreen-overlay text-center">
    <a href="#" class="fullscreen-close">x</a>
    <div class="outer">
      <div class="middle">
        <div class="inner">
         
        </div>
      </div>
    </div>
  </div> 

  <script>
    $(window).load(function() {
      //Superfish Dropdown Menu
      $('ul.sf-menu').superfish({
        cssArrows: true,
        animation: {opacity:'show'},
      });
      
      //Mobile Menu
      $('ul.aa-menu').aamenu();
    });
  </script>
  <script>
    $(window).load(function() {
        //Infobar
        $(".info-trigger, .pure-info-trigger").click(function(){
          $(".info-bar").show();
          $(".info-bar").toggleClass('active');
          $("body").toggleClass('no-scroll darken');
        });
      });
  </script>

  <script type="text/javascript">
    (function($) {
      'use strict';
      window.sr= new scrollReveal({
        mobile: false
      });
    })();
  </script>
</body>

</html>