<!doctype html>
<html class="no-js" lang="no">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />  
	<title>Blocks</title>
	<meta name="Keywords" content="" />
	<meta name="Description" content="" />
	<link rel="icon" type="image/png" href="/img/theme/favicon.png">
	{{ "modernizr.js" | asset_url | script_tag }}
	{% include 'basics/fonts' %}
	{% include 'basics/css' %}
	<link href="/assets/scss/styleguide.css" rel="stylesheet" type="text/css" media="all">
	<link href="/assets/scss/style.css" rel="stylesheet" type="text/css" media="all">
	{% block meta %}{% endblock %}
	<style> [data-sr] { visibility: hidden; }</style>
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	</head>

	<body class="wide">
		{% include 'widgets/bottom-bar'%}
		{% include 'widgets/bottom-menu'%}
		{% include 'widgets/infobar-left' %}
		{% include 'widgets/infobar-right' %}

		<div class="wrapper">

			<div class="wrapper-inner">
				{% block main %}{% endblock %}
			</div>
			
			<div class="push"></div>
		</div>
		
		{% include 'blocks/footer-01' %}

		{% include 'basics/scripts' %} 
		{% block script %}{% endblock %}

		<script type="text/javascript">
			(function($) {
				'use strict';
				window.sr= new scrollReveal({
					mobile: false
				});
			})();
		</script>

		<script>
			$(document).ready(function () {
				
				//Superfish Dropdown Menu
				$('ul.sf-menu').superfish({
					cssArrows: true,
					animation: {
						opacity: 'show',
						height: 'show'
					},
				});

				//Animated Burger
				$('#nav-icon4').click(function(){
					$('#nav-icon4').toggleClass('open');
				});

				//AA Menu
				$("ul.aa-menu").aamenu();

				//Readmore
				$(".readmore").readmore({
					embedCSS: false,
					maxHeight: 72,
					speed: 300,
					moreLink: '<a href="#">..... les mer</a>',
					lessLink: '<a href="#"> lukk</a>'
				});

			});
		</script>

	</body>

	</html>