.isotope > img {
  min-width: 100%; }
.isotope .item {
  width: 25%; }
  .isotope .item.item-2x {
    width: 50%; }
  .isotope .item.item-3x {
    width: 75%; }
  .isotope .item.item-4x {
    width: 100%; }
  @media only screen and (max-width: 760px) {
    .isotope .item {
      width: 50%; } }
