@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,400italic,600,300|Playfair+Display:400,700|Montserrat);
.isotope > img {
  min-width: 100%; }
.isotope .item {
  width: 25%; }
  .isotope .item.item-2x {
    width: 50%; }
  .isotope .item.item-3x {
    width: 75%; }
  .isotope .item.item-4x {
    width: 100%; }
  @media only screen and (max-width: 760px) {
    .isotope .item {
      width: 50%; } }
