<a class="code" id="code-panel">Kode</a>
<pre id="code-panel" class="text-left">
<div class="panel">&lt;div class="panel"&gt;
...Content her has no padding...
&lt;div class="panel-content [pad-half]"&gt;...Content here has padding...
&lt;/div&gt;
&lt;/div&gt;
</pre>