<a class="code" id="code-p-classes">Kode</a>
<pre id="code-p-classes" class="text-left">
&lt;p class=&quot;subtle uppercase small no-marg&quot;&gt;This is an uppercase subtle paragraph&lt;br&gt;
If more P classes is added, then add them here.&lt;/p&gt;
</pre>