<a class="code" id="code-port-1">Kode</a>
<pre id="code-port-1">
&lt;div class="large-4 columns"&gt;									
&lt;h4&gt;Kolonne 1&lt;/h4&gt;
&lt;p&gt;Lundium pellentesque nunc penatibus. Sit sed? Integer diam facilisis porttitor odio natoque, proin duis nunc urna amet mattis!&lt;/p&gt;
&lt;/div&gt;</pre>