<a class="code" id="code-readmore">Kode Readmore</a>
<pre id="code-readmore">
Integrer JS Readmore Plugin. CSS er allerede inkludert i base.scss

DOM:
&lt;div class="readmore"&gt;
&lt;p&gt;...&lt;/p&gt;
&lt;/div&gt;

Aktiver med følgende skript:
&lt;script&gt;
//Readmore
$(".readmore").readmore({
embedCSS: false,
maxHeight: 72,
moreLink: '&lt;a href="#"&gt;...vis all tekst&lt;/a&gt;',
lessLink: '&lt;a href="#"&gt;skjul tekst&lt;/a&gt;'
});
&lt;/script&gt;
</pre>			