<a class="code" id="code-port-5">Kode</a>
<pre id="code-port-5">
&lt;div class="medium-6 large-3 columns"&gt;
&lt;img src="/img/globals/placeholder.png"&gt;
&lt;h4&gt;Tittel&lt;/h4&gt;
&lt;p&gt;Denne teksten må begrenses for ikke å bryte flyten&lt;br&gt;
&lt;a href="#"&gt;Les mer&lt;/a&gt;&lt;/p&gt;
&lt;/div&gt;
</pre>			