<a class="code" id="code-port-4">Kode</a>
<pre class="text-left" id="code-port-4">
&lt;div class="large-4 text-center columns"&gt;
&lt;i class="fa fa-globe [fa-color] fa-top fa-4x"&gt;&lt;/i&gt;
&lt;h4&gt; Icon topp 2&lt;/h4&gt;
&lt;p&gt;Lundium pellentesque nunc penatibus. Sit sed? Integer diam facilisis porttitor odio natoque, proin duis nunc urna amet mattis!&lt;/p&gt;
&lt;/div&gt;
</pre>				