<a class="code" id="code-hr">Kode</a>
<pre id="code-hr" class="text-left">
HR
Kommentar:
I _variables.scss setter man global bakgrunnsfarge for HR.

Lag nye HR ved å lage en custom classe [.hr-*], og sett background og height. 
Bruk Mixin for pattern bakgrunn og elementer.

DIVIDER
Add class "divider" eller "divider-center" til H tags
</pre>