<a class="code" id="code-port-3">Kode</a>
<pre id="code-port-3">
&lt;div class="large-4 columns"&gt;
&lt;i class="fa fa-globe [fa-color] fa-3x fa-pull-left"&gt;&lt;/i&gt;
&lt;div class="no-wrap"&gt;
&lt;h4&gt; Icon venstre 1&lt;/h4&gt;
&lt;p&gt;Lundium pellentesque nunc penatibus. Sit sed? Integer diam facilisis porttitor odio natoque, proin duis nunc urna amet mattis!&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;
</pre>