<a class="code" id="code-port-6">Kode</a>
<pre id="code-port-6">
&lt;div class="large-12 columns"&gt;
&lt;ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-3"&gt;
&lt;li&gt;
&lt;img src="/img/globals/placeholder.png" class="pull-left" width="120px"&gt;
&lt;div class="no-wrap"&gt;
&lt;h5&gt;Fornavn Etternavn&lt;/h5&gt;
&lt;small&gt;Tlf:.......&lt;br&gt;
Sted:.......&lt;br&gt;
&lt;/small&gt;
&lt;/div&gt;
&lt;/li&gt;
&lt;li&gt; more items..... &lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
</pre>			