<a class="code" id="code-ol">Kode</a>
<pre id="code-ol" class="text-left">
&lt;ol&gt;
&lt;li&gt;...&lt;/li&gt;
&lt;li&gt;...
	&lt;ol&gt;
	&lt;li&gt;...&lt;/li&gt;
	&lt;li&gt;...&lt;/li&gt;
	&lt;li&gt;...&lt;/li&gt;
	&lt;/ol&gt;
&lt;/li&gt;
&lt;li&gt;...&lt;/li&gt;
&lt;/ol&gt;
</pre>