<a class="code" id="code-grid">Kode Grids</a>
<pre id="code-grid" class="text-left">
&lt;div class="row [collapse] [wide] [boxed]"&gt;
&lt;div class="large-12 medium-12 small-12 [centered] [text-center] columns [end]"&gt;
&lt;!-- Content here --&gt;
&lt;/div&gt;
&lt;/div&gt;
</pre>