<a class="code" id="code-ul-icon">Kode</a>
<pre id="code-ul-icon" class="text-left">
&lt;ul class="icon"&gt;
&lt;li [class="color"]&gt;...&lt;/li&gt;
&lt;li&gt;...
	&lt;ul&gt;
	&lt;li&gt;...&lt;/li&gt;
	&lt;li&gt;...&lt;/li&gt;
	&lt;li&gt;...&lt;/li&gt;
	&lt;/ul&gt;
&lt;/li&gt;
&lt;li&gt;...&lt;/li&gt;
&lt;/ul&gt;

Kommentar: Endre icon i _variables.scss. HEr kan man også sette farge for LI class="color"
</pre>