<a class="code" id="code-tabs">DOM Tabs</a>
<pre id="code-tabs">
&lt;!-- TABS--&gt;
&lt;div class="band"&gt;
&lt;div class="row"&gt;
&lt;div class="large-12 columns"&gt;
&lt;ul class="tabs [vertical] [right] clearfix" data-tab data-options="scroll_to_content: false" role="tablist"&gt;
&lt;li class="tab-title active" role="presentational" &gt;&lt;a href="#panel1" role="tab" tabindex="1" aria-selected="true" controls="panel1"&gt;Info&lt;/a&gt;&lt;/li&gt;
&lt;li class="tab-title" role="presentational" &gt;&lt;a href="#panel2" role="tab" tabindex="2" aria-selected="false" controls="panel2"&gt;Paneler&lt;/a&gt;&lt;/li&gt;
&lt;li class="tab-title" role="presentational" &gt;&lt;a href="#panel3" role="tab" tabindex="3" aria-selected="false" controls="panel3"&gt;Type on dark&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;!--END TABS--&gt;

&lt;!-- TAB PANELS --&gt;
&lt;div class="tabs-content [vertical]"&gt;
&lt;!-- Tab 1 --&gt;
&lt;section role="tabpanel" aria-hidden="false" class="content active" id="panel1"&gt;
&lt;!-- This is Active. Content Here --&gt;
&lt;/section&gt;
&lt;!-- End Tab 1 --&gt;
&lt;!-- Tab 2 --&gt;
&lt;section role="tabpanel" aria-hidden="true" class="content" id="panel2"&gt;		
&lt;/section&gt;
&lt;!-- End Tab 2 --&gt;
&lt;/div&gt;
&lt;!-- TAB PANELS --&gt;
</pre>