<a class="code" id="code-ul">Kode</a>
<pre id="code-ul" class="text-left">
&lt;ul&gt;
&lt;li&gt;...&lt;/li&gt;
&lt;li&gt;...
	&lt;ul&gt;
	&lt;li&gt;...&lt;/li&gt;
	&lt;li&gt;...&lt;/li&gt;
	&lt;li&gt;...&lt;/li&gt;
	&lt;/ul&gt;
&lt;/li&gt;
&lt;li&gt;...&lt;/li&gt;
&lt;/ul&gt;
</pre>