<a class="code" id="code-mixin">Kode</a>
<pre id="code-mixin" class="text-left">
/* Custom Buttons
================== */
.button.custom-button-1 {
@include button($primary-color,white);
border-color: $primary-color !important;
}

/* Custom HR
============= */
.custom-hr-1 {
@include hr ($height:5px, $color:transparent, $pattern:5, $opacity:0.2);
}
</pre>