<a class="code" id="code-highlight">Kode</a>
<pre id="code-highlight" class="text-left">
&lt;p&gt;Lundium pellentesque nunc penatibus. Sit sed? Integer diam &lt;span class="highlight"&gt;facilisis porttitor odio natoque&lt;/span&gt;, proin duis nunc urna amet mattis!&lt;/p&gt;</pre>