<a class="code" id="code-dropdown">DOM Dropdown</a>
<pre id="code-dropdown" class="text-left">
&lt;div class="dropdown [dropdown-*] [right]"&gt;
&lt;a href="#"&gt;...&lt;/a&gt;
&lt;ul&gt;
&lt;li&gt;&lt;a href="#"&gt;Content&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#"&gt;Content&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href="#"&gt;Content&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;/div&gt;

Kommentar: Wrap en A + UL med "dropdown", og A vil trigge UL
</pre>