<a class="code" id="code-buttons">Kode Button</a>
<pre id="code-buttons" class="text-left">
&lt;a href="#" class="btn btn-[name], [small,large,wide] [border] [shadow,popout] [with-icon] "&gt;Tittel &lt;i class="fa fa-rss"&gt;&lt;/i&gt;&lt;/a&gt;

Default buttons:
.btn btn-primary 
.btn btn-secondary 
.btn btn-light-grey
.btn btn-medium-grey
.btn btn-dark-grey
.btn btn-correct
.btn btn-error

</pre>