<a class="code" id="code-blockquote">Kode</a>
<pre id="code-blockquote" class="text-left">
&lt;blockquote&gt;
Lundium pellentesque nunc penatibus. Sit sed? Integer diam facilisis porttitor odio natoque, proin duis nunc urna amet mattis!&lt;br&gt;
&lt;span class="cite"&gt;Sindre Gusdal - Daglig leder i Absoluttweb&lt;/span&gt;
&lt;/blockquote&gt;
</pre>