<a class="code" id="code-ul-specs">Kode</a>
<pre id="code-ul-specs" class="text-left">
&lt;ul class="specs"&gt;
&lt;li&gt;&lt;span class="title"&gt;Place&lt;/span&gt;Abudabi&lt;/li&gt;
&lt;li&gt;&lt;span class="title"&gt;Period&lt;/span&gt;May 2013 - Jun 2015&lt;/li&gt;
&lt;li&gt;&lt;span class="title"&gt;Contractor&lt;/span&gt;Abudabi&lt;/li&gt;
&lt;li&gt;&lt;span class="title"&gt;Amount&lt;/span&gt;2.4 mill&lt;/li&gt;
&lt;li&gt;&lt;span class="title"&gt;PDF&lt;/span&gt;&lt;a href="#"&gt;Download brochure&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
</pre>