<a class="code" id="mixin-type-color">Mixin Type-color</a>
<pre id="mixin-type-color" class="text-left">
.band-* {
background: [color];

@include type-color ($font:$font-color, $header:$header-color, $subheader:$subheader-color, $link:$link-color, $hr:$hr-color);
}
</pre>