<a class="code" id="mixin-button">Mixin Button</a>
<pre id="mixin-button" class="text-left">
.btn-custom-* {
	@include button($primary-color,white);
	//border-color: $primary-color !important;
	//border-size: 2px;
	//aso...
}
</pre>