<!-- Block 05 

DZS Parallax Band

-->

<div class="band">
	<div class="row full collapse">
		<div class="large-12 columns text-center">
			<div class="dzsparallaxer auto-init out-of-bootstrap" data-options='{ direction: "normal"}' style="height: 300px;">
				<div class="divimage dzsparallaxer--target" style="width: 100%; height: 450px; background-image: url(/img/globals/placeholder-04.jpg)">
				</div>
				<div class="center-it wide">
					<h4 class="marg-bot" style="color:white">Block 05. This is an cool smooth parallax. Fixed height.</h4>
					<a href="/webdesign" class="btn btn-3 no-marg">Another button</a>
				</div>

			</div>
		</div>
	</div>
</div>

<!-- END Block 05 -->