<!-- Block 03 -->

<div class="band band-light-grey pad">
	<div class="row">
		<div class="medium-4 columns">
			<h3>Block 03</h3>
			<p>Magnis habitasse vel pulvinar tortor turpis elementum. Phasellus aliquet enim tortor lectus penatibus ac. Tristique! </p>
			<p>Ring <a href="tel:91328419"><span class="numbers">913 28 419</span></a> om du vil snakke med oss. Eller benytt <a href="mailto:post@absoluttweb.no"><span class="numbers">post@absoluttweb.no</span></a></p>
		</div>
		<div class="medium-8 columns">
			<form class="on-light-grey no-marg">
				
				<div class="row">
					<div class="medium-4 columns ">
						
						<input id="name" name="name" type="text" placeholder="Navn"/>
					</div>
					<div class="medium-4 columns">
						
						<input id="mob" name="mob" type="email" placeholder="Epost"/>
					</div>
					<div class="medium-4 columns">
						<input id="email" name="email" type="tel" placeholder="Mobil"/> 
					</div>
				</div>
				<div class="row">
					<div class="medium-12 columns">
						<textarea id="message" name="message" rows="6" placeholder="Informasjon"></textarea>	
					</div>
				</div>
				<div class="row">
					<div class="medium-12 columns">
						<input type="submit" value="Send" class="btn btn-primary">	
					</div>
				</div>			
			</form>
		</div>
	</div>
</div>

<!-- END Block 03 -->