<!-- START Block 09 

Split Screen. Image and content.
In this Block an image fills the left/right column, and there is content in the other.
Set image, image-position and block-height directly in the DOM STYLE

-->

<div class="band pad-top band-light-grey fixed block-09">
	
	<div class="wide-panel">

		<div class="row">
			<div class="large-6 columns">
				<h3 class="has-stroke marg-bot-half"><span class="subheader">Block 09</span>Surfing på mobil</h3>

				<p>Tincidunt elementum rhoncus! Nunc purus, lorem ac magnis nec! A adipiscing? Diam, pellentesque, turpis dis amet, dis lundium pulvinar nisi placerat, mattis aliquet? Etiam amet enim aliquam natoque adipiscing? </p>
				<p>Placerat nec urna, rhoncus ultrices sit? Ultrices nec duis tincidunt pulvinar odio ultrices sit, porta, magna ut a, elementum scelerisque purus integer, lorem sociis?</p>
				<canvas id="canvas09A" height="1" width="2" class="marg-top marg-bot"></canvas>
				
			</div>
			<div class="large-6 columns">
				<h3 class="has-stroke marg-bot-half"><span class="subheader">Block 09</span>Surfing på mobil</h3>

				<p>Tincidunt elementum rhoncus! Nunc purus, lorem ac magnis nec! A adipiscing? Diam, pellentesque, turpis dis amet, dis lundium pulvinar nisi placerat, mattis aliquet? Etiam amet enim aliquam natoque adipiscing? </p>
				<p>Placerat nec urna, rhoncus ultrices sit? Ultrices nec duis tincidunt pulvinar odio ultrices sit, porta, magna ut a, elementum scelerisque purus integer, lorem sociis?</p>
				<canvas id="canvas09B" height="1" width="2" class="marg-top marg-bot"></canvas>
				
			</div>
		</div>
	</div>
</div>


<!-- END Block 09 -->