<!-- Block 01 

Split Screen. Image and content.
In this Block an image fills the left/right column, and there is content in the other.
Set image, image-position and block-height directly in the DOM STYLE
Uses Script

-->

<div class="band block-01">
	<div class="row full collapse">
		<div class="medium-5 large-4 columns clearfix">
			<div class="img" style="background-image: url('/img/globals/placeholder-06.jpg');">
				<a class="btn btn-primary" href="/">button</a>
			</div>	
		</div>
		<div class="medium-7 large-8 columns">
			<div class="container">
				<h3 class="has-stroke marg-bot-half"><span class="subheader">Block 01</span>The lead title</h3>
				 
				<p>Tincidunt elementum rhoncus! Nunc purus, lorem ac magnis nec! A adipiscing? Diam, pellentesque, turpis dis amet, dis lundium pulvinar nisi placerat, mattis aliquet? Etiam amet enim aliquam natoque adipiscing? </p>
				<p>Placerat nec urna, rhoncus ultrices sit? Ultrices nec duis tincidunt pulvinar odio ultrices sit, porta, magna ut a, elementum scelerisque purus integer, lorem sociis?</p>
			</div>	
		</div>
	</div>
</div>

<!-- END Block 01 -->