<!-- START Block 08

Band is Boxed, so its cropped on the sides and shows the background color of the page on each side.
See documentation for Chart.js. Set labels, sets and the data. 
The graph size for canvas, is the ratio between tham, as it is set globaly responsive.

-->

<div class="band pad boxed band-light-grey">
	<div class="row">
		<div class="large-12 columns large-col-3 centered">
			
				<h3 class="has-stroke marg-bot-half">Block 08<span class="subheader">Graphs can tell beautiful stories</span></h3>
				 
				<p>Tincidunt elementum rhoncus! Nunc purus, lorem ac magnis nec! A adipiscing? Diam, pellentesque, turpis dis amet, dis lundium pulvinar nisi placerat, mattis aliquet? Etiam amet enim aliquam natoque adipiscing? </p>
				<blockquote>- Vi er utrolig fornøyd med resultatet dette gir oss.<br><small>Sindre Gusdal</small></blockquote>
				<p>A sed eros arcu cras tristique. Ultricies ultricies. Rhoncus et nascetur augue facilisis. Enim. Nascetur sagittis! Ut aliquet tortor mauris? Montes! Penatibus enim turpis. Pulvinar nunc, parturient magna sit lectus, aliquet penatibus amet ridiculus magna, a! In sit purus. Adipiscing ac augue! Mauris mattis diam vel vut mauris, montes amet ultricies, rhoncus urna in, augue eu. <p></p>Dolor rhoncus nec facilisis, pellentesque in etiam arcu nascetur scelerisque est dis nunc massa? Adipiscing phasellus. Magna lorem augue porttitor, ac natoque adipiscing amet magnis, sagittis amet sagittis? Ac montes tortor in adipiscing pid, a! Eu enim ridiculus arcu ac nunc a, sit enim, dapibus a sit mus platea tincidunt. Et facilisis magnis et! Enim elementum, enim turpis rhoncus porttitor sed, pid pulvinar lorem.</p>
				<p>Placerat nec urna, rhoncus ultrices sit? Ultrices nec duis tincidunt pulvinar odio ultrices sit, porta, magna ut a, elementum scelerisque purus integer, lorem sociis?</p>
				<ul class="bullet">
					<li>List item 1</li>
					<li>List item 1</li>
					<li>List item 1</li>
					<li>List item 1</li>
					<li>List item 1</li>
				</ul>
			
		</div>
		<div class="large-4 medium-6 small-8 columns small-centered">
			<canvas id="chart-area" width="300" height="300" class="marg-top-3x"/>
		</div>
	</div>
</div>

<!-- END Block 08 -->