<!-- FIX this START Block 11 

This is an default masonry gallery
Spacing can be adjustes in the CSS

-->

<div class="band band-light-grey pad block-11">
	<div class="row">
		<div class="large-12 columns text-center">
			<h3 class="marg-bot">Block 11<span class="subheader">This is Masonry Gallery</span></h3>
			<div id="block-11" class="isotope clearfix">
				<div class="item item-11"><a href="/img/globals/placeholder-08.jpg" class="fancybox" rel="gallery"><img src="/img/globals/placeholder-08.jpg" alt="Sagasystem Mockup"></a></div>
				<div class="item item-11"><a href="/img/globals/placeholder-06.jpg" class="fancybox" rel="gallery"><img src="/img/globals/placeholder-06.jpg" alt="Sagasystem Mockup"></a></div>
				<div class="item item-11"><a href="/img/globals/placeholder-01.jpg" class="fancybox" rel="gallery"><img src="/img/globals/placeholder-01.jpg" alt="Sagasystem Mockup"></a></div>
				<div class="item item-11"><a href="/img/globals/placeholder-02.jpg" class="fancybox" rel="gallery"><img src="/img/globals/placeholder-02.jpg" alt="Sagasystem Mockup"></a></div>
				<div class="item item-11"><a href="/img/globals/placeholder-03.jpg" class="fancybox" rel="gallery"><img src="/img/globals/placeholder-03.jpg" alt="Sagasystem Mockup"></a></div>
				<div class="item item-11"><a href="/img/globals/placeholder-05.jpg" class="fancybox" rel="gallery"><img src="/img/globals/placeholder-05.jpg" alt="Sagasystem Mockup"></a></div>
			</div>
		</div>
	</div>
</div>

<!-- END Block 11 -->