<!-- START Block 14 

Login / Register / FORM
Different Forms added

-->

<div class="band pad band-light-grey">

	<div class="row">

		<div class="large-6 columns">
			<h3><span class="subheader">Block 14</span>Mye for pengene</h3>
			<hr class="dark">
			<p>Firmapakken inneholder de vanligste tjenester og produkter man trenger for online profilering. Dersom du trenger noe enklere eller mer avansert, ber vi deg ta kontakt.</p>
			<ul>
				<li>Kan tilpasses de fleste SMB bedrifter</li>
				<li>Modulbasert og kan skreddersyes ditt behov</li>
				<li>Komplett profil fra logodesign til online-profil</li>
				<li>Integrerte verktøy for online markedsføring</li>
				<li>Perfekt for nystartet bedrift som trenger "alt"</li>
				<li>Optimalisert for høy rangering i søkemotorer</li>
			</ul>
		</div>

		<div class="large-6 columns">
			
			<div class="panel box-shadow">
				<!-- Put here if no padding-->
				<div class="panel-content">
					<div class="band">
						<form class="form-02">
						     <div class="row">
						    <div class="medium-6 columns">
						       <label for="name">Navn *</label>
						      <input id="name" name="name" type="text" placeholder="" required/>
						    </div>
						    <div class="medium-6 columns">
						      <label for="tel">Telefon</label>
						      <input id="tel" name="tel" type="tel" placeholder=""/>
						    </div>
						    <div class="medium-12 columns">
						     <label for="email">Epost *</label>
						       <input id="email" name="email" type="email" placeholder="" required/> 
						    </div>
						  </div>
						 <div class="row">
						  	<div class="medium-12 columns">
						  		<label for="message">Kommentar *</label>
						  		<textarea id="message" name="message" rows="3" placeholder="" required></textarea>	
						  	</div>

						  </div>

						  <div class="row">
						  	<div class="medium-12 columns">
						  		<input type="submit" value="Send" class="btn btn-3 no-marg">
						  		<span style="margin-left:10px">eller bruk: <a href="mailto:post@absoluttweb.no">post@absoluttweb.no</a></span>	
						  	</div>
						  </div>
						</form>
					</div>
				</div>
				<!-- Put here if no padding-->
			</div>
			
		</div>

	</div>

	<div class="row">
		<div class="large-12 columns">
		<h4 class="thick handwriting">Skreddersydd for mobil</h4>
		<hr class="dark">
			<p>Det er ingen nyhet at vi bruker stadig mer mobil. Men som grafen under viser, ble mobil hyppigere brukt en Laptop/PC allered i 2014. Derfor er ikke våre løsninger kun mobilvennlig, men mobiloptimalisert!</p>
		<div class="graph-labels">
			<ul>
				<li class="graph-title">Gjen.snitt timer brukt pr.dag. Tall er fra USA.</li>
				<li><div class="graph-color" style="background-color:#97BBCD"></div> Mobilbruk</li>
				<li><div class="graph-color" style="background-color:#DCDCDC"></div> Laptop/PC</li>
				<li class="graph-comment">Grafen viser at mobilbruken øker hurtig, mens bruk av tradisjonell PC er stabilt. I 2014 var bruken av mobil større.</li>
			</ul>
		</div>
		<canvas id="canvas14" height="1" width="2" class="marg-top marg-bot"></canvas>
		</div>
	</div>

</div>


<!-- END Block 14 -->