<!-- Block 06 -->

<div class="band band-light-grey pad">
	<div class="row">
		<div class="large-12 columns text-center">
			<h1 class="thick">Block 06</h1>
			<p class="lead marg-bot-2x">Absoluttweb utvikler moderne websider av høy kvalitet til normale priser. Hvordan er det mulig? - Vi er en liten bedrift med mye kunnskap, masse erfaring og stort engasjement.</p>
		</div>
	</div>
	<!--<div class="row">
		<div class="large-12 columns text-center">
			<img src="/img/globals/placeholder-02.jpg" class="marg-bot-3x marg-top-2x rounded" style="width:300px;max-width:75%" alt="Title">	
		</div>
	</div>-->
	<div class="row wide marg-bot text-center" data-equalizer>
		<div class="large-4 columns marg-bot" data-equalizer-watch>
			<i class="fa fa-diamond fa-fixed fa-stroke marg-bot-half fa-round"></i>
			<div class="no-wrap">
				<h4> Port</h4>
				<p>Vi følger trendene og mulighetene innen webteknologi og online markedsføring. Moderne, raske og synlige løsninger er garantert!</p>
			</div>
		</div>
		<div class="large-4 columns marg-bot" data-equalizer-watch>
			<i class="fa fa-diamond fa-fixed fa-stroke marg-bot-half fa-round"></i>
			<div class="no-wrap">
				<h4> Port</h4>
				<p>Vi følger trendene og mulighetene innen webteknologi og online markedsføring. Moderne, raske og synlige løsninger er garantert!</p>
			</div>
		</div>
		<div class="large-4 columns marg-bot" data-equalizer-watch>
			<i class="fa fa-diamond fa-fixed fa-stroke marg-bot-half fa-round"></i>
			<div class="no-wrap">
				<h4> Port</h4>
				<p>Vi følger trendene og mulighetene innen webteknologi og online markedsføring. Moderne, raske og synlige løsninger er garantert!</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns text-center">
			<a href="/" class="btn btn-2">Online markedsføring</a>
		</div>
	</div>
</div>

<!-- END Block 06 -->