<!-- 
================================================
Desc:		Simple with only text

Guide:		none
===============================================
-->

<div class="band bottom pad-top pad-bot-half">

	<div class="row text-center">
		<div class="large-12 columns">
			<h3>Company AS</h3>
			<p class="no-marg">Adresse 18, 5350 BERGEN<br>
			<a href="mailto:#">post@domene.no</a><br>
			<a href="tel:#">Tel: 56 12 61 00</a><br><br>
			<a href="#" target="_blank"><i class="fa fa-facebook-square fa-2x no-marg"></i></a>
			<a href="#" target="_blank"><i class="fa fa-linkedin-square fa-2x no-marg"></i></a>	
		</div>
	</div>
		<div class="row wide text-center">
		<div class="large-12 columns">
			<hr>
			<p class="show-for-small">&larr; Swipe &rarr;</p>
			<div class="contact-persons">
					<div id="owl-contactpersons" class="owl-carousel">
						<!-- Owl Item -->
						<div class="item">
							<img src="/img/globals/person.jpg" width="100px" height="100px" class="rounded"><br>
							<p><strong>Fornavn Etternavn</strong><br>
							<pop:jobtitle/>Jobtitle<br>
							<a href="mailto:<pop:email/>"><pop:email/>post@domene.no</a><br>
							<a href="tel:<pop:phone/>"><pop:phone/>55 55 55 55</a>
							</p>
						</div>
						<!-- End Owl Item -->
						<!-- Owl Item -->
						<div class="item">
							<img src="/img/globals/person.jpg" width="100px" height="100px" class="rounded"><br>
							<p><strong>Fornavn Etternavn</strong><br>
							<pop:jobtitle/>Jobtitle<br>
							<a href="mailto:<pop:email/>"><pop:email/>post@domene.no</a><br>
							<a href="tel:<pop:phone/>"><pop:phone/>55 55 55 55</a>
							</p>
						</div>
						<!-- End Owl Item --><!-- Owl Item -->
						<div class="item">
							<img src="/img/globals/person.jpg" width="100px" height="100px" class="rounded"><br>
							<p><strong>Fornavn Etternavn</strong><br>
							<pop:jobtitle/>Jobtitle<br>
							<a href="mailto:<pop:email/>"><pop:email/>post@domene.no</a><br>
							<a href="tel:<pop:phone/>"><pop:phone/>55 55 55 55</a>
							</p>
						</div>
						<!-- End Owl Item --><!-- Owl Item -->
						<div class="item">
							<img src="/img/globals/person.jpg" width="100px" height="100px" class="rounded"><br>
							<p><strong>Fornavn Etternavn</strong><br>
							<pop:jobtitle/>Jobtitle<br>
							<a href="mailto:<pop:email/>"><pop:email/>post@domene.no</a><br>
							<a href="tel:<pop:phone/>"><pop:phone/>55 55 55 55</a>
							</p>
						</div>
						<!-- End Owl Item --><!-- Owl Item -->
						<div class="item">
							<img src="/img/globals/person.jpg" width="100px" height="100px" class="rounded"><br>
							<p><strong>Fornavn Etternavn</strong><br>
							<pop:jobtitle/>Jobtitle<br>
							<a href="mailto:<pop:email/>"><pop:email/>post@domene.no</a><br>
							<a href="tel:<pop:phone/>"><pop:phone/>55 55 55 55</a>
							</p>
						</div>
						<!-- End Owl Item -->
					</div>
			</div>
		</div>
	</div>
</div>