<div class="band pad-half">
	<div class="row">
		<div class="large-12 columns">
			<nav class="breadcrumbs">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/">Parent</a></li>
					<li class="active">Child</li>
				</ul>
			</nav>
		</div>
	</div>
</div>