<!-- 
================================================
Name:			Simple Footer
Path:			Block -> Forms -> form-block-01
Desc:			Just a centered footer with an link

Class:			'footer-block-01'

Modifiers:		none
===============================================
-->

<footer>
	<div class="band footer">
		<div class="row">
			<div class="large-12 columns text-center">
				<p>© 2015 <a href="/" class="fadeOut">Firmanavn AS</a><a href="/styleguide/styleguide-index"> Guide</a></p>
			</div>
		</div>
	</div>
</footer>