<footer>
<div class="band footer">
	<div class="row">
		<div class="large-12 columns text-center">
			<p>© 2015 <a href="/" class="fadeOut">Absoluttweb</a> <a href="/styleguide/styleguide-index"> Guide</a></p>	
		</div>
	</div>
</div>
</footer>