<form class="form-1">
     <div class="row">
    <div class="medium-4 columns">
       
      <input id="name" name="name" type="text" placeholder="Ditt navn"/>
    </div>
    <div class="medium-4 columns">
      
      <input id="mob" name="mob" type="email" placeholder="Din epostadresse"/>
    </div>
    <div class="medium-4 columns">
     
        <input id="email" name="email" type="tel" placeholder="Telefon"/> 
    </div>
  </div>
 <div class="row">
  	<div class="medium-12 columns">
  		<textarea id="message" name="message" rows="6" placeholder="Melding"></textarea>	
  	</div>

  </div>

  <div class="row">
  	<div class="medium-12 columns">
  		<input type="submit" value="Kontakt meg!" class="btn btn-form btn-small">	
  	</div>
  </div>
</form>