<!-- Header 01 

Header as in Absoluttweb 2015
Top is transparent and overlayed.
Can use different images for pages, by changing the "bg-img-**" class. That can
then be done dynamically.
Set inline styling to fit Theme. Overlay color is set to black in SCSS by default.
TODO: Add 100% Height script with scroll-down animated button
-->

<div class="band band-img bg-placeholder-1 header">
  <div class="overlay" style="opacity:0.7;background-color:white"></div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="container">   
          <h1>Building with blocks</h1>
          <h2>The Framework of Absoluttweb</h2>
        </div>
      </div>
       <div class="small-8 medium-6 columns small-centered medium-uncentered">
        <div class="container text-center">
          <img src="/img/globals/placeholder-07.jpg" class="round">
        </div>
      </div>
    </div>
	<!--<div class="tilt-top-box" style="background-color:#CFA08F"></div>
	<div class="tilt-bottom-box" style="background-color:#F1F1EF"></div>-->
</div>

<!-- END Header 01 -->