<!-- PORT 02 -->

<div class="band band-light-grey pad">
	<div class="row" data-equalizer>

		<div class="large-6 columns end">
			<div class="panel panel-light-grey" data-equalizer-watch>
				<div class="panel-content" style="border:5px solid white">
					<div class="row">
						<div class="large-2 columns">
							<i class="fa fa-play fa-color-dark-grey fa-4x"></i> 	
						</div>
						<div class="large-10 columns">
							<h5>Loren Title</h5>
							<p class="no-marg">Tincidunt elementum rhoncus! Nunc purus, lorem ac magnis nec! A adipiscing? Diam, pellentesque, turpis dis amet, dis lundium pulvinar nisi placerat</p>	
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="large-6 columns end">
			<div class="panel panel-light-grey" data-equalizer-watch>
				<div class="panel-content" style="border:5px solid white">
					<div class="row">
						<div class="large-2 columns">
							<i class="fa fa-play fa-color-dark-grey fa-4x"></i> 	
						</div>
						<div class="large-10 columns">
							<h5>Loren Title</h5>
							<p class="no-marg">Tincidunt elementum rhoncus! Nunc purus, lorem ac magnis nec! A adipiscing? Diam, pellentesque, turpis dis amet, dis lundium pulvinar nisi placerat</p>	
						</div>
					</div>

				</div>
			</div>
		</div>	
	</div>
</div>

<!-- END Port 02 -->