<!-- PRETOP 01
Call, email and a cto-button
-->

<div class="band band-pretop hide-for-small pretop-01">
  <div class="row">
    <div class="medium-6 columns text-left">
      <div class="pretop-icons">
        <a href="tel:4"><i class="fa fa-phone fa-color-white"></i> 56 33 33 33</a>
        <a href="tel:4"><i class="fa fa-envelope fa-color-white"></i> post@company.no</a>
      </div>
    </div>
    <div class="medium-6 columns text-right">
    </div>
  </div>
</div>