<!-- TOP 03
centered navbar with no logo, and an animated burger
Options: FIXED, CLONE
-->

<div class="band band-top top-03">
  <div class="row">
    <div class="large-12 columns text-center">
      <nav class=" hide-for-small">
        <ul class="sf-menu centered">
          {% include 'basics/menu' %}
        </ul>
      </nav>
      <a data-trigger="aa-menu" style="display:inline-block;padding:1rem">
        <div id="nav-icon4" class="show-for-small">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </a>
    </div>
  </div>
</div>