<!-- TOP 03
centered navbar with no logo, and an animated burger
Options: FIXED, CLONE
-->

<div class="band top-03">
  <div class="row">
    <div class="large-12 columns text-center">
      <nav class=" hide-for-small">
        <ul class="sf-menu centered">
          {% include 'basics/menu' %}
        </ul>
      </nav>
      <div id="nav-icon4" class="show-for-small" data-trigger="aa-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>