<!--
Only logo centered.
-->

<div class="band">
  <div class="row wide">
    <div class="small-12 small-centered columns">
      <h2 class="logo text-center"><a href="/">LOGO</a></h2>
    </div>
  </div>
</div>