<!-- TOP 01

This is the default top with logo left an d nav right.

Can use fixed/sticky or clone
TODO: If fixed then add a placeholder or marging to the page

-->

<div class="band band-top top-01 clone">
  <div class="row">
    <div class="small-3 large-4 columns">
      <h2 class="logo"><a href="/" class="fadeOut">LOGO</a></h2>
    </div>
    <div class="small-9 large-8 columns">
      <nav class=" hide-for-small">
        <ul class="sf-menu right">
          {% include 'basics/menu' %}
        </ul>
      </nav>
      <a class="burger show-for-small right" data-trigger="aa-menu"><span><i class="fa fa-bars"></i></span> </a>
      <a href="tel:xxxxxxxx" class="top-icon phone show-for-small right"><span><i class="fa fa-phone"></i></span></a>
    </div>
  </div>
</div>