//Profile Colors
//-------------------------------------------------------------------------------------

$primary-color: #2A363F;
$secondary-color: #7399E7;
$third-color: #75D366;
$fourth-color: #75D366;

//Grey Colors
//-------------------------------------------------------------------------------------
$light-grey-color: #EEEEEE;
$medium-grey-color: grey;
$dark-grey-color: $primary-color;


//Social Colors
//-------------------------------------------------------------------------------------

$facebook-color: #3B5998;
$twitter-color: #55ACEE;
$google-plus-color: #DD4B38;
$linkedin-color: #0077B5;
$pinterest-color: #D72329;
$rss-color: #ED7B08;
$vimeo-color: #44BBFF;
$link-color: #2196F3;


//System Colors
//-------------------------------------------------------------------------------------
$default-color: #efefef;
$correct-color: #80D480;
$error-color: #e71634;