//Profile Colors
//-------------------------------------------------------------------------------------

$primary-color: #0084B4;
$secondary-color: #FB970D;
$third-color: #5BA921;
$fourth-color: #E75627;

//Grey Colors
//-------------------------------------------------------------------------------------
$light-grey-color: #EBEFF4;
$medium-grey-color: #A4A4A4;
$dark-grey-color: #202020;


//Social Colors
//-------------------------------------------------------------------------------------

$facebook-color: #3B5998;
$twitter-color: #55ACEE;
$google-plus-color: #DD4B38;
$linkedin-color: #0077B5;
$pinterest-color: #D72329;
$rss-color: #ED7B08;
$vimeo-color: #44BBFF;
$link-color: #2196F3;


//System Colors
//-------------------------------------------------------------------------------------
$default-color: #efefef;
$correct-color: #80D480;
$error-color: #e71634;