@import "_colors.scss";

//Fontkit
//-------------------------------------------------------------------------------------

//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,400italic,600,300);
@import "fontkits/_fokushms.scss";

//Pagesizes
//-------------------------------------------------------------------------------------
$page-width: 1180px;
$column-gutter:30px;
$band-padding: 6em;
$headers: #{h1,h2,h3,h4,h5,h6};
$box-padding: 0.5em 1em;
$wide-width: 1650px;
$sidenav-width: 0;


//Layout
//-------------------------------------------------------------------------------------
$bg-color: white;
$bg-image: none; //image, pattern or none
$global-radius: 3px;
$frame-size: 30%;


//Type and elements
//-------------------------------------------------------------------------------------
$font-family: 'Open Sans','Helvetica Neue',Helvetica,Helvetica,Arial,sans-serif !default;
$font-weight: 400 !default;
$font-thin: 300 !default;
$font-thick: 800 !default;
$lead-size: 1.2em !default;
$strong-weight: 600 !default;
$font-handwriting: $font-family !default;
$font-size: 14px;
$font-color: #505050;
$font-line-height: 1.62em;
$strong-color: $dark-grey-color;
$link-color: $primary-color;
$link-weight: $font-weight;
$subtle-lighten: 50%;

//Header
//-------------------------------------------------------------------------------------
$headers: h1,h2,h3,h4,h5,h6;
$header-family: $font-family !default;
$header-weight: 800 !default;
$header-weight-thin: 400 !default;
$header-weight-thick: 900 !default;
$header-letter-spacing: 0.25px !default;
$header-text-transform: uppercase !default;
$header-color: $dark-grey-color;

$subheader-family: $header-family !default;
$subheader-weight: 300 !default;
$subheader-size: 13px;
$subheader-style: normal;
$subheader-color: lighten($font-color, 20%);
$subheader-letter-spacing: 0;
$subheader-text-transform:uppercase;

//logo
//-------------------------------------------------------------------------------------
$logo-width: 220px; //180
$logo-height: 45px; //24
$logo-margin: 35px;
	//Calculation used in aligning logo and navigation
	$logo-space: $logo-height + ($logo-margin * 2); // static in EM


//Navigation
//-------------------------------------------------------------------------------------
$nav-logo-adjust: true; //Will vertically center nav with logo
$nav-padding: 1em; // Padding of the LI elements
$nav-height: 50px; // height of superfish UL. Used to calculate correct
$sticky-shrink: 0.7; // How much logo and margins will shrink on small screens

$nav-family: $font-family !default;
$nav-font-size: 14px !default;
$nav-font-weight: 600 !default;
$nav-text-transform: uppercase !default;
$nav-letter-spacing: 1px !default;
$nav-border-color: $light-grey-color;
$nav-border-weight: 0px;
$nav-bg: transparent;
$nav-color: white;

		//Active
		$nav-color-active: $primary-color;
		$nav-bg-active: transparent;
		$nav-border-active: $third-color;
		$nav-border-size-active: 0;

		//Hover and focus
		$nav-color-hover: $primary-color;
		$nav-bg-hover: transparent;
		$nav-border-hover: $third-color;
		$nav-border-size-active: 0;

		//Sublevels
		$nav-sublevel-bg: $light-grey-color;
		$nav-sublevel-bg-hover: $light-grey-color;
		$nav-sublevel-bg-active: $light-grey-color;
		$nav-sublevel-color: $primary-color;
		$nav-sublevel-color-hover: $font-color;
		$nav-sublevel-color-active: $font-color;
		$nav-sublevel-border: 1px solid darken($light-grey-color, 5%);
		$nav-sublevel-text-transform: none;
		$nav-sublevel-font-size: 0.75em;
		$nav-sublevel-font-weight: 300;


//AA Menu
//-------------------------------------------------------------------------------------
$aa-menu-show-close: false;
$aa-menu-height: 350px;
$aa-menu-text-align: center;
$aa-menu-bullets: false;
$aa-menu-bg-image: true;
$aa-menu-bg: #E4E3DF;
$aa-menu-line-difference:5%;
$aa-menu-font-color: $dark-grey-color;
$aa-menu-close-color: #ffffff;

$aa-menu-font-family: 'Montserrat';
$aa-menu-font-size: 18px;
$aa-menu-font-weight: 500;
$aa-menu-letter-spacing: $nav-letter-spacing;
	
	//Active
	$aa-menu-font-color-active: $primary-color;
	$aa-menu-font-weight-active: 900;


//Burger Icon
//-------------------------------------------------------------------------------------
$burger-position: center;
$burger-size: 28px;
$burger-bg-color: $light-grey-color;
$burger-color: #252A2E;
$burger-color-active: red;
$burger-border: false;
$burger-border-color: #3B4761;


//Sticky Nav
//-------------------------------------------------------------------------------------

$sticky-opacity: 1; // How much opacity on scroll


//Type on phone
//-------------------------------------------------------------------------------------
$phone-font-size: 0.9em;


//Hr
//-------------------------------------------------------------------------------------
$hr-color: $light-grey-color;
$hr-size: 1px;


//Header sizes (Large Screen. Small is adjusted by percent)
//-------------------------------------------------------------------------------------
$h1:3em; //Not in use
$h2:2.5em; //Not in use
$h3:1.7em;
$h4:1.2em;
$h5:1em; //Not in use
$h6:1em; //Not in use


//Breadcrumbs
//--------------------------
$breadcrumbs-transform: uppercase;
$breadcrumbs-size: 12px;
$breadcrumbs-color: $primary-color;
$breadcrumbs-active: $font-color;


//Icons Share, search and map
//-------------------------------------------------------------------------------------
$nav-icon-color: $nav-color;
$nav-icon-size: $nav-font-size;
$nav-icon-padding: $nav-padding;


//Panels
//-------------------------------------------------------------------------------------
$panel-bg:white;
$panel-padding:2rem;


//Tabs
//-------------------------------------------------------------------------------------
$tab-font-size: 0.9em;
$tab-font-weight: 400;
$tab-text-transform: normal;
$tab-padding: 0.45em 1em 0.35em;
$tab-bg-color: $light-grey-color;
$tab-border-color: $light-grey-color;
$tab-color: $font-color;
$tab-bg-active-color: $third-color;
$tab-border-active-color: darken($third-color, 5%);
$tab-active-color: white;


//Forms
//-------------------------------------------------------------------------------------
$form-label-size: 0.85em;
$form-label-weight: $font-weight;
$form-label-color: $font-color;
$form-label-text-transform:uppercase;

$form-input-size: 1em;
$form-input-color: $font-color;
$form-input-bg: white;
$form-border-color: $light-grey-color;
$form-border-size: 2px;
	//Active and Focus
	$form-input-bg-active: white;
	$form-border-color-active: $primary-color;

$form-placeholder-color:lighten($font-color, 10%);


//Fullscreen
//-------------------------------------------------------------------------------------
$fullscreen-bg: white;
$fullscreen-close: $third-color;


//Buttons
//-------------------------------------------------------------------------------------
$button-family: $font-family;
$button-padding: 1.25em 2em;
$button-font-weight: 800;
$button-color: white;
$button-font-size: 0.86em;
$button-letter-spacing: 1px;
$button-text-transform: uppercase;


//Dropdowns
//-------------------------------------------------------------------------------------
$dropdown-bg: $light-grey-color;
$dropdown-border: 1px solid darken($light-grey-color, 10%);
$dropdown-font-weight: 400;
$dropdown-color: $primary-color;
$dropdown-font-size: 1em;
$dropdown-letter-spacing: 0em;
$dropdown-text-transform: none;
$dropdown-bg-hover: darken($light-grey-color, 10%);
$dropdown-color-hover: $secondary-color;


//Lists
//-------------------------------------------------------------------------------------
$list-icon: "\f046";
$list-icon-color: $secondary-color;
$list-divider: 1px solid $light-grey-color;


//Sticky Footer
//-------------------------------------------------------------------------------------
$footer-height: 123px; // Height of the footer


//Gmap
//-------------------------------------------------------------------------------------
$gmap-box-height: 50%;
$gmap-header-height: 350px;


//Left aside
//-------------------------------------------------------------------------------------
$left-aside-width: 300px;


//Screen Sizes
//-------------------------------------------------------------------------------------
$small-size: 0;
$medium-size: 760px; // Burger menu trigger
$large-size: $page-width;
$xlarge-size: 1580px; // Also the size of the boxed wrapper
$xxlarge-size: 1900px;