@import "_variables.scss";
@import "_mixins.scss";

/* Block 1 - Split Screen. Image and content.
In this Block an image fills the left/right column, and there is content in the other.
================================================================ */
.block-01 {
	.img {
		position: relative;
		display: block;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		// ONLY Small
		@media only screen and (max-width: $medium-size) {
			position: relative;
			height: 200px !important;
		}	
	}
	.container {
		padding: 7% 7%;
		max-width:1000px;
	}
	a.btn {
		position: absolute;
		text-align: center;
		right: $column-gutter;
		left: $column-gutter;
		max-width: 250px;
		bottom: 50%;
		margin: 0 0 -25px 0;
	}
}

/* Block 2 - Only Big Button(s).
Colors shall be set in style.scss, but the rest goes to block.scss
================================================================ */
.block-2 {
	a {
		display: block;
		color: white;
		text-align: center;
		padding: 6% 3%;
		background-color: white;
		@include transition(100ms);
		h5 {
			color: white;
		}
		p {
			color: white;
			margin: 0;
		}
		&.btn-facebook {
			background-color: #3E588E;
			&:hover {
				@include transition(300ms);
				@include transform(1.1);
			}
			
		}
		&.btn-instagram {
			background-color: #252020;
			&:hover {
				@include transition(300ms);
				@include transform(1.1);
			}
		}
	}
}

/* Block 4 - Isotope Articles in panel.
Can have Icons on top
================================================================ */
.block-04 {
	.panel {
		position: relative;
		padding-top: 50px;
	}
	.icon {
		display: block;
		position: absolute;
		width: 64px;
		height: 64px;
		top: -10px;
		left: 32px;
		margin-left: -32px;
		text-align: center;
		line-height: 64px;
		background-color: $primary-color;
		img {
			width: 32px;
		}
	}
}
#block-04 {
	.item {
		width: 50%;
		padding: 10px;
		// ONLY Small
		@media only screen and (max-width: $medium-size) {
			width: 100%;
		}	
	}
}

/* Block 05 - Parallax with white text;
================================================================ */

.block-05 {
	background-color: $primary-color;
	@include type-color (#ffffff,#ffffff);
	.wide {
		width: 80%;
	}
}


/* Block 09 - Wide panel in background
================================================================ */
.block-09 {
	.wide-panel {
		width: 75%;
		margin: 0 auto;
		background-color: white;
		padding: 5% 2%;
		// MEDIUM-DOWN
		@media only screen and (max-width: $large-size) {
			width:90%;
		}
	}
}


/* Block 10 - Big Contact buttons. Title, icon, link
================================================================ */
.block-10 {
	a.btn {
		width: 95%;
		letter-spacing: 1px;
		font-family: "montserrat";
		p {
			margin:0;
		}
		// ONLY Small
		@media only screen and (max-width: $medium-size) {
			.fa-fixed-2x {
				height: 20px;
				width: 20px;
				line-height: 20px;
			}
		}
	}
}

/* Block 11 - Isotope galleri. Default settings images with 
hovers and Fancybox link
================================================================ */
.block-11 {
	.item {
		padding: 5px;
	}
	a.fancybox {
		display: block;
		@include transition (200ms);
		&:hover {
			@include transition (400ms);
			z-index: 3;
			position: relative;
			opacity: 0.8;
		}
	}	
}

/* Block 12 - Centered Title with intro below. then an centered
image with 3 ports on the bottom
================================================================ */
.block-12 {
}

/* Block 13 - Ports as on Harddisk and BEA
================================================================ */
.block-13 {
	.loader {
		visibility: hidden;
	}

	a {
		@include transition (100ms);
		&:hover {
			@include transform ($scale:1.05);
			@include transition (300ms);
			z-index: 2;

		}
		display: block;
		padding: 8% 0;
		position: relative;
		h3,h4,p {
			color: white;
		}
		h3 {
			text-transform: uppercase;
			font-weight: 400;
			font-size: 1.25em;
		}
		h4 {
			font-weight: 300;
		}
		img.rounded {
			display: inline-block;
			width: 80px;
			height: 80px;
			border: 1px solid $light-grey-color;
			border-radius: 80px;
			margin-bottom: 1em;
		}
		&.primary {
			background-color: $primary-color;
		}
		&.dark-grey {
			background-color: $dark-grey-color;
		}
		&.image {
			background-size: cover;
			background-position: center center;
			h3 {
				position: absolute;
				top: 50%;
				margin-top: -9px;
				width: 100%;
				text-align: center;
			}
		}
	}
}

/* Block 14 - Signup / Register / Contact Forms
================================================================ */
form.form-02 {
	textarea,input:not([type="submit"]) {
		border-top-width: 0; 
		border-right-width: 0;
		border-left-width: 0;
		padding: 0;
	}
	input:not([type="submit"]) {
		height: 2em;
	}
}


/* Block-20 - Header as Absoluttweb 2015
================================================================ */

.block-20 { 
	overflow: hidden;
	margin:0 0px 0px;
	//border-bottom:5px solid #775F50;
	.container {
		text-align: center;
		padding: 13% 0 25%;
		// Small only
		@media only screen and (max-width: $medium-size) {
			padding: 16% 0 35%;
		}
		
		div.hero {
			display: block;
			width: 110px;
			height: 110px;
			background:transparent url("/img/theme/logo-icon-220.png") no-repeat center center;
			background-size: cover;
			margin: 0 auto;
			// Small only
			@media only screen and (max-width: $medium-size) {
				width:75px;
				height: 75px;
			}
		}
		.header-type {
			font-family: 'montserrat';
			font-weight: 300;
			letter-spacing: 0.3em;
			color: white;
		}
		h1 {
			padding-top: 3%;
			font-size: 100%;
			@extend .header-type;
		}
		h2 {
			padding-top: 7%;
			font-size: 300%;
			@extend .header-type;

			// Medium only
			@media only screen and (max-width: $large-size) {
				font-size: 250%;
			}
			// Small only
			@media only screen and (max-width: $medium-size) {
				font-size: 200%;
				text-align: center;
			}
		}
		.line {
			display: block;
			height: 3px;
			background-color: white;
			width: 33%;
			margin: 0 auto;
		}
	}
	.tilt-top-box {
		-moz-transform: rotate(-4.2deg);
		-webkit-transform: rotate(-4.2deg);
		-o-transform: rotate(-4.2deg);
		-ms-transform: rotate(-4.2deg);
		transform: rotate(-4.2deg);
		display:block;
		width:110%;
		height: 5%;
		position: absolute;
		bottom: 5%;
		left: -5%;
	}
	.tilt-bottom-box {
		-moz-transform: rotate(-3.5deg);
		-webkit-transform: rotate(-3.5deg);
		-o-transform: rotate(-3.5deg);
		-ms-transform: rotate(-3.5deg);
		transform: rotate(-3.5deg);
		display:block;
		width:110%;
		height: 16%;
		position: absolute;
		bottom: -8%;
		left: -5%;
	}

	.small {
		.header-container {
			padding: 8% 0 15%;
			// Small only
			@media only screen and (max-width: $medium-size) {
				padding: 8% 0 25%;
			}
		}
		.tilt-top-box {
			bottom:12%;
			height: 8%;
		}
		.tilt-bottom-box {
			bottom:-16%;
			height: 32%;
		}
	}
}

