@charset "UTF-8";
/* Components
================================================================ */
/* ACCORDION
======================================================== */
.accordion p.question {
  position: relative;
  cursor: pointer;
  margin: 0;
  border-top: 1px dotted #e7e7e7;
  padding: 0.25em 0; }

.accordion p.question:before {
  content: "\f055";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  padding-right: 5px; }

.accordion p.question.current {
  cursor: default; }

.accordion p.question.current:before {
  content: "\f056"; }

/* Band
====================================== */
.band {
  position: relative; }
  .band.boxed {
    max-width: 100%;
    max-width: 1580px;
    margin-left: auto;
    margin-right: auto; }
  .band.bg-img, .band.band-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
    .band.bg-img.fixed, .band.band-img.fixed {
      background-attachment: fixed; }
    .band.bg-img.darken:before, .band.band-img.darken:before {
      content: " ";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      background-color: black;
      opacity: 0.8; }
  .band.pad {
    padding: 6em 0; }
    @media only screen and (max-width: 760px) {
      .band.pad {
        padding: 3em 0; } }
  .band.pad-half {
    padding: 3em 0; }
    @media only screen and (max-width: 760px) {
      .band.pad-half {
        padding: 1.5em 0; } }
  .band.pad-2x {
    padding: 9em 0; }
    @media only screen and (max-width: 760px) {
      .band.pad-2x {
        padding: 6em 0; } }
  .band.pad-top {
    padding-top: 6em; }
    @media only screen and (max-width: 760px) {
      .band.pad-top {
        padding-top: 3em; } }
  .band.pad-top-half, .band.pad-half-top {
    padding-top: 3em; }
    @media only screen and (max-width: 760px) {
      .band.pad-top-half, .band.pad-half-top {
        padding-top: 1.5em; } }
  .band.no-pad-top, .band.no-top-half {
    padding-top: 0; }
  .band.pad-bot {
    padding-bottom: 6em; }
    @media only screen and (max-width: 760px) {
      .band.pad-bot {
        padding-bottom: 3em; } }
  .band.pad-bot-half, .band.pad-half-bot {
    padding-bottom: 3em; }
    @media only screen and (max-width: 760px) {
      .band.pad-bot-half, .band.pad-half-bot {
        padding-bottom: 1.5em; } }
  .band.no-pad-bot, .band.no-bot-pad {
    padding-bottom: 0; }
  .band.band-white {
    background-color: white; }
  .band.band-black {
    background-color: black; }
  .band.band-primary {
    background-color: #2A363F; }
  .band.band-light-grey {
    background-color: #e7e7e7; }

/* Basic Button
====================================== */
.btn, button, input[type="submit"], input[type="reset"] {
  display: inline-block;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  font-size: 0.86em;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 1.25em 2em;
  line-height: 1em;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: none; }
  .btn.radius, button.radius, input[type="submit"].radius, input[type="reset"].radius {
    border-radius: 3px; }
  .btn.round, button.round, input[type="submit"].round, input[type="reset"].round {
    border-radius: 999px; }
  .btn.large, button.large, input[type="submit"].large, input[type="reset"].large {
    font-size: 1.118em; }
  .btn.x-large, button.x-large, input[type="submit"].x-large, input[type="reset"].x-large {
    font-size: 1.72em; }
  .btn.small, button.small, input[type="submit"].small, input[type="reset"].small {
    font-size: 0.688em; }
  .btn.wide, button.wide, input[type="submit"].wide, input[type="reset"].wide {
    width: 100%;
    text-align: center; }
  .btn.dashed, button.dashed, input[type="submit"].dashed, input[type="reset"].dashed {
    border-style: dashed; }
  .btn.btn-primary, button.btn-primary, input[type="submit"].btn-primary, input[type="reset"].btn-primary {
    color: #ffffff !important;
    background-color: #2A363F;
    border: 1px solid #202930; }
    .btn.btn-primary.with-icon .fa, button.btn-primary.with-icon .fa, input[type="submit"].btn-primary.with-icon .fa, input[type="reset"].btn-primary.with-icon .fa {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid rgba(255, 255, 255, 0.2); }
    .btn.btn-primary.border, button.btn-primary.border, input[type="submit"].btn-primary.border, input[type="reset"].btn-primary.border {
      border: 0.1em solid #202930; }
      .btn.btn-primary.border.dashed, button.btn-primary.border.dashed, input[type="submit"].btn-primary.border.dashed, input[type="reset"].btn-primary.border.dashed {
        border-style: dashed; }
    .btn.btn-primary.shadow, button.btn-primary.shadow, input[type="submit"].btn-primary.shadow, input[type="reset"].btn-primary.shadow {
      border-bottom: 2px solid #202930; }
    .btn.btn-primary.popout, button.btn-primary.popout, input[type="submit"].btn-primary.popout, input[type="reset"].btn-primary.popout {
      border: none;
      border-top: 1px solid #34434e;
      border-bottom: 1px solid #202930; }
    .btn.btn-primary:hover, .btn.btn-primary:focus, button.btn-primary:hover, button.btn-primary:focus, input[type="submit"].btn-primary:hover, input[type="submit"].btn-primary:focus, input[type="reset"].btn-primary:hover, input[type="reset"].btn-primary:focus {
      background-color: #34434e;
      border-color: #2A363F;
      color: #ffffff; }
  .btn.btn-secondary, button.btn-secondary, input[type="submit"].btn-secondary, input[type="reset"].btn-secondary {
    color: white !important;
    background-color: #7399E7;
    border: 1px solid #5d89e3; }
    .btn.btn-secondary.with-icon .fa, button.btn-secondary.with-icon .fa, input[type="submit"].btn-secondary.with-icon .fa, input[type="reset"].btn-secondary.with-icon .fa {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid rgba(255, 255, 255, 0.2); }
    .btn.btn-secondary.border, button.btn-secondary.border, input[type="submit"].btn-secondary.border, input[type="reset"].btn-secondary.border {
      border: 0.1em solid #5d89e3; }
      .btn.btn-secondary.border.dashed, button.btn-secondary.border.dashed, input[type="submit"].btn-secondary.border.dashed, input[type="reset"].btn-secondary.border.dashed {
        border-style: dashed; }
    .btn.btn-secondary.shadow, button.btn-secondary.shadow, input[type="submit"].btn-secondary.shadow, input[type="reset"].btn-secondary.shadow {
      border-bottom: 2px solid #5d89e3; }
    .btn.btn-secondary.popout, button.btn-secondary.popout, input[type="submit"].btn-secondary.popout, input[type="reset"].btn-secondary.popout {
      border: none;
      border-top: 1px solid #89a9eb;
      border-bottom: 1px solid #5d89e3; }
    .btn.btn-secondary:hover, .btn.btn-secondary:focus, button.btn-secondary:hover, button.btn-secondary:focus, input[type="submit"].btn-secondary:hover, input[type="submit"].btn-secondary:focus, input[type="reset"].btn-secondary:hover, input[type="reset"].btn-secondary:focus {
      background-color: #89a9eb;
      border-color: #7399E7;
      color: white; }
  .btn.btn-link, button.btn-link, input[type="submit"].btn-link, input[type="reset"].btn-link {
    color: white !important;
    background-color: #2A363F;
    border: 1px solid #202930; }
    .btn.btn-link.with-icon .fa, button.btn-link.with-icon .fa, input[type="submit"].btn-link.with-icon .fa, input[type="reset"].btn-link.with-icon .fa {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid rgba(255, 255, 255, 0.2); }
    .btn.btn-link.border, button.btn-link.border, input[type="submit"].btn-link.border, input[type="reset"].btn-link.border {
      border: 0.1em solid #202930; }
      .btn.btn-link.border.dashed, button.btn-link.border.dashed, input[type="submit"].btn-link.border.dashed, input[type="reset"].btn-link.border.dashed {
        border-style: dashed; }
    .btn.btn-link.shadow, button.btn-link.shadow, input[type="submit"].btn-link.shadow, input[type="reset"].btn-link.shadow {
      border-bottom: 2px solid #202930; }
    .btn.btn-link.popout, button.btn-link.popout, input[type="submit"].btn-link.popout, input[type="reset"].btn-link.popout {
      border: none;
      border-top: 1px solid #34434e;
      border-bottom: 1px solid #202930; }
    .btn.btn-link:hover, .btn.btn-link:focus, button.btn-link:hover, button.btn-link:focus, input[type="submit"].btn-link:hover, input[type="submit"].btn-link:focus, input[type="reset"].btn-link:hover, input[type="reset"].btn-link:focus {
      background-color: #34434e;
      border-color: #2A363F;
      color: white; }
  .btn.btn-light-grey, button.btn-light-grey, input[type="submit"].btn-light-grey, input[type="reset"].btn-light-grey {
    color: #2A363F !important;
    background-color: #e7e7e7;
    border: 1px solid #dadada; }
    .btn.btn-light-grey.with-icon .fa, button.btn-light-grey.with-icon .fa, input[type="submit"].btn-light-grey.with-icon .fa, input[type="reset"].btn-light-grey.with-icon .fa {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid rgba(42, 54, 63, 0.2); }
    .btn.btn-light-grey.border, button.btn-light-grey.border, input[type="submit"].btn-light-grey.border, input[type="reset"].btn-light-grey.border {
      border: 0.1em solid #dadada; }
      .btn.btn-light-grey.border.dashed, button.btn-light-grey.border.dashed, input[type="submit"].btn-light-grey.border.dashed, input[type="reset"].btn-light-grey.border.dashed {
        border-style: dashed; }
    .btn.btn-light-grey.shadow, button.btn-light-grey.shadow, input[type="submit"].btn-light-grey.shadow, input[type="reset"].btn-light-grey.shadow {
      border-bottom: 2px solid #dadada; }
    .btn.btn-light-grey.popout, button.btn-light-grey.popout, input[type="submit"].btn-light-grey.popout, input[type="reset"].btn-light-grey.popout {
      border: none;
      border-top: 1px solid #f4f4f4;
      border-bottom: 1px solid #dadada; }
    .btn.btn-light-grey:hover, .btn.btn-light-grey:focus, button.btn-light-grey:hover, button.btn-light-grey:focus, input[type="submit"].btn-light-grey:hover, input[type="submit"].btn-light-grey:focus, input[type="reset"].btn-light-grey:hover, input[type="reset"].btn-light-grey:focus {
      background-color: #f4f4f4;
      border-color: #e7e7e7;
      color: #2A363F; }
  .btn.btn-black, button.btn-black, input[type="submit"].btn-black, input[type="reset"].btn-black {
    color: #e7e7e7 !important;
    background-color: #000000;
    border: 1px solid black; }
    .btn.btn-black.with-icon .fa, button.btn-black.with-icon .fa, input[type="submit"].btn-black.with-icon .fa, input[type="reset"].btn-black.with-icon .fa {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid rgba(231, 231, 231, 0.2); }
    .btn.btn-black.border, button.btn-black.border, input[type="submit"].btn-black.border, input[type="reset"].btn-black.border {
      border: 0.1em solid black; }
      .btn.btn-black.border.dashed, button.btn-black.border.dashed, input[type="submit"].btn-black.border.dashed, input[type="reset"].btn-black.border.dashed {
        border-style: dashed; }
    .btn.btn-black.shadow, button.btn-black.shadow, input[type="submit"].btn-black.shadow, input[type="reset"].btn-black.shadow {
      border-bottom: 2px solid black; }
    .btn.btn-black.popout, button.btn-black.popout, input[type="submit"].btn-black.popout, input[type="reset"].btn-black.popout {
      border: none;
      border-top: 1px solid #0d0d0d;
      border-bottom: 1px solid black; }
    .btn.btn-black:hover, .btn.btn-black:focus, button.btn-black:hover, button.btn-black:focus, input[type="submit"].btn-black:hover, input[type="submit"].btn-black:focus, input[type="reset"].btn-black:hover, input[type="reset"].btn-black:focus {
      background-color: #0d0d0d;
      border-color: #000000;
      color: #e7e7e7; }
  .btn.btn-medium-grey, button.btn-medium-grey, input[type="submit"].btn-medium-grey, input[type="reset"].btn-medium-grey {
    color: white !important;
    background-color: grey;
    border: 1px solid #737373; }
    .btn.btn-medium-grey.with-icon .fa, button.btn-medium-grey.with-icon .fa, input[type="submit"].btn-medium-grey.with-icon .fa, input[type="reset"].btn-medium-grey.with-icon .fa {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid rgba(255, 255, 255, 0.2); }
    .btn.btn-medium-grey.border, button.btn-medium-grey.border, input[type="submit"].btn-medium-grey.border, input[type="reset"].btn-medium-grey.border {
      border: 0.1em solid #737373; }
      .btn.btn-medium-grey.border.dashed, button.btn-medium-grey.border.dashed, input[type="submit"].btn-medium-grey.border.dashed, input[type="reset"].btn-medium-grey.border.dashed {
        border-style: dashed; }
    .btn.btn-medium-grey.shadow, button.btn-medium-grey.shadow, input[type="submit"].btn-medium-grey.shadow, input[type="reset"].btn-medium-grey.shadow {
      border-bottom: 2px solid #737373; }
    .btn.btn-medium-grey.popout, button.btn-medium-grey.popout, input[type="submit"].btn-medium-grey.popout, input[type="reset"].btn-medium-grey.popout {
      border: none;
      border-top: 1px solid #8d8d8d;
      border-bottom: 1px solid #737373; }
    .btn.btn-medium-grey:hover, .btn.btn-medium-grey:focus, button.btn-medium-grey:hover, button.btn-medium-grey:focus, input[type="submit"].btn-medium-grey:hover, input[type="submit"].btn-medium-grey:focus, input[type="reset"].btn-medium-grey:hover, input[type="reset"].btn-medium-grey:focus {
      background-color: #8d8d8d;
      border-color: grey;
      color: white; }
  .btn.btn-dark-grey, button.btn-dark-grey, input[type="submit"].btn-dark-grey, input[type="reset"].btn-dark-grey {
    color: white !important;
    background-color: #272727;
    border: 1px solid #1a1a1a; }
    .btn.btn-dark-grey.with-icon .fa, button.btn-dark-grey.with-icon .fa, input[type="submit"].btn-dark-grey.with-icon .fa, input[type="reset"].btn-dark-grey.with-icon .fa {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid rgba(255, 255, 255, 0.2); }
    .btn.btn-dark-grey.border, button.btn-dark-grey.border, input[type="submit"].btn-dark-grey.border, input[type="reset"].btn-dark-grey.border {
      border: 0.1em solid #1a1a1a; }
      .btn.btn-dark-grey.border.dashed, button.btn-dark-grey.border.dashed, input[type="submit"].btn-dark-grey.border.dashed, input[type="reset"].btn-dark-grey.border.dashed {
        border-style: dashed; }
    .btn.btn-dark-grey.shadow, button.btn-dark-grey.shadow, input[type="submit"].btn-dark-grey.shadow, input[type="reset"].btn-dark-grey.shadow {
      border-bottom: 2px solid #1a1a1a; }
    .btn.btn-dark-grey.popout, button.btn-dark-grey.popout, input[type="submit"].btn-dark-grey.popout, input[type="reset"].btn-dark-grey.popout {
      border: none;
      border-top: 1px solid #343434;
      border-bottom: 1px solid #1a1a1a; }
    .btn.btn-dark-grey:hover, .btn.btn-dark-grey:focus, button.btn-dark-grey:hover, button.btn-dark-grey:focus, input[type="submit"].btn-dark-grey:hover, input[type="submit"].btn-dark-grey:focus, input[type="reset"].btn-dark-grey:hover, input[type="reset"].btn-dark-grey:focus {
      background-color: #343434;
      border-color: #272727;
      color: white; }

/* Button Groups
============================================= */
.button-group btn, .button-group a.btn {
  margin-right: 1px;
  display: block;
  float: left;
  border-radius: 0; }
  .button-group btn:first-of-type, .button-group a.btn:first-of-type {
    border-radius: 3px 0 0 3px; }
  .button-group btn:last-of-type, .button-group a.btn:last-of-type {
    border-radius: 0 3px 3px 0; }

/* AA-dropdown
================================================================ */
.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown a.btn {
    margin: 0; }
  .dropdown.right {
    float: right; }
    .dropdown.right ul {
      right: 0; }
  .dropdown ul {
    list-style: none;
    display: none;
    position: absolute;
    max-width: 100%;
    min-width: 200px;
    background: #e7e7e7;
    border: 1px solid #cecece;
    z-index: 2; }
    .dropdown ul li {
      border-bottom: 1px solid #cecece;
      margin: 0; }
      .dropdown ul li:last-child {
        border-bottom: none; }
      .dropdown ul li a {
        color: #2A363F;
        padding: 0.5em 0.75em;
        display: block;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
        font-size: 1em;
        font-weight: 400;
        letter-spacing: 0em;
        text-transform: none;
        line-height: 1; }
        .dropdown ul li a:hover, .dropdown ul li a:focus {
          background-color: #cecece;
          color: #7399E7; }

/* Flipcard variables ------------------------------------------- */
/* Flipcard Style ------------------------------------------- */
.flipcard {
  position: relative;
  width: 31.333333333%;
  height: 300px;
  perspective: 500px;
  float: left;
  overflow: hidden;
  margin: 0 1% 2%;
  cursor: pointer; }
  @media only screen and (max-width: 1180px) {
    .flipcard {
      width: 48%;
      height: 300px; } }
  @media only screen and (max-width: 760px) {
    .flipcard {
      width: 100%;
      height: 300px; } }

.flipcard.v.flip .front {
  transform: rotateX(180deg); }

.flipcard.v.flip .back {
  transform: rotateX(0deg); }

.flipcard.v .back {
  transform: rotateX(-180deg); }

.flipcard.h.flip .front {
  transform: rotateY(180deg); }

.flipcard.h.flip .back {
  transform: rotateY(0deg); }

.flipcard.h .back {
  transform: rotateY(-180deg); }

.flipcard .front, .flipcard .back {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease-in;
  color: white;
  background-color: #000;
  backface-visibility: hidden; }

.flipcard img {
  min-height: 300px; }

/* Sticky Footer
============================================================ */
.wrapper {
  min-height: 100%;
  margin: 0 auto -123px;
  /* the bottom margin is the negative value of the footer's height */ }

.footer {
  height: 123px; }
  .footer p {
    margin: 0; }

.push {
  height: 123px; }

/* Forms
=================================== */
label {
  color: #505050;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 0.85em;
  font-weight: 400;
  margin-bottom: 0.405em; }

::-webkit-input-placeholder {
  color: #6a6a6a;
  text-transform: uppercase;
  font-size: 0.85em; }

::-moz-placeholder {
  color: #6a6a6a;
  text-transform: uppercase;
  font-size: 0.85em; }

/* firefox 19+ */
:-ms-input-placeholder {
  color: #6a6a6a;
  text-transform: uppercase;
  font-size: 0.85em; }

/* ie */
input:-moz-placeholder {
  color: #6a6a6a;
  text-transform: uppercase;
  font-size: 0.85em; }

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
  background: white;
  color: #505050;
  font-size: 1em;
  height: 3.24em;
  padding: 0;
  padding-left: 0.81em;
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-color: #e7e7e7;
  margin-bottom: 0.81em; }
  input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
    box-shadow: none;
    background: white;
    border-color: #2A363F; }

textarea {
  padding-top: 0.81em;
  height: 6.48em; }

/*Checkbox as used on FleslandFlis*/
label.checkbox {
  line-height: 25px; }
  label.checkbox input {
    vertical-align: top;
    line-height: 1;
    padding: 0;
    margin-bottom: 0;
    min-height: 25px;
    min-width: 25px; }

/* Form Fullscreen
================================== */
.fullscreen-overlay {
  position: fixed;
  overflow: hidden;
  display: none;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: white;
  top: 0;
  left: 0;
  z-index: 99999;
  /* firefox 19+ */
  /* ie */ }
  .fullscreen-overlay a.fullscreen-close {
    color: #75D366;
    display: block;
    font-size: 32px;
    font-weight: 600;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50px;
    right: 50%;
    margin-right: -25px;
    padding-bottom: 20px;
    z-index: 9994; }
  .fullscreen-overlay a:hover.fullscreen-close {
    color: #99de8e; }
  .fullscreen-overlay .inner {
    width: 50%;
    min-width: 360px; }
  .fullscreen-overlay input[type="text"], .fullscreen-overlay input[type="password"], .fullscreen-overlay input[type="date"], .fullscreen-overlay input[type="datetime"], .fullscreen-overlay input[type="datetime-local"], .fullscreen-overlay input[type="month"], .fullscreen-overlay input[type="week"], .fullscreen-overlay input[type="email"], .fullscreen-overlay input[type="number"], .fullscreen-overlay input[type="search"], .fullscreen-overlay input[type="tel"], .fullscreen-overlay input[type="time"], .fullscreen-overlay input[type="url"], .fullscreen-overlay textarea {
    background-color: transparent;
    border-bottom: 1px solid #666666;
    height: 50px;
    font-size: 150%;
    color: #272727;
    text-align: center; }
  .fullscreen-overlay label {
    display: none; }
  .fullscreen-overlay ::-webkit-input-placeholder {
    color: #666666; }
  .fullscreen-overlay ::-moz-placeholder {
    color: #666666; }
  .fullscreen-overlay :-ms-input-placeholder {
    color: #666666; }
  .fullscreen-overlay input:-moz-placeholder {
    color: #666666; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0; }

#gmap {
  height: 100%; }
  #gmap img {
    max-width: none;
    /* Fix for small Zoom Control */ }
  #gmap.gmap-box {
    padding-bottom: 50%;
    min-height: 200px; }
  #gmap.gmap-header {
    padding: 0;
    height: 350px; }
    @media only screen and (max-width: -size) {
      #gmap.gmap-header {
        max-height: 200px; } }

a.gmap-close {
  display: block;
  width: 100px;
  height: 50px;
  position: absolute;
  top: 50px;
  right: 50%;
  background: black;
  opacity: 0.7;
  border-radius: 5px;
  color: white;
  margin-right: -50px;
  font-size: 24px;
  font-weight: 600;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase; }
  a.gmap-close:hover {
    opacity: 1; }
  a.gmap-close:hover, a.gmap-close:focus {
    color: white; }

hr, .hr {
  height: 1px;
  background-color: #e7e7e7;
  margin: 0.75rem auto 1.5rem auto;
  display: block;
  border: none;
  position: relative; }
  hr.marg-half, hr.half-marg, hr.half, .hr.marg-half, .hr.half-marg, .hr.half {
    margin: 0 auto 0.75rem auto; }
  @media only screen and (min-width: 760px) {
    hr, .hr {
      margin: 1.5rem auto 3rem auto; }
      hr.marg-half, hr.half-marg, .hr.marg-half, .hr.half-marg {
        margin: 0.75rem auto 1.5rem auto; } }

p + hr, img + hr, a + hr, ul + hr, ol + hr, h1 + hr, h2 + hr, h3 + hr, h4 + hr, h5 + hr, h6 + hr {
  margin: 0.75rem auto 1.5rem auto; }
  @media only screen and (min-width: 760px) {
    p + hr, img + hr, a + hr, ul + hr, ol + hr, h1 + hr, h2 + hr, h3 + hr, h4 + hr, h5 + hr, h6 + hr {
      margin: 1.5rem auto 1.5rem auto; }
      p + hr.marg-half, p + hr.half-marg, p + hr.half, img + hr.marg-half, img + hr.half-marg, img + hr.half, a + hr.marg-half, a + hr.half-marg, a + hr.half, ul + hr.marg-half, ul + hr.half-marg, ul + hr.half, ol + hr.marg-half, ol + hr.half-marg, ol + hr.half, h1 + hr.marg-half, h1 + hr.half-marg, h1 + hr.half, h2 + hr.marg-half, h2 + hr.half-marg, h2 + hr.half, h3 + hr.marg-half, h3 + hr.half-marg, h3 + hr.half, h4 + hr.marg-half, h4 + hr.half-marg, h4 + hr.half, h5 + hr.marg-half, h5 + hr.half-marg, h5 + hr.half, h6 + hr.marg-half, h6 + hr.half-marg, h6 + hr.half {
        margin: 0.75rem auto 0.75rem auto; } }

/* Images
============================================================= */
img {
  position: relative;
  margin-bottom: 0; }
  img.pad-bot {
    margin-bottom: 1rem; }
  img.pull-left {
    float: left;
    margin-right: 1.62em;
    margin-right: 1.62em; }
  img.push-right {
    float: right;
    margin-left: 1.62em; }
  img.max-50 {
    max-width: 50%; }
  img.max-40 {
    max-width: 40%; }
  img.max-30 {
    max-width: 30%; }
  img.radius {
    -webkit-border-radius: 3px;
    -mos-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
  img.round, img.rounded {
    -webkit-border-radius: 9000px;
    -mos-border-radius: 9000px;
    -ms-border-radius: 9000px;
    -o-border-radius: 9000px;
    border-radius: 9000px; }
  img.border {
    border: 1px solid #000000;
    padding: 0;
    background: #ffffff; }
  img.left-side, img.inline-left {
    margin: 0 3% 3% 0;
    float: left;
    width: 30%;
    min-width: 180px;
    max-width: 100%;
    z-index: 2; }
  img.right-side, img.inline-right {
    margin: 0 0 3% 3%;
    float: right;
    width: 30%;
    min-width: 180px;
    max-width: 100%;
    z-index: 2; }

.frame, a.frame {
  margin-bottom: 0.81em;
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 30% 0;
  height: 0;
  position: relative; }
  .frame.pull-left, a.frame.pull-left {
    float: left;
    margin-right: 0.81em; }
  .frame.push-right, a.frame.push-right {
    float: right;
    margin-left: 0.81em; }
  .frame.radius, a.frame.radius {
    -webkit-border-radius: 3px;
    -mos-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
  .frame.border, a.frame.border {
    border: 1px solid #e7e7e7;
    padding: 1%;
    background: #ffffff; }
  .frame.round, a.frame.round {
    -webkit-border-radius: 9000px;
    -mos-border-radius: 9000px;
    -ms-border-radius: 9000px;
    -o-border-radius: 9000px;
    border-radius: 9000px; }
  .frame.wide, a.frame.wide {
    padding: 18% 0; }
  .frame img, a.frame img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 102%; }

/* UL
============================================================= */
ul, ol {
  list-style-position: outside;
  padding: 0;
  margin: 0 0 1.62em 18px; }
  ul ul, ul ol, ol ul, ol ol {
    padding-left: 1.62em;
    margin-bottom: 0; }
  ul ol, ol ol {
    list-style-type: disc; }
  ul.icon, ol.icon {
    list-style-type: none; }
    ul.icon > li, ol.icon > li {
      padding-left: 1.62em;
      position: relative; }
      ul.icon > li:before, ol.icon > li:before {
        content: "";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: #7399E7;
        position: absolute;
        top: 0;
        left: 0; }
      ul.icon > li ul, ol.icon > li ul {
        padding-left: 0;
        list-style-type: square; }
      ul.icon > li.color:before, ol.icon > li.color:before {
        color: #7399E7; }
  ul.horizontal, ol.horizontal {
    margin-bottom: 1.62em; }
    ul.horizontal li, ol.horizontal li {
      float: left;
      list-style: none; }
      ul.horizontal li a, ol.horizontal li a {
        display: inline-block; }
  ul.inset, ol.inset {
    padding-left: 30px; }
  ul.fullwidth, ol.fullwidth {
    width: 100%; }
  ul.no-bullet, ol.no-bullet {
    list-style-type: none;
    margin-left: 0; }
  ul.divider li, ol.divider li {
    border-bottom: 1px solid #e7e7e7;
    padding: 3px 0; }
  ul.centered, ol.centered {
    float: left;
    position: relative;
    left: 50%; }
    ul.centered li, ol.centered li {
      position: relative;
      right: 50%; }
  ul.outside, ol.outside {
    list-style-position: outside;
    margin-left: 60px; }
  ul.specs, ol.specs {
    list-style-type: none; }
    ul.specs li, ol.specs li {
      border-bottom: 1px solid #e7e7e7;
      display: block;
      clear: both;
      padding: 8px 0; }
      ul.specs li span.title, ol.specs li span.title {
        float: left;
        color: #9d9d9d;
        width: 25%; }
        ul.specs li span.title:after, ol.specs li span.title:after {
          content: ":"; }
      ul.specs li span.overflow, ol.specs li span.overflow {
        float: left;
        overflow: hidden;
        width: 75%; }
      ul.specs li:last-child, ol.specs li:last-child {
        border: none; }

/* Logo in Top
==================================== */
h2.logo {
  position: relative;
  margin: 35px auto;
  z-index: 1;
  width: 100%; }
  @media only screen and (max-width: 1180px) {
    h2.logo {
      margin-top: 24.5px;
      margin-bottom: 24.5px; } }
  h2.logo a {
    display: inline-block;
    height: 45px;
    width: 250px;
    background-size: contain;
    background-position: center center;
    background-image: url(/img/theme/logo.png);
    background-repeat: no-repeat;
    text-shadow: none;
    color: transparent; }
    @media only screen and (max-width: 1180px) {
      h2.logo a {
        height: 31.5px;
        width: 175px; } }
  h2.logo.transparent a {
    background-image: url(/img/theme/logo-transparent.png); }
  h2.logo.invert a {
    background-image: url(/img/theme/logo-invert.png); }

/* Sticky and Clone Top Navigation
================================================================ */
.band.sticky, .band.fixed {
  position: fixed;
  width: 100%;
  z-index: 900; }

.band.clone.cloned {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  position: fixed;
  top: -115px;
  left: 0;
  z-index: 98;
  width: 100%;
  margin: 0;
  padding-right: 0;
  opacity: 0.8; }
  .band.clone.cloned h2.logo-left a {
    height: 31.5px;
    margin-top: 24.5px;
    margin-bottom: 24.5px; }
  .band.clone.cloned ul.sf-menu {
    margin-top: 32.5px; }

.boxed band.clone.cloned {
  width: 1580px;
  max-width: 100%;
  left: 50%;
  margin-left: -790px; }

.band.clone.cloned.active {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  top: 0; }

/* Burger Toggle for Mobile Menus
====================================================== */
a.burger, a.top-icon {
  display: block;
  color: #252A2E;
  line-height: 80.5px;
  height: 80.5px;
  width: 60px;
  text-align: center;
  font-size: 28px; }
  a.burger.active, a.burger:hover, a.burger:focus, a.top-icon.active, a.top-icon:hover, a.top-icon:focus {
    color: #252A2E; }

a.phone, a.burger, a.chat {
  border-left: 1px solid #e7e7e7; }

input.q-phone {
  background: white; }

form.phone-form {
  float: right;
  background: white;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  padding: 5px;
  margin: 0;
  width: 100%;
  max-width: 400px; }
  form.phone-form input[type="search"] {
    border: none;
    width: auto;
    float: left;
    margin: 0;
    width: 80%;
    height: 1.5rem; }
    form.phone-form input[type="search"]:focus {
      background: white; }
  form.phone-form input[type="submit"] {
    margin: 0;
    padding: 0 10px 0 0;
    background: transparent;
    border: 0;
    width: 20%;
    height: 1.5rem;
    text-align: right; }

/* Breadcrumbs 
=======================================================*/
nav.breadcrumbs {
  font-size: 12px; }
  nav.breadcrumbs p {
    display: inline-block;
    margin: 0;
    padding-right: 5px; }
  nav.breadcrumbs ul {
    display: inline-block;
    margin: 0; }
    nav.breadcrumbs ul li {
      display: inline-block;
      padding-right: 5px; }
      nav.breadcrumbs ul li:after {
        content: " - ";
        padding-left: 5px; }
      nav.breadcrumbs ul li:last-child:after {
        content: ""; }
      nav.breadcrumbs ul li a {
        text-transform: uppercase;
        color: #2A363F; }
      nav.breadcrumbs ul li.active {
        text-transform: uppercase;
        color: #505050; }

/* Animated Burger Icon. 4 styles
================================================================ */
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 30px;
  height: 20px;
  padding: 0;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #252A2E;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon1.open span, #nav-icon2.open span, #nav-icon3.open span, #nav-icon4.open span {
  background-color: red; }

/* Icon 1 */
#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 18px; }

#nav-icon1 span:nth-child(3) {
  top: 36px; }

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

/* Icon 2 */
#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0; }

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px; }

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px; }

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px; }

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px; }

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px; }

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px; }

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0; }

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0; }

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px; }

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px; }

/* Icon 3 */
#nav-icon3 span:nth-child(1) {
  top: 0px; }

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 18px; }

#nav-icon3 span:nth-child(4) {
  top: 36px; }

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

/* Icon 4 */
#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav-icon4 span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav-icon4 span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 5px; }

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 18px;
  left: 5px; }

/* Page Loader
================================================================ */
.page-loader {
  position: fixed;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  z-index: 9999;
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 25px;
  background: white; }

.pulsing-logo {
  position: fixed;
  width: 90px;
  height: 90px;
  top: 50%;
  left: 50%;
  margin: -45px 0 0 -45px;
  -moz-animation: pulsingLogo 2000ms infinite linear, fadeInLogo 1000ms 1 linear;
  -o-animation: pulsingLogo 2000ms infinite linear, fadeInLogo 1000ms 1 linear;
  -webkit-animation: pulsingLogo 2000ms infinite linear, fadeInLogo 1000ms 1 linear;
  animation: pulsingLogo 2000ms infinite linear, fadeInLogo 1000ms 1 linear; }

@keyframes pulsingLogo {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.8); } }
@keyframes fadeInLogo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Cards (Panel)
=============================================================== */
.card, .news-card, .panel {
  background-color: white;
  position: relative;
  margin-bottom: 20px; }
  .card .panel-content, .news-card .panel-content, .panel .panel-content {
    padding: 2rem; }

.news-card {
  margin-bottom: 10px; }
  .news-card .date {
    font-size: 11px;
    color: #787878;
    font-weight: 300;
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 1; }
  .news-card a.link, .news-card a.facebook-link {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    display: block; }
  .news-card a.facebook-link {
    color: #3B5998 !important; }
  .news-card a.label {
    position: absolute;
    right: 0;
    top: 30px;
    padding: 8px 8px;
    color: white;
    background-color: #272727;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 800;
    line-height: 1; }
  .news-card img {
    margin-bottom: 10px; }
  .news-card h5, .news-card h4, .news-card h3 {
    letter-spacing: 0;
    text-transform: none; }
  .news-card p, .news-card li {
    font-size: 0.9em;
    color: #505050; }
    .news-card p:last-child, .news-card li:last-child {
      margin-bottom: 0; }
  .news-card a.fancybox-media {
    position: relative;
    display: block; }
    .news-card a.fancybox-media:after {
      content: "SPILL AV VIDEO";
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      font-family: "montserrat";
      display: block;
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      padding: 10px 0;
      text-align: center; }

/* Top-bar with triangle in corner
================================================================*/
.top-bar {
  position: fixed;
  top: -75px;
  height: 75px;
  width: 100%;
  z-index: 996;
  background-color: #272727;
  color: #e7e7e7;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  .top-bar.active {
    top: 0; }
  .top-bar .corner-triangle {
    position: absolute;
    display: block;
    z-index: 995;
    cursor: pointer;
    top: 75px;
    right: 0;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent #272727 transparent transparent; }
    .top-bar .corner-triangle::after {
      content: "+";
      font-family: "arial";
      color: white;
      font-size: 16px;
      font-weight: 900;
      line-height: 1;
      position: absolute;
      right: -40px;
      top: 10px; }

/* Bottom bar . Slide-up Overlay
================================================================*/
.bottom-bar {
  position: fixed;
  bottom: -245px;
  height: 245px;
  padding: 30px;
  width: 100%;
  max-width: 1180px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 996;
  background-color: #272727;
  color: #e7e7e7;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  .bottom-bar.active {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    bottom: 0; }

/* Bottom Fixed Menu
================================================================ */
.bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
  -webkit-box-shadow: 0px -1px 1px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px -1px 1px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px -1px 1px 0px rgba(50, 50, 50, 0.3); }
  .bottom-menu a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.85em;
    padding: 20px 24px;
    color: #272727; }
  .bottom-menu .bm-share-icons a {
    font-size: 16px; }

/* Common Infobar & Extend Left & Right
================================================================ */
.info-bar, .info-bar-left, .info-bar-right {
  position: fixed;
  height: 100%;
  padding-bottom: 20px;
  position: fixed;
  z-index: 998;
  background-size: cover;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  .info-bar .ib-scroll, .info-bar-left .ib-scroll, .info-bar-right .ib-scroll {
    overflow-y: auto;
    height: 100%; }
  .info-bar a.ib-tab, .info-bar-left a.ib-tab, .info-bar-right a.ib-tab {
    position: absolute;
    cursor: pointer;
    display: block;
    top: 89px;
    z-index: 9998;
    padding: 20px 15px;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.85em; }
    @media only screen and (max-width: 760px) {
      .info-bar a.ib-tab, .info-bar-left a.ib-tab, .info-bar-right a.ib-tab {
        display: none; } }
  .info-bar .ib-container, .info-bar-left .ib-container, .info-bar-right .ib-container {
    padding: 15px 15px 45px 15px; }
  @media only screen and (max-width: 760px) {
    .info-bar, .info-bar-left, .info-bar-right {
      max-width: 100%;
      border-right: 0; } }

.info-bar-left {
  left: 0;
  width: 340px;
  margin-left: -344px;
  background-color: #2A363F;
  -webkit-box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.3); }
  .info-bar-left.active {
    margin-left: 0; }
  .info-bar-left a.ib-tab {
    color: white;
    left: 340px;
    background-color: #2A363F;
    border-radius: 0 3px 3px 0;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.3); }

.info-bar-right {
  right: 0;
  width: 340px;
  margin-right: -344px;
  background-color: #272727;
  -webkit-box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.3); }
  .info-bar-right.active {
    margin-right: 0; }
  .info-bar-right a.ib-tab {
    color: white;
    right: 340px;
    background-color: #272727;
    border-radius: 3px 0 0 3px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.3); }

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px; } }
@-moz-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px; } }
@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px; } }
@-ms-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px; } }
body.boxed.snow {
  background-image: url("../../img/globals/snowflakes-01.png"), url("../../img/globals/snowflakes-02.png"), url("../../img/globals/snowflakes-03.png");
  background-size: initial;
  background-repeat: repeat;
  background-attachment: initial;
  background-position: 0 0;
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite; }

/* Tables 
==================================== */
.table-wrapper {
  overflow-x: auto; }

table {
  width: 100%;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 1.5em;
  border-collapse: collapse; }
  table.top-align td {
    vertical-align: top; }
  table th {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-size: 100%;
    font-weight: 500;
    color: #272727;
    letter-spacing: 0;
    padding: 0.5em 0.8em; }
  table tr:nth-child(odd) {
    background: #f5f5f5; }
  table tr:hover {
    background: #e7e7e7; }
  table td {
    font-size: 90%;
    padding: 0.5em 0.8em; }
  table.default th {
    font-weight: 800;
    border-bottom: solid 2px #e7e7e7; }
  table.default td {
    color: inherit; }
  table.default-lines th {
    border-bottom: solid 2px #e7e7e7; }
  table.default-lines td {
    border-bottom: solid 1px #e7e7e7; }
  table.box-lines {
    border-bottom: solid 1px #e7e7e7; }
    table.box-lines th {
      border: solid 1px #e7e7e7;
      border-bottom: solid 2px #cecece; }
    table.box-lines td {
      border-right: solid 1px #e7e7e7;
      border-left: solid 1px #e7e7e7; }

/* TABS AND PANES
======================================================== */
.tabs-content > .content {
  display: none; }
  .tabs-content > .content.active {
    display: block; }

.no-js .tabs-content > .content {
  display: block;
  float: none; }

.tabs {
  margin-bottom: 1.62em; }
  .tabs li + li {
    margin-top: 0; }
  .tabs li {
    display: block;
    float: left;
    margin: 0 2px 2px 0;
    color: #505050;
    background-color: #e7e7e7;
    border: 1px solid #e7e7e7; }
    .tabs li a {
      display: block;
      font-size: 0.9em;
      font-weight: 400;
      text-transform: normal;
      line-height: 1;
      padding: 0.45em 1em 0.35em;
      color: #505050; }
    .tabs li.active {
      background: #75D366;
      border-color: #63cd52; }
      .tabs li.active a {
        color: white; }
  @media only screen and (max-width: 760px) {
    .tabs.small-fill li {
      width: 100%;
      max-width: 100%;
      display: block; }
      .tabs.small-fill li a {
        width: 100%;
        margin-bottom: 5px;
        display: block; } }
  .tabs.vertical {
    width: 100%;
    max-width: 100%; }
    .tabs.vertical li {
      width: 100%; }
    @media only screen and (max-width: 1180px) {
      .tabs.vertical {
        float: none;
        width: 100%;
        max-width: 100%; }
        .tabs.vertical li {
          float: left;
          width: auto; } }

.tabs-content .vertical {
  width: 100%;
  max-width: 100%;
  float: none;
  margin: 0;
  padding: 0; }

/* Typography
================================================================ */
p {
  margin: 0 0 1rem 0;
  line-height: 1.62em; }
  @media only screen and (max-width: 760px) {
    p {
      line-height: 1.35em; } }
  p.lead, p .intro {
    font-size: 1.2em;
    font-weight: 300; }
    @media only screen and (max-width: 760px) {
      p.lead, p .intro {
        font-size: 1.2em; } }
  p span.dropcap {
    display: block;
    float: left;
    font-size: 2.8em;
    line-height: 1em;
    margin: 0.075em 0.1em 0 0; }

span.list-title {
  color: #d0d0d0;
  display: inline-block;
  width: 75px; }
  span.list-title:after {
    content: ": "; }

span.list-value {
  white-space: nowrap; }

small, .small {
  font-size: 0.85em; }

strong {
  font-weight: 600; }

.subtle {
  color: #d0d0d0; }

span.highlight {
  background-color: #FCF7C5;
  padding: 0.1em 0.3em; }

.uppercase {
  text-transform: uppercase;
  font-size: inherit;
  font-size: 0.9em; }

a, a:visited {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  color: #2A363F; }
  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: #0b0f11; }
    a:hover.underline, a:focus.underline, a:visited:hover.underline, a:visited:focus.underline {
      text-decoration: underline; }
      a:hover.underline.dotted, a:focus.underline.dotted, a:visited:hover.underline.dotted, a:visited:focus.underline.dotted {
        border-bottom: dotted 1px #0b0f11;
        text-decoration: none; }
  a.primary, a:visited.primary {
    color: #2A363F; }
    a.primary:hover, a.primary:focus, a:visited.primary:hover, a:visited.primary:focus {
      color: #0b0f11; }
  a.secondary, a:visited.secondary {
    color: #7399E7; }
    a.secondary:hover, a.secondary:focus, a:visited.secondary:hover, a:visited.secondary:focus {
      color: #3269dc; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.25em 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: #272727;
  letter-spacing: 0;
  text-transform: none; }
  h1.thin, h1 .thin, h2.thin, h2 .thin, h3.thin, h3 .thin, h4.thin, h4 .thin, h5.thin, h5 .thin, h6.thin, h6 .thin {
    font-weight: 400; }
  h1.thick, h1 .thick, h2.thick, h2 .thick, h3.thick, h3 .thick, h4.thick, h4 .thick, h5.thick, h5 .thick, h6.thick, h6 .thick {
    font-weight: 800; }
  h1.handwriting, h2.handwriting, h3.handwriting, h4.handwriting, h5.handwriting, h6.handwriting {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif; }
  h1.has-stroke, h1.has-border, h2.has-stroke, h2.has-border, h3.has-stroke, h3.has-border, h4.has-stroke, h4.has-border, h5.has-stroke, h5.has-border, h6.has-stroke, h6.has-border {
    margin-bottom: 1em; }
    h1.has-stroke:after, h1.has-border:after, h2.has-stroke:after, h2.has-border:after, h3.has-stroke:after, h3.has-border:after, h4.has-stroke:after, h4.has-border:after, h5.has-stroke:after, h5.has-border:after, h6.has-stroke:after, h6.has-border:after {
      content: "";
      background: #e7e7e7;
      display: block;
      height: 1px;
      margin-top: 0.5em;
      position: relative;
      width: 100%; }
  h1.has-bg, h2.has-bg, h3.has-bg, h4.has-bg, h5.has-bg, h6.has-bg {
    overflow: hidden; }
    h1.has-bg:after, h2.has-bg:after, h3.has-bg:after, h4.has-bg:after, h5.has-bg:after, h6.has-bg:after {
      background: url("/img/patterns/debut-light.gif");
      position: relative;
      left: 20px;
      content: "";
      display: inline-block;
      width: 200%;
      height: .75em;
      margin: 0 -200% 0 0; }
  h1 span.subheader, h1 span.subtitle, h2 span.subheader, h2 span.subtitle, h3 span.subheader, h3 span.subtitle, h4 span.subheader, h4 span.subtitle, h5 span.subheader, h5 span.subtitle, h6 span.subheader, h6 span.subtitle {
    display: block;
    color: #838383;
    font-size: 13px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0;
    text-transform: normal;
    margin: 3.25px 0; }

h1 {
  font-size: 1.998em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */ }
  @media only screen and (min-width: 760px) {
    h1 {
      font-size: 2.499em;
      /* 2.5x body copy size = 40px */
      line-height: 1.125; } }
  @media only screen and (min-width: 1180px) {
    h1 {
      font-size: 3em;
      /* 3x body copy size = 48px */
      line-height: 1.05;
      /* keep to a multiple of the 20px line height and something more appropriate for display headings */ } }

h2 {
  font-size: 1.62em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */ }
  @media only screen and (min-width: 760px) {
    h2 {
      font-size: 1.98em;
      /* 2x body copy size = 32px */
      line-height: 1.25; } }
  @media only screen and (min-width: 1180px) {
    h2 {
      font-size: 2.25em;
      /* 2.25x body copy size = 36px */
      line-height: 1.25; } }

h3 {
  font-size: 1.3125em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */ }
  @media only screen and (min-width: 760px) {
    h3 {
      font-size: 1.505em;
      /* 1.5x body copy size = 24px */
      line-height: 1.25; } }
  @media only screen and (min-width: 1180px) {
    h3 {
      font-size: 1.75em;
      /* 1.75x body copy size = 28px */
      line-height: 1.25; } }

h4 {
  font-size: 1.2em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111; }
  @media only screen and (min-width: 760px) {
    h4 {
      line-height: 1.22222222;
      /* (22px / 18px */ } }

h5 {
  font-size: 1em;
  line-height: 1.11111111; }
  @media only screen and (min-width: 760px) {
    h5 {
      line-height: 1.22222222;
      /* (22px / 18px */ } }

.marg-bot {
  margin-bottom: 1.5em !important; }

.marg-bot-double, .marg-bot-2x, .marg-bot-large {
  margin-bottom: 3em !important; }

.marg-bot-triple, .marg-bot-3x, .marg-bot-xlarge {
  margin-bottom: 4.5em !important; }

.marg-bot-quadrouple, .marg-bot-4x, .marg-bot-xxlarge {
  margin-bottom: 6em !important; }

.marg-bot-half, .marg-bot-small {
  margin-bottom: 0.75em !important; }

.marg-top {
  margin-top: 1.5em !important; }

.marg-top-double, .marg-top-2x, .marg-top-large {
  margin-top: 3em !important; }

.marg-top-triple, .marg-top-3x, .marg-top-xlarge {
  margin-top: 4.5em !important; }

.marg-top-quadrouple, .marg-top-4x, .marg-top-xxlarge {
  margin-top: 6em !important; }

.marg-top-half, .marg-top-small {
  margin-top: 0.75em !important; }

.no-marg {
  margin: 0 !important; }

.marg-right {
  margin-right: 10px !important; }

.marg-left {
  margin-left: 10px !important; }

blockquote {
  margin: 0 0 0 0;
  padding: 0 0 0 1em;
  color: #505050;
  font-style: italic;
  border-left: solid 3px #505050;
  margin: 0 0 1.62em 0; }
  blockquote span.cite {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold; }
