@import "../scss/_variables.scss";
@import "../scss/_mixins.scss";

/* Blocks with specific styles 
====================================*/
@import "../scss/blocks/_block-01.scss";
@import "../scss/blocks/_block-09.scss";
@import "../scss/blocks/_block-10.scss";
@import "../scss/blocks/_block-11.scss";
@import "../scss/blocks/_block-13.scss";
@import "../scss/blocks/_form-02.scss";
@import "../scss/blocks/_port-01.scss";


.port-02 {
	.panel {
		border: 2px solid darken($light-grey-color,5%);
	}
}

/* Background images
====================================== */
.bg-img-01 {
	background-image: url("/img/globals/placeholder-01.jpg");
	@media only screen and (min-width: $medium-size) {
		background-image: url("/img/globals/placeholder-01.jpg");
	};
}
.bg-img-02 {
	background-image: url("/img/globals/placeholder-05.jpg");
	@media only screen and (min-width: $medium-size) {
		background-image: url("/img/globals/placeholder-05.jpg");
	};
}
.bg-img-03 {
	background-image: url("/img/globals/placeholder-05.jpg");
	@media only screen and (min-width: $medium-size) {
		background-image: url("/img/globals/placeholder-05.jpg");
	};
}


/* Code used in Styleguide
=================================== */

a.code {
	color: #000;
	text-align: right;
	display: none;
	width: 100%;
	font-weight: bold;
	&:before {
		content: "["
	}
	&:after {
		content: "]"
	}
}

pre,
code {
	display: none;
	clear: both;
	height: auto;
	font-family: Consolas, monospace;
	border: 1px solid $hr-color;
	background: #f7f7f7;
	padding: $font-line-height;
	border-radius: $global-radius;
	margin: 0 0 $font-line-height 0;
	overflow-x: auto;
	box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	white-space: pre-wrap;
	/* CSS3 */
	white-space: -moz-pre-wrap;
	/* Mozilla, post millennium */
	white-space: -pre-wrap;
	/* Opera 4-6 */
	white-space: -o-pre-wrap;
	/* Opera 7 */
	word-wrap: break-word;
	/* Internet Explorer 5.5+ */
}


/* Colors Palette
=================================== */

.colorbox {
	display: block;
	width: $font-line-height * 2;
	height: $font-line-height * 2;
	border-radius: $global-radius;
	margin: 0 $column-gutter/4;
	&.white {
		background-color: white;
	}
	&.primary {
		background-color: $primary-color;
	}
	&.secondary {
		background-color: $secondary-color;
	}
	&.light-grey {
		background-color: $light-grey-color;
	}
	&.medium-grey {
		background-color: $medium-grey-color;
	}
	&.dark-grey {
		background-color: $dark-grey-color;
	}
	&.font-color {
		background-color: $font-color;
	}
	// Small only
	@media only screen and (max-width: $medium-size) {
		width: $font-line-height;
		height: $font-line-height;
	}
}

