p.lead {
  font-family: "Raleway";
  font-weight: 200; }

.home h2.logo {
  visibility: hidden; }

img.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 1px solid black;
  margin-bottom: 1.5em; }

span.numbers, span.montserrat {
  font-family: "montserrat"; }

body.no-scroll {
  overflow: hidden; }

body.darken::after {
  content: "";
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 99; }

/* Info Bar
================================================================ */
.info-bar {
  width: 460px;
  height: 100%;
  background-color: #F1F1EF;
  border-right: 10px solid #df4a43;
  margin-left: -450px;
  position: fixed;
  z-index: 999;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }
  .info-bar.active {
    margin-left: 0; }
  .info-bar a.fancybox-media {
    position: relative;
    display: block; }
    .info-bar a.fancybox-media:after {
      content: "SPILL AV VIDEO";
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      font-family: "montserrat";
      display: block;
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      padding: 10px 0;
      text-align: center; }
  .info-bar .close-info {
    display: inline-block;
    font-family: "montserrat";
    text-transform: uppercase;
    color: black;
    padding-bottom: 20px; }
  .info-bar .info-scroll {
    overflow-y: auto;
    height: 100%; }
  .info-bar .info-tips {
    position: absolute;
    color: white;
    top: 150px;
    right: -200px;
    text-align: right;
    display: none; }
  .info-bar a.info-trigger {
    position: absolute;
    top: 80px;
    display: block;
    white-space: nowrap;
    background-color: #df4a43;
    font-family: "montserrat";
    font-size: 0.85em;
    color: white;
    padding: 10px 20px;
    border-radius: 0 3px 3px 0; }
    .info-bar a.info-trigger .fa {
      margin-right: 5px; }
    .info-bar a.info-trigger span {
      font-family: "montserrat";
      color: #df4a43;
      text-align: center;
      background-color: white;
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 2px;
      margin-left: 5px; }
  .info-bar .panel {
    background-color: white;
    -webkit-box-shadow: 2px 2px 0 0 #e5e5e1;
    box-shadow: 2px 2px 0 0 #e5e5e1; }
    .info-bar .panel .panel-content {
      padding: 4%; }
    .info-bar .panel .date {
      font-family: "montserrat";
      font-size: 0.80em;
      color: #c5c5c5; }
    .info-bar .panel img {
      margin-bottom: 10px; }
    .info-bar .panel h5, .info-bar .panel h4, .info-bar .panel h3 {
      letter-spacing: 0;
      text-transform: none; }
    .info-bar .panel p, .info-bar .panel li {
      font-size: 0.9em;
      color: #454545; }
      .info-bar .panel p:last-child, .info-bar .panel li:last-child {
        margin-bottom: 0; }
      .info-bar .panel p ul, .info-bar .panel li ul {
        margin: 0; }
  @media only screen and (max-width: 760px) {
    .info-bar {
      width: 367px;
      border-right: 0; }
      .info-bar.active {
        border-right: 3px solid black; } }

/* Page Loader
================================================================ */
.page-loader {
  position: fixed;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  z-index: 9999;
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 25px;
  background: white; }

.pulsing-logo {
  position: fixed;
  width: 90px;
  height: 90px;
  top: 50%;
  left: 50%;
  margin: -45px 0 0 -45px;
  -moz-animation: pulsingLogo 2000ms infinite linear, fadeInLogo 1000ms 1 linear;
  -o-animation: pulsingLogo 2000ms infinite linear, fadeInLogo 1000ms 1 linear;
  -webkit-animation: pulsingLogo 2000ms infinite linear, fadeInLogo 1000ms 1 linear;
  animation: pulsingLogo 2000ms infinite linear, fadeInLogo 1000ms 1 linear; }

@keyframes pulsingLogo {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.8); } }
@keyframes fadeInLogo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Charachters
================================================================ */
.char-1, .big-screens span {
  font-family: "raleway";
  font-weight: 300;
  color: #454545; }

/* Buttons
================================================================ */
.btn-1 {
  color: black !important;
  background-color: white;
  border: 1px solid #f2f2f2;
  border: 2px solid black;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }
  .btn-1.with-icon .fa {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.2); }
  .btn-1.border {
    border: 0.1em solid #f2f2f2; }
    .btn-1.border.dashed {
      border-style: dashed; }
  .btn-1.shadow {
    border-bottom: 2px solid #f2f2f2; }
  .btn-1.popout {
    border: none;
    border-top: 1px solid white;
    border-bottom: 1px solid #f2f2f2; }
  .btn-1:hover, .btn-1:focus {
    background-color: white;
    border-color: white;
    color: black; }
  .btn-1:hover, .btn-1:active {
    border: 2px solid black;
    background-color: black;
    color: white !important;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }

.btn-2 {
  color: white !important;
  background-color: black;
  border: 1px solid black;
  border: 2px solid black;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }
  .btn-2.with-icon .fa {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.2); }
  .btn-2.border {
    border: 0.1em solid black; }
    .btn-2.border.dashed {
      border-style: dashed; }
  .btn-2.shadow {
    border-bottom: 2px solid black; }
  .btn-2.popout {
    border: none;
    border-top: 1px solid #0d0d0d;
    border-bottom: 1px solid black; }
  .btn-2:hover, .btn-2:focus {
    background-color: #0d0d0d;
    border-color: black;
    color: white; }
  .btn-2:hover, .btn-2:active {
    border: 2px solid black;
    background-color: #ffffff;
    color: black !important;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }

.btn-3 {
  color: white !important;
  background-color: #df4a43;
  border: 1px solid #db352d;
  border: 2px solid #df4a43;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }
  .btn-3.with-icon .fa {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.2); }
  .btn-3.border {
    border: 0.1em solid #db352d; }
    .btn-3.border.dashed {
      border-style: dashed; }
  .btn-3.shadow {
    border-bottom: 2px solid #db352d; }
  .btn-3.popout {
    border: none;
    border-top: 1px solid #e35f59;
    border-bottom: 1px solid #db352d; }
  .btn-3:hover, .btn-3:focus {
    background-color: #e35f59;
    border-color: #df4a43;
    color: white; }
  .btn-3:hover, .btn-3:active {
    border: 2px solid black;
    background-color: black;
    color: white !important;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }

/* Big Screens on Index 
================================================================ */
.big-screens {
  margin-top: -8%; }
  @media only screen and (max-width: 760px) {
    .big-screens {
      margin-top: -16%; } }
  .big-screens .owl-carousel .item {
    margin: 0 20px;
    text-align: center; }
  .big-screens span {
    display: block;
    margin-top: 2em; }
  .big-screens a .fa {
    color: black !important; }
  .big-screens .owl-theme .owl-controls {
    margin: 2em 0; }

/* Block-20 - Header as Absoluttweb 2015
================================================================ */
.block-20 {
  position: relative;
  overflow: hidden;
  margin: 0 0px 0px;
  border-bottom: 5px solid #775F50;
  background-position: center center;
  background-size: cover; }
  .block-20.bg-img-01 {
    background-image: url("/img/globals/placeholder-01.jpg"); }
    @media only screen and (min-width: 760px) {
      .block-20.bg-img-01 {
        background-image: url("/img/globals/placeholder-01.jpg"); } }
  .block-20 .overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: black; }
  .block-20 .container {
    text-align: center;
    padding: 13% 0 25%; }
    @media only screen and (max-width: 760px) {
      .block-20 .container {
        padding: 16% 0 35%; } }
    .block-20 .container div.hero {
      display: block;
      width: 110px;
      height: 110px;
      background: transparent url("/img/theme/logo-icon-220.png") no-repeat center center;
      background-size: cover;
      margin: 0 auto; }
      @media only screen and (max-width: 760px) {
        .block-20 .container div.hero {
          width: 75px;
          height: 75px; } }
    .block-20 .container .header-type, .block-20 .container h1, .block-20 .container h2 {
      font-family: 'montserrat';
      font-weight: 300;
      letter-spacing: 0.3em;
      color: white; }
    .block-20 .container h1 {
      padding-top: 3%;
      font-size: 100%; }
    .block-20 .container h2 {
      padding-top: 7%;
      font-size: 300%; }
      @media only screen and (max-width: 1080px) {
        .block-20 .container h2 {
          font-size: 250%; } }
      @media only screen and (max-width: 760px) {
        .block-20 .container h2 {
          font-size: 200%;
          text-align: center; } }
    .block-20 .container .line {
      display: block;
      height: 3px;
      background-color: white;
      width: 33%;
      margin: 0 auto; }
  .block-20 .tilt-top-box {
    -moz-transform: rotate(-4.2deg);
    -webkit-transform: rotate(-4.2deg);
    -o-transform: rotate(-4.2deg);
    -ms-transform: rotate(-4.2deg);
    transform: rotate(-4.2deg);
    display: block;
    width: 110%;
    height: 5%;
    position: absolute;
    bottom: 5%;
    left: -5%; }
  .block-20 .tilt-bottom-box {
    -moz-transform: rotate(-3.5deg);
    -webkit-transform: rotate(-3.5deg);
    -o-transform: rotate(-3.5deg);
    -ms-transform: rotate(-3.5deg);
    transform: rotate(-3.5deg);
    display: block;
    width: 110%;
    height: 16%;
    position: absolute;
    bottom: -8%;
    left: -5%; }
  .block-20 .small .header-container {
    padding: 8% 0 15%; }
    @media only screen and (max-width: 760px) {
      .block-20 .small .header-container {
        padding: 8% 0 25%; } }
  .block-20 .small .tilt-top-box {
    bottom: 12%;
    height: 8%; }
  .block-20 .small .tilt-bottom-box {
    bottom: -16%;
    height: 32%; }

.band-top.sticky.cloned {
  background-color: #231f20;
  opacity: 0.97; }
  .band-top.sticky.cloned ul.sf-menu > li:hover a, .band-top.sticky.cloned ul.sf-menu > li.active a {
    color: white; }

/* Parallaxers
================================================================ */
.band-parallax-1 {
  background-color: #df4a43; }
  .band-parallax-1 p, .band-parallax-1 li, .band-parallax-1 ul.icon li:before {
    color: #ffffff; }
  .band-parallax-1 h1, .band-parallax-1 h2, .band-parallax-1 h3, .band-parallax-1 h4, .band-parallax-1 h5, .band-parallax-1 h6 {
    color: #ffffff; }
  .band-parallax-1 a {
    color: #df4a43; }
  .band-parallax-1 hr {
    background-color: #F1F1EF; }
  .band-parallax-1 .wide {
    width: 80%; }

/* Bands
================================================================ */
.band-light-grey {
  background-color: #F1F1EF;
  border-top: #e5e5e1; }

.band-dark p, .band-dark li, .band-dark ul.icon li:before {
  color: #ababab; }
.band-dark h1, .band-dark h2, .band-dark h3, .band-dark h4, .band-dark h5, .band-dark h6 {
  color: #F1F1EF; }
.band-dark a {
  color: #F1F1EF; }
.band-dark hr {
  background-color: #F1F1EF; }

/* Footer
================================================================ */
.footer {
  background-color: black;
  padding: 2rem 0; }
  .footer a, .footer p {
    color: #847676; }

/* Custom Fullscreen
================================================================ */
.fullscreen-gradient-black {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#332d35+0,262626+39,332d35+71,000000+100 */
  background: #332d35;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #332d35 0%, #262626 39%, #332d35 71%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #332d35), color-stop(39%, #262626), color-stop(71%, #332d35), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #332d35 0%, #262626 39%, #332d35 71%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #332d35 0%, #262626 39%, #332d35 71%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #332d35 0%, #262626 39%, #332d35 71%, black 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #332d35 0%, #262626 39%, #332d35 71%, black 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#332d35', endColorstr='#000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

/* Custom Lists
================================================================ */
/* Custom HRs
================================================================ */
.hr-1 {
  height: 3px;
  background-color: #F1F1EF;
  background-image: url("/img/overlays/2.png");
  opacity: 0.3; }

/* Custom Dropdowns
================================================================ */
/* Custom Forms
================================================================ */
/* Custom Tabs
================================================================ */
/* MEDIA QUERIES
============================================================ */
/* PRINT
================================================================ */
