@import "_variables.scss";
@import "_mixins.scss";


/* Background images
================================================================ */

@each $number,$image,$format in 
(1,bg_header,jpg),
(2,bg-climbing,jpg),
(3,bg-construction-pin,jpg),
(4,bg-heaven,jpg),
(5,bg-desk,jpg),
(6,bg-contact,jpg)
 {
	.bg-img-#{$number} {
		background-image: url("/img/theme/#{$image}.#{$format}");
		@media only screen and (min-width: $medium-size) {
			background-image: url("/img/theme/#{$image}.#{$format}");
		};
	}
}

/* Theme styles
================================================================ */

.shadow {
	display:block;
	width:100%;
	height:20px;
	background-image: url("/img/globals/shadow.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top
}

.svg-header {
	width: 100%;
	height: 0px;
	padding-bottom: 4%;
	background-image: url("/img/theme/svg-line.svg");
	background-size: contain;
	background-repeat: no-repeat;
}
#port-01 .item {
	width:100%;
		// Medium and up
		@media only screen and (min-width: $medium-size) {
			width:50%;
		}
			
		// Large and up
		@media only screen and (min-width: $large-size) {
			width:33.33%;
		}
		}
.price-label {
	background-color: $dark-grey-color;
    padding: 0.75rem;
    color: #FFF;
    font-size: 1.25em;
    font-weight: 900;
    border-radius: 5px;
    margin: 0 1.5em 1.5em;
    float: right;
    @include transition (200ms);
    @media only screen and (max-width: $medium-size) {
    	width:100%;
    	margin:0;
    	margin-bottom: 1.5em;
    }
    span {
    	font-weight: 400;
    }
    &:hover {
    	color: white;
    	@include transform (1.2);
    	@include transition (300ms);
    }
}

/* Custom Bands
================================================================ */

.band-pretop {
	background-color: #303030;
	@include type-color (#a9a9a9,#a9a9a9,#a9a9a9,#a9a9a9);
	padding:10px 0;
}
.band-top {
	background-color: #202020;
}
.band-primary {
	@include type-color($font-color, $primary-color);
	h3,h2 {
	color:white;
	}
}
.band-stillas {
	@include type-color (white,white);
}

/* PRETOP 01
================================================================ */
.pretop-01 {
	.pretop-icons {
		font-size: 0.85em;
		padding-top:9px;
		a {
			margin-right:15px;
		}
	}
}

/* Header-01 - Header as Absoluttweb 2015
================================================================ */
@import "blocks/_header";
.header { 
	.container {
		padding: 13% 0 13%;
		h1 {
			font-size: 400%;
			// Medium only
			@media only screen and (max-width: $large-size) {
				font-size: 400%;
			}
			// Small only
			@media only screen and (max-width: $medium-size) {
				font-size: 200%;
				text-align: center;
			}
		}
		h2 {
			padding-top: 7%;
			font-size: 200%;
			color:$font-color;
			font-weight: 600;
			text-transform: none;
			letter-spacing: -0.05em;
			
			// Medium only
			@media only screen and (max-width: $large-size) {
				font-size: 250%;
			}
			// Small only
			@media only screen and (max-width: $medium-size) {
				font-size: 120%;
				text-align: center;
			}
		}
	}
	&.pages {
		border-bottom: 2px solid darken($light-grey-color,5%); 
		.container {
			padding: 18% 0;
		}
	}
}

/* Custom Theme Styles and Widgets
================================================================ */

//3 Columns in text
.large-col-3 {
	// Large and up
	@media only screen and (min-width: $large-size) {
	    -webkit-column-count: 3; /* Chrome, Safari, Opera */
	    -moz-column-count: 3; /* Firefox */
	    column-count: 3;
	    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
	    -moz-column-gap: 40px; /* Firefox */
	    column-gap: 40px;
	    -webkit-column-rule: 1px solid darken($light-grey-color,10%); /* Chrome, Safari, Opera */
	    -moz-column-rule: 1px solid darken($light-grey-color,10%); /* Firefox */
	    column-rule: 1px solid darken($light-grey-color,10%);
	    h1,h2,h3,h4,p.lead {
	    	-webkit-column-span: all; /* Chrome, Safari, Opera */
	    	column-span: all;
	    }
    }
}
//2 Columns in text
.large-col-2 {
	// Large and up
	@media only screen and (min-width: $large-size) {
	    -webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
	    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
	    -moz-column-gap: 40px; /* Firefox */
	    column-gap: 40px;
	    -webkit-column-rule: 1px solid darken($light-grey-color,10%); /* Chrome, Safari, Opera */
	    -moz-column-rule: 1px solid darken($light-grey-color,10%); /* Firefox */
	    column-rule: 1px solid darken($light-grey-color,10%);
	    h1,h2,h3,h4,p.lead {
	    	-webkit-column-span: all; /* Chrome, Safari, Opera */
	    	column-span: all;
	    }
    }
}


/* Graph Labels
================================================================*/
.graph-labels {
	max-width: 500px;
	font-size: 12px;
	line-height: 18px;
	ul {
		list-style: none;
		list-style-position: inside;
		padding: 0;
		margin: 0;
		li.graph-title {
			font-weight: $font-thick;
			margin-bottom: 0.5em;
		}
		div.graph-color {
			display: inline-block;
			width: 14px;
			height: 14px;
			border-radius: 2px;
			background-color: black;
			margin-right: 5px;
			vertical-align: text-top;
		}
		li.graph-comment {
			font-style: italic;
		}
	}
}


/* Buttons
================================================================ */
.btn-1 {
	@include button (black, white);
	border:2px solid black;
	@include transition (200ms);
	&:hover,&:active {
		border:2px solid black;
		background-color: black;
		color: white !important;
		@include transition (300ms);
	}
}
.btn-2 {
	@include button (white, black);
	border:2px solid black;
	@include transition (200ms);
	&:hover,&:active {
		border:2px solid black;
		background-color: #ffffff;
		color: black !important;
		@include transition (300ms);
	}
}
.btn-3 {
	@include button (white, $primary-color);
	border:2px solid $primary-color;
	@include transition (200ms);
	&:hover,&:active {
		border:2px solid black;
		background-color: black;
		color: white !important;
		@include transition (300ms);
	}
}


/*Forms
=============================================================== */
form.form-02 {
	textarea,input:not([type="submit"]) {
		border-top-width: 0; 
		border-right-width: 0;
		border-left-width: 0;
		padding: 0;
	}
	input:not([type="submit"]) {
		height: 2em;
	}
}

/* Footer
================================================================ */
.footer {
	background-color: #202020;
	padding: 24px 0 80px;
	a,p {
		color: lighten($font-color,20%);
	}
}

/* Custom HRs
@mixin hr ($height:1px, $color:$hr-color, $pattern:none, $opacity:1)
================================================================ */

/* Custom Panels
@mixin panel ($bg-color:white)
================================================================ */
.panel-light-trans {
	@include panel(rgba(255,255,255,0.8));
}
.panel-courses{
	@include panel($light-grey-color);
	border: 2px solid darken($light-grey-color,5%);
	a,a:hover {
		color:$font-color;
	}
}
.panel-ebooks {
	@include panel($light-grey-color);
	border: 2px solid darken($light-grey-color,5%);
}
/* Title with icon and stroke
================================================================ */
h4.stroke {
	border-bottom: 2px solid $primary-color;
	i.fa {
		margin-right: 10px
	}
}

/* Link with stroke
================================================================ */
.link-stroke {
	font-size: 2em;
	border-bottom: 2px solid $link-color;
}

/* MEDIA QUERIES
============================================================ */

// ONLY Small
@media only screen and (max-width: $medium-size) {}

// Medium and up
@media only screen and (min-width: $medium-size) {}
	
// Large and up
@media only screen and (min-width: $large-size) {}

// XLarge and up
@media only screen and (min-width: $xlarge-size) {}

// XXLarge and up
@media only screen and (min-width: $xxlarge-size) {} 

// Small and medium
@media only screen and (max-width: $large-size) {}

// Medium and Large
@media only screen and (min-width: $medium-size) and (max-width: $large-size) {} 

// Large and XLarge
@media only screen and (min-width: $large-size) and (max-width: $xlarge-size) {} 

// Left aside trigger size
@media only screen and (min-width: $xlarge-size + $left-aside-width) {}

/* PRINT
================================================================ */
@media print {}