@import "_variables.scss";
@import "_mixins.scss";

p.lead {
	font-family: "Raleway";
	font-weight: 200;
}
.home h2.logo {
	visibility: hidden;
}
img.profile-image {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border:1px solid black;

	//float: left;
	//margin-right: 20px;
	margin-bottom: 1.5em;
}
span.numbers,span.montserrat {
	font-family: "montserrat";
}
body.no-scroll {
	overflow: hidden;
}
a.scroll {
  color: black; }

.iconline {
	display: block;
	width: 80%;
	height: 2px;
	background-color: $light-grey-color;
	position: absolute;
	top: 34px;
	left: 10%;
	&.iconline-right {
		width: 50%;
		left: initial;
		right: 0
	}
	&.iconline-left {
		width: 50%;
		left: 0;
		right: initial;
	}
}
//3 Columns in text
.large-col-3 {
	// Large and up
	@media only screen and (min-width: $large-size) {
	    -webkit-column-count: 3; /* Chrome, Safari, Opera */
	    -moz-column-count: 3; /* Firefox */
	    column-count: 3;
	    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
	    -moz-column-gap: 40px; /* Firefox */
	    column-gap: 40px;
	    -webkit-column-rule: 1px solid darken($light-grey-color,10%); /* Chrome, Safari, Opera */
	    -moz-column-rule: 1px solid darken($light-grey-color,10%); /* Firefox */
	    column-rule: 1px solid darken($light-grey-color,10%);
	    h1,h2,h3,h4,p.lead {
	    	-webkit-column-span: all; /* Chrome, Safari, Opera */
	    	column-span: all;
	    }
    }
}
/* Top-bar with triangle in corner
================================================================*/
$top-bar-height: 75px;
$top-bar-bg: $dark-grey-color;
.top-bar {
	position: fixed;
	top: -$top-bar-height;
	height: $top-bar-height;
	width: 100%;
	z-index: 996;
	background-color: $top-bar-bg;
	color: $light-grey-color;
	@include transition (300ms);
	&.active {
		top: 0;
	}
	.corner-triangle {
		position: absolute;
		display: block;
		z-index: 995;
		cursor: pointer;
		top: $top-bar-height;
		right: 0;
		width: 50px;
		height: 50px;
		border-style: solid;
		border-width: 0 50px 50px 0;
		border-color: transparent $dark-grey-color transparent transparent;
		&::after {
			content: "+";
			font-family:"arial";
			color:white;
			font-size:16px;
			font-weight:900;
			line-height:1;
			position:absolute;
			right:-40px;
			top:10px;
		}
	}
}

/* Bottom bar . Slide-up Overlay
================================================================*/
$bottom-bar-height: 245px;
$bottom-bar-bg: $dark-grey-color;
.bottom-bar {
	position: fixed;
	bottom: -$bottom-bar-height;
	height: $bottom-bar-height;
	padding: $column-gutter;
	width: 100%;
	max-width: $page-width;
	left: 50%;
  	transform: translateX(-50%);
	z-index: 996;
	background-color: $bottom-bar-bg;
	color: $light-grey-color;
	@include transition (300ms);
	&.active {
		@include transition (300ms);
		bottom: 0;
	}
}

/* Graph Labels
================================================================*/
.graph-labels {
	max-width: 500px;
	font-size: 12px;
	line-height: 18px;
	ul {
		list-style: none;
		list-style-position: inside;
		padding: 0;
		margin: 0;
		li.graph-title {
			font-weight: $font-thick;
			margin-bottom: 0.5em;
		}
		div.graph-color {
			display: inline-block;
			width: 14px;
			height: 14px;
			border-radius: 2px;
			background-color: black;
			margin-right: 5px;
			vertical-align: text-top;
		}
		li.graph-comment {
			font-style: italic;
		}
	}
}

/* Cards (Panel)
=============================================================== */

.card, .panel {
		background-color: white;
		position: relative;
		margin-bottom: 20px;
		.panel-content {
			padding: 30px 20px;
		}
	}	
	.news-card {
		@extend .card;

		margin-bottom: 10px;
		.date {
		    font-size: 11px;
		    color: #787878;
		    font-weight: 300;
		    position: absolute;
		    right: 10px;
		    top: 10px;
		    line-height: 1;
		}
		a.link {
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 900;
			display: block;
		}
		a.facebook-link {
			@extend .link;
			color: #3B5998 !important;
		}
		a.label {
			position: absolute;
			right: 0;
			top:30px;
			padding: 8px 8px;
			color: white;
			background-color: $dark-grey-color;
			text-transform: uppercase;
			font-size: 11px;
			font-weight: $font-thick;
			line-height: 1;
		}
		img {
			margin-bottom: 10px;
		}
		h5,h4,h3 { 
			letter-spacing: 0;
			text-transform: none;
		}
		p,li {
			font-size: 0.9em;
			color: $font-color;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a.fancybox-media {
		position: relative;
		display: block;
		&:after {
			content:"SPILL AV VIDEO";
			background-color: rgba(0,0,0,0.5);
			color: white;
			font-family: "montserrat";
			display: block;
			position: absolute;
			bottom: 10px;
			left: 0;
			right: 0;
			padding: 10px 0;
			text-align: center;
		}
		}
	}

/* Bottom Fixed Menu
================================================================ */
.bottom-menu {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 999;
	background-color: white;
	-webkit-box-shadow: 	0px -1px 1px 0px rgba(50, 50, 50, 0.30);
		-moz-box-shadow:    0px -1px 1px 0px rgba(50, 50, 50, 0.30);
		box-shadow:         0px -1px 1px 0px rgba(50, 50, 50, 0.30);
	a {
		display: inline-block;
		text-transform: uppercase;
		font-weight: $header-weight-thick;
		font-size: 0.85em;
		padding: 20px ($column-gutter / 1.25);
		color: $dark-grey-color;
	}
	.bm-share-icons a {
		font-size: 16px;
	}
}



/* Common Infobar & Extend Left & Right
================================================================ */
$info-bar-tab-top: 97px;
$info-bar-tab-display: none; //block or None

.info-bar {
	position: fixed;
	height: 100%;
	padding-bottom: 20px;
	position: fixed;
	z-index: 998;
	background-size: cover;
	@include transition (300ms);
	.ib-scroll {
		overflow-y:auto;
		height: 100%;
	}
	a.ib-tab {
		position: absolute;
		cursor: pointer;
		display: $info-bar-tab-display;
		top: $info-bar-tab-top;
		z-index: 9998;
		padding: 20px 15px;
		white-space: nowrap;
		text-transform: uppercase;
		font-weight: $header-weight-thick;
		font-size: 0.85em;
		// ONLY Small
		@media only screen and (max-width: medium-size) {
			display:none;
		}
	}
	.ib-container {
		padding: 15px 15px 45px 15px;
	}
	
	// ONLY Small
		@media only screen and (max-width: $medium-size) {
			max-width: 100%;
			border-right:0;
		}
}

$info-bar-left-bg: $dark-grey-color;
$info-bar-left-width: 340px;

.info-bar-left {
	@extend .info-bar;
	left: 0;
	width: $info-bar-left-width;
	margin-left: -($info-bar-left-width+4);
	background-color: $info-bar-left-bg;
	//background-image: url('/img/globals/placeholder-08.jpg');
	@include box-shadow (2px, 0px, 2px, 0px, 0.3);
	&.active {
		margin-left: 0;
	}
	a.ib-tab {
		color: white;
		left: $info-bar-left-width;
		background-color: $info-bar-left-bg;
		border-radius: 0 $global-radius $global-radius 0;
		-webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.30);
		-moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.30);
		box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.30);
	}
}

$info-bar-right-bg: $dark-grey-color;
$info-bar-right-width: 340px;

.info-bar-right {
	@extend .info-bar;
	right: 0;
	width: $info-bar-right-width;
	margin-right: -($info-bar-right-width+4);
	background-color: $info-bar-right-bg;
	//background-image: url('/img/globals/placeholder-08.jpg');
	@include box-shadow (-2px, 0px, 2px, 0px, 0.3);
	&.active {
		margin-right: 0;
	}
	a.ib-tab {
		color: white;
		right: $info-bar-right-width;
		background-color: $info-bar-right-bg;
		border-radius: $global-radius 0 0 $global-radius;
		-webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.30);
		-moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.30);
		box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.30);
	}
}

/* OffCanvas
================================================================ */
$offcanvas-bg: $dark-grey-color;

.offcanvas {
	display: block;
	width: 350px;
	background-color: $offcanvas-bg;
	height: 100%;
}

.offcanvas-right {
	@extend .offcanvas;
}



/* Page Loader
================================================================ */
.page-loader {
	position: fixed;
	top: 0;
	bottom: 0%;
	left: 0;
	right: 0%;
	z-index: 9999;
	display: block;
	text-align: center;
	width: 100%;
	padding-top: 25px;
	background: white;
}
.pulsing-logo {
	position: fixed;
	width: 90px;
	height: 90px;
	top: 50%;
	left: 50%;
	margin: -45px 0 0 -45px;
	-moz-animation: pulsingLogo 2000ms infinite linear, fadeInLogo 1000ms 1 linear;
	-o-animation: pulsingLogo 2000ms infinite linear, fadeInLogo 1000ms 1 linear;    
	-webkit-animation: pulsingLogo 2000ms infinite linear, fadeInLogo 1000ms 1 linear;
	animation: pulsingLogo 2000ms infinite linear, fadeInLogo 1000ms 1 linear;
}
@keyframes pulsingLogo {
    0% { transform: scale(0.8); }
    50% { transform: scale(1); }
    100% { transform: scale(0.8); }
}
@keyframes fadeInLogo {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
/* Charachters
================================================================ */
.char-1 {
	font-family: "raleway";
	font-weight: 300;
	color: $font-color;
}

/* Buttons
================================================================ */
.btn-1 {
	@include button (black, white);
	border:2px solid black;
	@include transition (200ms);
	&:hover,&:active {
		border:2px solid black;
		background-color: black;
		color: white !important;
		@include transition (300ms);
	}
}
.btn-2 {
	@include button (white, black);
	border:2px solid black;
	@include transition (200ms);
	&:hover,&:active {
		border:2px solid black;
		background-color: #ffffff;
		color: black !important;
		@include transition (300ms);
	}
}
.btn-3 {
	@include button (white, $primary-color);
	border:2px solid $primary-color;
	@include transition (200ms);
	&:hover,&:active {
		border:2px solid black;
		background-color: black;
		color: white !important;
		@include transition (300ms);
	}
}

/* Big Screens on Index 
================================================================ */
.big-screens {
	margin-top: -8%;
	@media only screen and (max-width: $medium-size) {
		margin-top: -16%;
	}
	.owl-carousel .item {
		margin: 0 20px;
		text-align: center;
	}
	span {
		@extend .char-1;
		display: block;
		margin-top: 2em;
	}
	a .fa {
		color: black !important;
	}
	.owl-theme .owl-controls {
		margin: 2em 0;
	}
}


/* Custom Bands
================================================================ */

.band-dark {
	@include type-color (lighten($font-color,40%),$light-grey-color,$light-grey-color,$light-grey-color);
}


/* Footer
================================================================ */
.footer {
	background-color: black;
	padding: 2rem 0;
	a,p {
		color: #847676;
	}
}

/* Custom Fullscreen
================================================================ */


/* Background images
================================================================ */
.bg-img-01 {
	background-image: url("/img/globals/placeholder-01.jpg");
	@media only screen and (min-width: $medium-size) {
		background-image: url("/img/globals/placeholder-01.jpg");
	};
}
.bg-img-02 {
	background-image: url("/img/globals/placeholder-05.jpg");
	@media only screen and (min-width: $medium-size) {
		background-image: url("/img/globals/placeholder-05.jpg");
	};
}
.bg-img-03 {
	background-image: url("/img/globals/placeholder-05.jpg");
	@media only screen and (min-width: $medium-size) {
		background-image: url("/img/globals/placeholder-05.jpg");
	};
}
/* Custom HRs
================================================================ */

.hr-1 {
	@include hr ($height:3px, $color:$hr-color, $pattern:2, $opacity:0.3);
}

/* Animated Burger Icon. 4 styles
================================================================ */
/* Icon 1 */
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 20px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  }

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #252A2E;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  }

#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 18px; }

#nav-icon1 span:nth-child(3) {
  top: 36px; }

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

/* Icon 2 */
#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0; }

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px; }

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px; }

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px; }

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px; }

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px; }

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px; }

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0; }

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0; }

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px; }

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px; }

/* Icon 3 */
#nav-icon3 span:nth-child(1) {
  top: 0px; }

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 18px; }

#nav-icon3 span:nth-child(4) {
  top: 36px; }

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

/* Icon 4 */
#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav-icon4 span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }

#nav-icon4 span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 5px; }

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 18px;
  left: 5px;
  }


/* Custom Forms
================================================================ */


/* Custom Tabs
================================================================ */


/* MEDIA QUERIES
============================================================ */

// ONLY Small
@media only screen and (max-width: $medium-size) {}

// Medium and up
@media only screen and (min-width: $medium-size) {}
	
// Large and up
@media only screen and (min-width: $large-size) {}

// XLarge and up
@media only screen and (min-width: $xlarge-size) {}

// XXLarge and up
@media only screen and (min-width: $xxlarge-size) {} 

// Small and medium
@media only screen and (max-width: $large-size) {}

// Medium and Large
@media only screen and (min-width: $medium-size) and (max-width: $large-size) {} 

// Large and XLarge
@media only screen and (min-width: $large-size) and (max-width: $xlarge-size) {} 

// Left aside trigger size
@media only screen and (min-width: $xlarge-size + $left-aside-width) {}

/* PRINT
================================================================ */
@media print {}