@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,400italic,600,300|Playfair+Display:400,700|Montserrat);
/* Blocks
================================================================ */
.port-01 .panel {
  position: relative;
  padding-top: 50px; }
.port-01 .icon {
  display: block;
  position: absolute;
  width: 56px;
  height: 56px;
  top: -10px;
  left: 28px;
  margin-left: -28px;
  text-align: center;
  line-height: 56px;
  background-color: #5BA921; }
  .port-01 .icon img {
    width: 32px; }
  .port-01 .icon .fa {
    line-height: 56px; }

#port-01 .item {
  width: 50%;
  padding: 10px; }
  @media only screen and (max-width: 760px) {
    #port-01 .item {
      width: 100%; } }

/* Background images
================================================================ */
.bg-img-1 {
  background-image: url("/img/theme/bg_header.jpg"); }
  @media only screen and (min-width: 760px) {
    .bg-img-1 {
      background-image: url("/img/theme/bg_header.jpg"); } }

.bg-img-2 {
  background-image: url("/img/theme/bg-climbing.jpg"); }
  @media only screen and (min-width: 760px) {
    .bg-img-2 {
      background-image: url("/img/theme/bg-climbing.jpg"); } }

.bg-img-3 {
  background-image: url("/img/theme/bg-construction-pin.jpg"); }
  @media only screen and (min-width: 760px) {
    .bg-img-3 {
      background-image: url("/img/theme/bg-construction-pin.jpg"); } }

.bg-img-4 {
  background-image: url("/img/theme/bg-heaven.jpg"); }
  @media only screen and (min-width: 760px) {
    .bg-img-4 {
      background-image: url("/img/theme/bg-heaven.jpg"); } }

.bg-img-5 {
  background-image: url("/img/theme/bg-desk.jpg"); }
  @media only screen and (min-width: 760px) {
    .bg-img-5 {
      background-image: url("/img/theme/bg-desk.jpg"); } }

.bg-img-6 {
  background-image: url("/img/theme/bg-contact.jpg"); }
  @media only screen and (min-width: 760px) {
    .bg-img-6 {
      background-image: url("/img/theme/bg-contact.jpg"); } }

/* Theme styles
================================================================ */
.svg-header {
  width: 100%;
  height: 0px;
  padding-bottom: 4%;
  background-image: url("/img/theme/svg-line.svg");
  background-size: contain;
  background-repeat: no-repeat; }

#port-01 .item {
  width: 100%; }
  @media only screen and (min-width: 760px) {
    #port-01 .item {
      width: 50%; } }
  @media only screen and (min-width: 1180px) {
    #port-01 .item {
      width: 33.33%; } }

.price-label {
  background-color: #202020;
  padding: 0.75rem;
  color: #FFF;
  font-size: 1.25em;
  font-weight: 900;
  border-radius: 5px;
  margin: 0 1.5em 1.5em;
  float: right;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }
  @media only screen and (max-width: 760px) {
    .price-label {
      width: 100%;
      margin: 0;
      margin-bottom: 1.5em; } }
  .price-label span {
    font-weight: 400; }
  .price-label:hover {
    color: white;
    -moz-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1.2) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }

/* Custom Bands
================================================================ */
.band-pretop {
  background-color: #303030;
  padding: 10px 0; }
  .band-pretop p, .band-pretop li, .band-pretop ul.icon li:before {
    color: #a9a9a9; }
  .band-pretop h1, .band-pretop h2, .band-pretop h3, .band-pretop h4, .band-pretop h5, .band-pretop h6 {
    color: #a9a9a9; }
  .band-pretop a {
    color: #a9a9a9; }
  .band-pretop hr {
    background-color: #E5E4E0; }

.band-top {
  background-color: #202020; }

.band-primary p, .band-primary li, .band-primary ul.icon li:before {
  color: #505050; }
.band-primary h1, .band-primary h2, .band-primary h3, .band-primary h4, .band-primary h5, .band-primary h6 {
  color: #0084B4; }
.band-primary a {
  color: #0084B4; }
.band-primary hr {
  background-color: #E5E4E0; }
.band-primary h3, .band-primary h2 {
  color: white; }

.band-stillas p, .band-stillas li, .band-stillas ul.icon li:before {
  color: white; }
.band-stillas h1, .band-stillas h2, .band-stillas h3, .band-stillas h4, .band-stillas h5, .band-stillas h6 {
  color: white; }
.band-stillas a {
  color: #0084B4; }
.band-stillas hr {
  background-color: #E5E4E0; }

/* PRETOP 01
================================================================ */
.pretop-01 .pretop-icons {
  font-size: 0.85em;
  padding-top: 9px; }
  .pretop-01 .pretop-icons a {
    margin-right: 15px; }

/* Header-01 - Header as Absoluttweb 2015
================================================================ */
.header {
  overflow: hidden;
  margin: 0 0px 0px; }
  .header .container {
    padding: 13% 0 25%; }
    @media only screen and (max-width: 760px) {
      .header .container {
        padding: 16% 0 35%; } }
    .header .container h1 {
      padding-top: 3%; }
    .header .container h2 {
      padding-top: 7%; }
      @media only screen and (max-width: 1180px) {
        .header .container h2 {
          font-size: 250%; } }
      @media only screen and (max-width: 760px) {
        .header .container h2 {
          font-size: 200%;
          text-align: center; } }
  .header .tilt-top-box {
    -moz-transform: rotate(-4.2deg);
    -webkit-transform: rotate(-4.2deg);
    -o-transform: rotate(-4.2deg);
    -ms-transform: rotate(-4.2deg);
    transform: rotate(-4.2deg);
    display: block;
    width: 110%;
    height: 5%;
    position: absolute;
    bottom: 5%;
    left: -5%; }
  .header .tilt-bottom-box {
    -moz-transform: rotate(-3.5deg);
    -webkit-transform: rotate(-3.5deg);
    -o-transform: rotate(-3.5deg);
    -ms-transform: rotate(-3.5deg);
    transform: rotate(-3.5deg);
    display: block;
    width: 110%;
    height: 16%;
    position: absolute;
    bottom: -8%;
    left: -5%; }
  .header .small .header-container {
    padding: 8% 0 15%; }
    @media only screen and (max-width: 760px) {
      .header .small .header-container {
        padding: 8% 0 25%; } }
  .header .small .tilt-top-box {
    bottom: 12%;
    height: 8%; }
  .header .small .tilt-bottom-box {
    bottom: -16%;
    height: 32%; }

.header .container {
  padding: 13% 0 13%; }
  .header .container h1 {
    font-size: 400%; }
    @media only screen and (max-width: 1180px) {
      .header .container h1 {
        font-size: 400%; } }
    @media only screen and (max-width: 760px) {
      .header .container h1 {
        font-size: 200%;
        text-align: center; } }
  .header .container h2 {
    padding-top: 7%;
    font-size: 200%;
    color: #505050;
    font-weight: 600;
    text-transform: none;
    letter-spacing: -0.05em; }
    @media only screen and (max-width: 1180px) {
      .header .container h2 {
        font-size: 250%; } }
    @media only screen and (max-width: 760px) {
      .header .container h2 {
        font-size: 120%;
        text-align: center; } }
.header.pages {
  border-bottom: 2px solid #d9d8d2; }
  .header.pages .container {
    padding: 18% 0; }

/* Custom Theme Styles and Widgets
================================================================ */
@media only screen and (min-width: 1180px) {
  .large-col-3 {
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 40px;
    /* Firefox */
    column-gap: 40px;
    -webkit-column-rule: 1px solid #ceccc4;
    /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid #ceccc4;
    /* Firefox */
    column-rule: 1px solid #ceccc4; }
    .large-col-3 h1, .large-col-3 h2, .large-col-3 h3, .large-col-3 h4, .large-col-3 p.lead {
      -webkit-column-span: all;
      /* Chrome, Safari, Opera */
      column-span: all; } }

@media only screen and (min-width: 1180px) {
  .large-col-2 {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 40px;
    /* Firefox */
    column-gap: 40px;
    -webkit-column-rule: 1px solid #ceccc4;
    /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid #ceccc4;
    /* Firefox */
    column-rule: 1px solid #ceccc4; }
    .large-col-2 h1, .large-col-2 h2, .large-col-2 h3, .large-col-2 h4, .large-col-2 p.lead {
      -webkit-column-span: all;
      /* Chrome, Safari, Opera */
      column-span: all; } }

/* Graph Labels
================================================================*/
.graph-labels {
  max-width: 500px;
  font-size: 12px;
  line-height: 18px; }
  .graph-labels ul {
    list-style: none;
    list-style-position: inside;
    padding: 0;
    margin: 0; }
    .graph-labels ul li.graph-title {
      font-weight: 800;
      margin-bottom: 0.5em; }
    .graph-labels ul div.graph-color {
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 2px;
      background-color: black;
      margin-right: 5px;
      vertical-align: text-top; }
    .graph-labels ul li.graph-comment {
      font-style: italic; }

/* Buttons
================================================================ */
.btn-1 {
  color: black !important;
  background-color: white;
  border: 1px solid #f2f2f2;
  border: 2px solid black;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }
  .btn-1.with-icon .fa {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.2); }
  .btn-1.border {
    border: 0.1em solid #f2f2f2; }
    .btn-1.border.dashed {
      border-style: dashed; }
  .btn-1.shadow {
    border-bottom: 2px solid #f2f2f2; }
  .btn-1.popout {
    border: none;
    border-top: 1px solid white;
    border-bottom: 1px solid #f2f2f2; }
  .btn-1:hover, .btn-1:focus {
    background-color: white;
    border-color: white;
    color: black; }
  .btn-1:hover, .btn-1:active {
    border: 2px solid black;
    background-color: black;
    color: white !important;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }

.btn-2 {
  color: white !important;
  background-color: black;
  border: 1px solid black;
  border: 2px solid black;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }
  .btn-2.with-icon .fa {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.2); }
  .btn-2.border {
    border: 0.1em solid black; }
    .btn-2.border.dashed {
      border-style: dashed; }
  .btn-2.shadow {
    border-bottom: 2px solid black; }
  .btn-2.popout {
    border: none;
    border-top: 1px solid #0d0d0d;
    border-bottom: 1px solid black; }
  .btn-2:hover, .btn-2:focus {
    background-color: #0d0d0d;
    border-color: black;
    color: white; }
  .btn-2:hover, .btn-2:active {
    border: 2px solid black;
    background-color: #ffffff;
    color: black !important;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }

.btn-3 {
  color: white !important;
  background-color: #0084B4;
  border: 1px solid #00719b;
  border: 2px solid #0084B4;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }
  .btn-3.with-icon .fa {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.2); }
  .btn-3.border {
    border: 0.1em solid #00719b; }
    .btn-3.border.dashed {
      border-style: dashed; }
  .btn-3.shadow {
    border-bottom: 2px solid #00719b; }
  .btn-3.popout {
    border: none;
    border-top: 1px solid #0097ce;
    border-bottom: 1px solid #00719b; }
  .btn-3:hover, .btn-3:focus {
    background-color: #0097ce;
    border-color: #0084B4;
    color: white; }
  .btn-3:hover, .btn-3:active {
    border: 2px solid black;
    background-color: black;
    color: white !important;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }

/*Forms
=============================================================== */
form.form-02 textarea, form.form-02 input:not([type="submit"]) {
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  padding: 0; }
form.form-02 input:not([type="submit"]) {
  height: 2em; }

/* Footer
================================================================ */
.footer {
  background-color: #202020;
  padding: 24px 0 80px; }
  .footer a, .footer p {
    color: #838383; }

/* Custom HRs
@mixin hr ($height:1px, $color:$hr-color, $pattern:none, $opacity:1)
================================================================ */
/* Custom Panels
@mixin panel ($bg-color:white)
================================================================ */
.panel-light-trans {
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  margin-bottom: 20px; }
  .panel-light-trans .panel-content {
    padding: 1.25rem; }

.panel-courses {
  background-color: #E5E4E0;
  position: relative;
  margin-bottom: 20px;
  border: 2px solid #d9d8d2; }
  .panel-courses .panel-content {
    padding: 1.25rem; }
  .panel-courses a, .panel-courses a:hover {
    color: #505050; }

.panel-ebooks {
  background-color: #E5E4E0;
  position: relative;
  margin-bottom: 20px;
  border: 2px solid #d9d8d2; }
  .panel-ebooks .panel-content {
    padding: 1.25rem; }

/* Title with icon and stroke
================================================================ */
h4.stroke {
  border-bottom: 2px solid #0084B4; }
  h4.stroke i.fa {
    margin-right: 10px; }

/* Link with stroke
================================================================ */
.link-stroke {
  font-size: 2em;
  border-bottom: 2px solid #0084B4; }

/* MEDIA QUERIES
============================================================ */
/* PRINT
================================================================ */
