/* Images
============================================================= */

img {
	position: relative;
	margin-bottom: 0; //To prevent Sliders and Plugins to fail
	&.pad-bot {
		margin-bottom: 1rem;
	}
	&.pull-left {
		float: left;
		margin-right: $font-line-height;
		margin-right: $font-line-height;
	}
	&.push-right {
		float: right;
		margin-left: $font-line-height;
	}
	&.max-50 {
		max-width:50%;
	}
	&.max-40 {
		max-width:40%;
	}
	&.max-30 {
		max-width:30%;
	}
	&.radius {
		@include border-radius($global-radius)
	}
	&.round, &.rounded {
		@include border-radius(9000px)
	}
	&.border {
		border:1px solid #000000;
		padding:0;
		background: #ffffff;
	}
	//Inline images
	&.left-side,&.inline-left {
		margin:0 3% 3% 0;
		float: left;
		width:30%;
		min-width:180px;
		max-width:100%;
		z-index:2;
	}
	&.right-side,&.inline-right {
		margin:0 0 3% 3%;
		float: right;
		width:30%;
		min-width:180px;
		max-width:100%;
		z-index:2;
	}
}


.frame, a.frame {
	margin-bottom: $font-line-height/2;
	display: block;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	padding: $frame-size 0;
	height:0;
	position: relative;
	&.pull-left {
		float: left;
		margin-right: $font-line-height / 2;
	}
	&.push-right {
		float: right;
		margin-left: $font-line-height / 2;
	}
	&.radius {
		@include border-radius($global-radius)
	}
	&.border {
		border:1px solid $light-grey-color;
		padding:1%;
		background: #ffffff;
	}
	&.round {
		@include border-radius(9000px)
	}
	&.wide {
		padding: $frame-size*0.6 0;
	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		min-width:102%;
	}
}