/* Band Nav
=================================== */
.band-nav {
	background-color: white;
	border-top: $nav-border-weight solid $nav-border-color;
}

/* Logo in Top
==================================== */
h2.logo {
	margin: $logo-margin auto;
	max-width:75%;
	@media only screen and (max-width: $large-size) {
		margin-top: $logo-margin * $sticky-shrink;
		margin-bottom: $logo-margin * $sticky-shrink;
	}
	a {
		display: block;
		height: $logo-height;	
		background-size: contain;
		background-position: center center;
		background-image: url(/img/theme/logo.png);
		background-repeat: no-repeat;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
	}
	&.transparent a {
		background-image: url(/img/theme/logo-transparent.png);
	}
	&.invert a {
		background-image: url(/img/theme/logo-invert.png);
	}
	&.left {
		max-width: 100%;
		width: $logo-width;
		margin: $logo-margin;
		a {
			background-position: center left;
			@media only screen and (max-width: $large-size) {
				height: $logo-height * $sticky-shrink;
			}
		}
	}
}

/* Sticky Top Navigation
================================================================ */

.sticky.cloned {
	@include transition(200ms);
	position:fixed;
	top:-$logo-space;
	left: 0;
	z-index: 98;
	width: 100%;
	margin: 0;
	padding-right: $sidenav-width;
	opacity: $sticky-opacity;
	h2.logo-left a {
		height: $logo-height * $sticky-shrink;
		margin-top: $logo-margin * $sticky-shrink;
		margin-bottom: $logo-margin * $sticky-shrink;
	}
	ul.sf-menu {
		@if ($nav-logo-adjust == true) {
		margin-top: ($logo-space / 2) - ($nav-height / 2);
		}
		@else {
			margin-top: 0;
		}
	}
}
.boxed .sticky.cloned {
	width: $xlarge-size;
	max-width: 100%;
	left:50%;
	margin-left: -($xlarge-size / 2);
}
.sticky.cloned.active {
	@include transition(200ms);
	top: 0;	
}

/* Burger Toggle for Mobile Menus
====================================================== */
a.burger, a.top-icon {
	display:block;
	color: $burger-color;
	line-height: $logo-space * $sticky-shrink;
	height: $logo-space * $sticky-shrink;
	width: 60px;
	text-align:center;	
	font-size:$burger-size;
	@if $burger-position =="center" {
		margin: 0 auto;
	}
	&.active, &:hover, &:focus {
		color: $burger-color;
	}
}
a.phone,a.burger,a.chat {
	@if ($burger-border == true) {
	border-left: 1px solid $burger-border-color}
}

//Input
input.q-phone {
	background:white;
}
//Search in Phone

form.phone-form {
  float: right;
  background: white;
  border: 1px solid $light-grey-color;
  border-radius: 3px;
  padding: 5px;
  margin: 0;
  width: 100%;
  max-width: 400px;
	input[type="search"] {
  	border: none;
    width: auto;
    float: left;
    margin: 0;
    width: 80%;
    height: 1.5rem;
    &:focus {
      background: white;
      }
  }
  input[type="submit"] {
  	margin: 0;
    padding: 0 10px 0 0;
    background: transparent;
    border: 0;
    width: 20%;
    height: 1.5rem;
    text-align: right;
  }
}

/* Breadcrumbs 
=======================================================*/

nav.breadcrumbs {
	font-size: $breadcrumbs-size;
	p {
		display:inline-block;
		margin:0;
		padding-right:5px;
	}
	ul {
		display:inline-block;
		margin: 0;
		li {
			display:inline-block;
			padding-right: 5px;
			&:after {
				content:" - ";
				padding-left:5px;
			}
			&:last-child:after {
				content:"";
			}
			a {
				text-transform: $breadcrumbs-transform;
				color:$breadcrumbs-color;
			}
			&.active {
				text-transform: $breadcrumbs-transform;
				color:$breadcrumbs-active;
			}
		}

	}
}
