/* Logo in Top
==================================== */
h2.logo {
	position:relative;
  @if $logo-position == center {margin: $logo-margin auto}
  @else {margin: $logo-margin 0}
	//max-width:75%;
  z-index:1;
	@media only screen and (max-width: $large-size) {
		margin-top: $logo-margin * $sticky-shrink;
		margin-bottom: $logo-margin * $sticky-shrink;
	}
	a {
		display: block;
		height: $logo-height;
    width: $logo-width; 
		background-size: contain;
		background-position: center center;
		background-image: url(/img/theme/logo.png);
		background-repeat: no-repeat;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
	}
	&.transparent a {
		background-image: url(/img/theme/logo-transparent.png);
	}
	&.invert a {
		background-image: url(/img/theme/logo-invert.png);
	}
	&.left {
		max-width: 100%;
		width: $logo-width;
		a {
			background-position: center left;
			@media only screen and (max-width: $large-size) {
				height: $logo-height * $sticky-shrink;
			}
		}
	}
}

/* Sticky and Clone Top Navigation
================================================================ */
.band.sticky, .band.fixed {
	position:fixed;
	width: 100%;
	z-index: 900;
}

.band.clone.cloned {
	@include transition(200ms);
	position:fixed;
	top:-$logo-space;
	left: 0;
	z-index: 98;
	width: 100%;
	margin: 0;
	padding-right: $sidenav-width;
	opacity: $sticky-opacity;
	h2.logo-left a {
		height: $logo-height * $sticky-shrink;
		margin-top: $logo-margin * $sticky-shrink;
		margin-bottom: $logo-margin * $sticky-shrink;
	}
	ul.sf-menu {
		@if ($nav-logo-adjust == true) {
		margin-top: ($logo-space / 2) - ($nav-height / 2);
		}
		@else {
			margin-top: 0;
		}
	}
}
.boxed band.clone.cloned {
	width: $xlarge-size;
	max-width: 100%;
	left:50%;
	margin-left: -($xlarge-size / 2);
}
.band.clone.cloned.active {
	@include transition(200ms);
	top: 0;	
}

/* Burger Toggle for Mobile Menus
====================================================== */
a.animated-burger {
	display:block;
	color: $burger-color;
	float:right;
}

a.burger, a.top-icon {
	display:block;
	color: $burger-color;
	line-height: $logo-space * $sticky-shrink;
	height: $logo-space * $sticky-shrink;
	width: 60px;
	text-align:center;	
	font-size:$burger-size;
	@if $burger-position =="center" {
		margin: 0 auto;
	}
	&.active, &:hover, &:focus {
		color: $burger-color;
	}
}
a.phone,a.burger,a.chat {
	@if ($burger-border == true) {
	border-left: 1px solid $burger-border-color}
}

//Input
input.q-phone {
	background:white;
}
//Search in Phone

form.phone-form {
  float: right;
  background: white;
  border: 1px solid $light-grey-color;
  border-radius: 3px;
  padding: 5px;
  margin: 0;
  width: 100%;
  max-width: 400px;
	input[type="search"] {
  	border: none;
    width: auto;
    float: left;
    margin: 0;
    width: 80%;
    height: 1.5rem;
    &:focus {
      background: white;
      }
  }
  input[type="submit"] {
  	margin: 0;
    padding: 0 10px 0 0;
    background: transparent;
    border: 0;
    width: 20%;
    height: 1.5rem;
    text-align: right;
  }
}

/* Breadcrumbs 
=======================================================*/

nav.breadcrumbs {
	font-size: $breadcrumbs-size;
	p {
		display:inline-block;
		margin:0;
		padding-right:5px;
	}
	ul {
		display:inline-block;
		margin: 0;
		li {
			display:inline-block;
			padding-right: 5px;
			&:after {
				content:" - ";
				padding-left:5px;
			}
			&:last-child:after {
				content:"";
			}
			a {
				text-transform: $breadcrumbs-transform;
				color:$breadcrumbs-color;
			}
			&.active {
				text-transform: $breadcrumbs-transform;
				color:$breadcrumbs-active;
			}
		}

	}
}

/* Animated Burger Icon. 4 styles
================================================================ */
/* Icon 1 */
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 18px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  }

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #252A2E;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  }

#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 18px; }

#nav-icon1 span:nth-child(3) {
  top: 36px; }

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

/* Icon 2 */
#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0; }

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px; }

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px; }

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px; }

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px; }

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px; }

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px; }

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0; }

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0; }

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px; }

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px; }

/* Icon 3 */
#nav-icon3 span:nth-child(1) {
  top: 0px; }

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 18px; }

#nav-icon3 span:nth-child(4) {
  top: 36px; }

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

/* Icon 4 */
#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#nav-icon4 span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }

#nav-icon4 span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 5px; }

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 18px;
  left: 5px;
  }
