/* Panels
================================================ */

.panel {
	background-color: $panel-bg;
	margin-bottom: $font-line-height;
	.panel-content {
		padding: $panel-padding;
		&.pad-half {
			padding: $panel-padding/2;
		}
		// Small only
		@media only screen and (max-width: $medium-size) { 
			padding: ($panel-padding/2);
		}
	}
}

/* Default Panels
==================================================== */
.panel-light-grey {
	background-color: $light-grey-color;
}