/* Tables 
==================================== */
//Wrap this around table to make it overflow scroll horizontaly
.table-wrapper { 
	overflow-x: auto;
}

table {
width: 100%;
background-color: white;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
text-align: left;
margin-bottom: 1.5em;
border-collapse: collapse;
  &.top-align td {
    vertical-align: top;
  }
  th {
  font-family: $header-family;
  font-size: 100%;
  font-weight: 500;
  color: $header-color;
  letter-spacing: $header-letter-spacing;
  padding: 0.5em 0.8em;
  }
  tr {
    &:nth-child(odd) {
      background: #f5f5f5;
    }
    &:hover {
      background: $light-grey-color;
    }
  }
  td {
    font-size: 90%;
    padding: 0.5em 0.8em;
  }


  &.default {
    th {
      font-weight: $header-weight;
      border-bottom: solid 2px $light-grey-color;
    }
    td {
      color: inherit;
    }
  }


  &.default-lines {
    th {
      border-bottom: solid 2px $light-grey-color; 
    }
    td {
      border-bottom: solid 1px $light-grey-color;
    }
  }


  &.box-lines {
    border-bottom: solid 1px $light-grey-color;
    th {
      border: solid 1px $light-grey-color;
      border-bottom: solid 2px darken($light-grey-color,10%);
    }
    td {
      border-right: solid 1px $light-grey-color;
      border-left: solid 1px $light-grey-color;
    }
  }

}