<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
  <title>Blocks</title>
  <meta name="Keywords" content="" />
  <meta name="Description" content="" />
  <link rel="icon" type="image/png" href="/img/theme/favicon.png">
  {{ "modernizr.js" | asset_url | script_tag }}
  {% include 'basics/fonts' %}
  {% include 'basics/css' %}
  {% block meta %}{% endblock %}
  <style> [data-sr] { visibility: hidden; }</style>
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
  </head>