<li class="marg-bot">
	<a href="/img/theme/ref-flesflis.png" class="fancybox-ref" rel="ref-gallery"><img src="/img/theme/ref-flesflis.png" alt="Flesland Flis"></a><br>
	<h5>Flesland Flis AS</h5>
	<a href="http://www.fleslandflis.no" target="_blank">www.fleslandflis.no</a>
</li>