<div class="band band-top sticky">
  <div class="row wide">
    <div class="small-6 medium-3 columns text-center">
      <h2 class="logo"><a href="/">Title</a></h2>
    </div>
    <div class="small-3 medium-9 columns">
      <nav class=" hide-for-small">
        <ul class="sf-menu">
          {% include 'basics/menu' %}
        </ul>
      </nav>
      <a class="burger show-for-small right"><span><i class="fa fa-bars"></i></span> </a>
    </div>
  </div>
</div>
<div class="band band-nav">
  <div class="row">
     <ul class="sf-menu">
        {% include 'basics/menu' %}
      </ul>
  </div>
</div>