<div class="band band-top sticky">
  <div class="row wide collapse">
    <div class="small-6 large-4 columns">
      <h2 class="logo"><a href="/" class="fadeOut">Absoluttweb - webdesign Bergen</a></h2>
    </div>
    <div class="small-6 large-8 columns">
      <nav class=" hide-for-medium-down">
        <ul class="sf-menu">
          {% include 'basics/menu' %}
        </ul>
      </nav>
      <a class="burger show-for-medium-down right"><span><i class="fa fa-bars"></i></span> </a>
      <a href="tel:91328419" class="top-icon phone show-for-medium-down right"><span><i class="fa fa-phone"></i></span> </a>
      <a class="top-icon chat show-for-medium-down right pure-info-trigger"><span><i class="fa fa-info"></i></span></a>
    </div>
  </div>
</div>