<div class="band band-logo block-31">
  <div class="row wide">
    <div class="small-12 small-centered columns">
      <h2 class="logo"><a href="/">BLOCK 31</a></h2>
    </div>
  </div>
</div>
<div class="band band-nav sticky">
  <div class="row">
    <div class="large-12 columns text-center">
      <nav class=" hide-for-small">
        <ul class="sf-menu nav-centered">
          {% include 'basics/menu' %}
        </ul>
      </nav>
      <div id="nav-icon4" class="show-for-small" data-trigger="offcanvas-right">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>