<!-- Block 20 

Header as in Absoluttweb 2015
Top is transparent and overlayed.
Can use different images for pages, by changing the "bg-img-**" class. That can
then be done dynamically.
Set inline styling to fit Theme. Overlay color is set to black in SCSS by default.

-->

<div class="band block-20 bg-img-01">
<div class="overlay" style="opacity:0.3"></div>
	{% include 'top' %}
	<div class="row">
		<div class="large-12 columns">
			<div class="container">
				<div class="hero" data-sr="wait 500ms"></div>
				<h1>BLOCK 20</h1>
				<h2>HEADER TITLE HERE</h2>
				<div class="line"></div>
			</div>
		</div>
	</div>
	<!--<div class="tilt-top-box" style="background-color:#CFA08F"></div>
	<div class="tilt-bottom-box" style="background-color:white"></div>-->
</div>

<!-- END Block 20 -->