<!-- Block 22 

Header as in Absoluttweb 2015
As Block 20 but with Navigation on top, not overlay
-->

{% include 'top-02' %}
<div class="band block-20 bg-img bg-img-01">
<div class="overlay" style="opacity:0.3"></div>
	<div class="row">
		<div class="large-12 columns">
			<div class="container">
				<div class="hero" data-sr="wait 500ms"></div>
				<h1>Absoluttweb</h1>
				<h2>BLOCKS</h2>
				<div class="line"></div>
			</div>
		</div>
	</div>
	<div class="tilt-top-box" style="background-color:#CFA08F"></div>
	<div class="tilt-bottom-box" style="background-color:#F1F1EF"></div>
</div>

<!-- END Block 20 -->