<!-- Block 21 

Header with Flexslider and text
-->

<div class="band block-21">
<div class="flexslider">
	{% include 'top-02' %}
	<div class="flex-loader"></div>
	<ul class="slides">
		<li data-thumb="/img/globals/placeholder.jpg">
			<img src="/img/globals/placeholder-01.jpg" />
		</li>

		<li data-thumb="/img/globals/placeholder.jpg">
			<img src="/img/globals/placeholder-02.jpg" />
		</li>
	</ul>
</div>
	
	<div class="row">
		<div class="large-12 columns">
			<div class="container">
				<div class="hero" data-sr="wait 500ms"></div>
				<h1>Absoluttweb</h1>
				<h2>BLOCKS</h2>
				<div class="line"></div>
			</div>
		</div>
	</div>
	<div class="tilt-top-box" style="background-color:#CFA08F"></div>
	<div class="tilt-bottom-box" style="background-color:#F1F1EF"></div>
</div>

<!-- END Block 21 -->