<!-- Header 01 

Header as in Absoluttweb 2015
Top is transparent and overlayed.
Can use different images for pages, by changing the "bg-img-**" class. That can
then be done dynamically.
Set inline styling to fit Theme. Overlay color is set to black in SCSS by default.
TODO: Add 100% Height script with scroll-down animated button
-->

<div class="band header-01 bg-img bg-img-01">
  <div class="overlay" style="opacity:0.5;background-color:white"></div>
    <div class="row">
      <div class="large-6 columns">
        <div class="container">   
          <h1>HMS KURS KUN KR. 690,-</h1>
          <h2>Du betaler først ved godkjent gjennomføring</h2>
        </div>
      </div>
       <div class="large-6 columns hide-for-small">
        <div class="container">
          <img src="/img/theme/hms-kurs-brain.png">
        </div>
      </div>
    </div>
	<!--<div class="tilt-top-box" style="background-color:#CFA08F"></div>
	<div class="tilt-bottom-box" style="background-color:#F1F1EF"></div>-->
</div>

<!-- END Header 01 -->