<!-- 
================================================
Name:			Default Bottom
Path:			Block -> Bottoms -> bottom-block-01
Desc:			Simple with only text

Class:			'block-31'

Modifiers:		none
===============================================
-->

<div class="band block-31 bottom pad">
	<div class="row small-center">
		<div class="large-4 columns">
			<h5>VVS FAG AS</h5>
			<p>Midtstegen Industriområde<br>
			5382 Skogsvåg
			</p>
		</div>
		<div class="large-4 columns">
			<h5>Kontakt oss</h5>
			<p><a href="mailto:rolf@vvsfag.no">rolf@vvsfag.no</a><br>
			Tlf: 56 33 74 50
			</p>
		</div>
		<div class="large-4 columns">
			<h5>Hold deg oppdatert</h5>
			<p><a href=""><i class="fa fa-facebook-square fa-color-white fa-fixed"></i> Facebook</a>
			</p>
		</div>	
	</div>
</div>