<!-- 
================================================
Name:			Default Footer
Path:			Block -> Forms -> form-block-02
Desc:			Left and Right. Company- and Developer information.

Class:			'footer-block-02'

Modifiers:		none
===============================================
-->

<footer>
	<div class="band footer footer-block-02">
		<div class="row">
			<div class="medium-6 columns text-center medium-text-left">
				<p>© 2015 <a href="/" class="fadeOut">Firmanavn AS</a><a href="/styleguide/styleguide-index"> Guide</a></p>
			</div>
			<div class="medium-6 columns text-center medium-text-right">
				<p><a href="/" class="fadeOut">Utvikler: Absoluttweb - webdesign Bergen</a></p>
			</div>
		</div>
	</div>
</footer>