{% layout 'layout' %}

{% block header %}
{% include 'theme/header-pages' %}
{% endblock %}

{% block main %}

<div class="band pad-top pad-bot-half">
	<div class="row">
		
		<div class="medium-12 columns">
			
			<h3>Håndbøker for bedriften</h3>

			<p>Adipiscing elit natoque nec nisi porta. Turpis nisi urna? Sed velit diam! Rhoncus a lundium auctor, vut, dictumst? Phasellus tincidunt augue, in urna augue, porttitor? Dignissim? Adipiscing, nec magna parturient, sed placerat, magna elementum non urna, lectus tempor porttitor, elementum! Magnis lectus amet aliquet adipiscing ut in aliquet tristique elit, vel scelerisque, a turpis, non sed</p>
			<p>Magna nunc ut scelerisque. Magna! A sed. Nec purus scelerisque lorem sit, est magna etiam eu placerat rhoncus vut, pellentesque!</p>
		</div>
	</div>
</div>
<div class="band pad-bot">
	<div class="row">
		<div class="large-12 columns">
			{% include '/theme/panel-ebook' %}
			{% include '/theme/panel-ebook' %}
			{% include '/theme/panel-ebook' %}
			{% include '/theme/panel-ebook' %}
			</div>
		</div>

	</div>

	{% endblock %}

	{% block fullscreen %}
	{% endblock %}

	{% block script %}
	{% endblock %}