{% layout 'layout' %}

{% block header %}
	{% include 'theme/header-pages' %}
{% endblock %}

{% block main %}

<div class="band pad">
	<div class="row" data-equalizer>
		{% include 'theme/index-port' %}
		{% include 'theme/index-port' %}
		{% include 'theme/index-port' %}
		{% include 'theme/index-port' %}
	</div>
</div>

<div class="band band-light-grey pad">
	<div class="row">
		<div class="large-12 columns text-center">
			<h1 class="thick">Slik fungerer det:</h1>
			<p class="lead marg-bot-2x">Velg kurs og start kurset. På slutten av kurset er det en rekke multiple-choice oppgaver. Man trenger 75% korrekt for bestått kurs.<br>
			Ved bestått kurs får man oppgitt en kode. Send denne til oss via kontaktskjemaet på kurssiden. Vi sender kursbevis og faktura.
			</p>

		</div>
	</div>
	<div class="row">
		<div class="large-12 columns text-center">
			<img src="/img/theme/good-luck.jpg" style="width:300px;max-width:75%" alt="Title">	
		</div>
	</div>
</div>

{% endblock %}

{% block fullscreen %}
{% endblock %}

{% block script %}
{% endblock %}