{% layout 'layout' %}

{% block header %}
{% endblock %}

{% block main %}

<div class="band pad block-12">
	<div class="row">
		<div class="large-12 columns text-center">
			<h2><span class="subheader">Kvalitet og pris</span>Hvorfor ta HMS kurs her?</h2>
			<hr>
			<p class="lead">Alle som tilbyr online HMS kurs har samme målsetting - Tilby gjennomføring av lovpålagt opplæring. Testene og opplæringen er relativt likt overalt, men FokusHMS kan tilby markedets <strong>desidert billigste online HMS kurs.</strong> og vi lover god kvalitet på opplæringen.</p>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns text-center">
			<img src="/img/theme/hms-leader-flying.jpg" class="rounded">
		</div>
	</div>
	<div class="row text-center">
		<div class="large-4 columns">
			
			<i class="fa fa-play fa-border fa-bg-color-primary fa-color-white marg-bot" style="z-index:2;position:relative"></i>
				<h4> Steg 1</h4>
				<p>Start ønsket kurs, og gjennomfør testen på slutten av opplæringen. Det koster ingenting å starte.</p>
		</div>
		<div class="large-4 columns">
		
			<i class="fa fa-check fa-border fa-bg-color-primary fa-color-white marg-bot" style="z-index:2;position:relative"></i>
				<h4> Steg 2</h4>
				<p>Ved godkjent test (75%) får du oppgitt ett testnummer. Send dette til oss.</p>
		</div>
		<div class="large-4 columns">
		
			<i class="fa fa-certificate fa-border fa-bg-color-third fa-color-white marg-bot" style="z-index:2;position:relative"></i>
				<h4> Steg 3</h4>
				<p>Vi sender deg kursbevis på gjennomført kurs, sammen med faktura.</p>
		</div>
	</div>
</div>

<div class="band band-stillas block-05">
	<div class="row full collapse">
		<div class="large-12 columns text-center">
			<div class="dzsparallaxer auto-init out-of-bootstrap" data-options='{ direction: "normal"}' style="height: 300px;">
				<div class="divimage dzsparallaxer--target" style="width: 100%; height: 450px; background-image: url(/img/theme/bg-stillas.jpg)">
				</div>
				<div class="center-it wide">
					<h4 class="marg-bot">FokusHMS tilbyr også praktiske HMS kurs innen fallsikring.<br>Vi tilbyr dette i Bergen, Laksevåg</h4>
					<a href="/webdesign" class="btn btn-2 no-marg large">Praktisk Fallsikrings kurs</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="band band-light-grey pad port-02">

<div class="row">
	<div class="large-12 columns">
		<h3> Våre online HMS kurs.</h3>
		<p>Kursene koster kun kr. 690,- per kurs. Faktura blir tilsendt sammen med kursbeviset, ved bestått test.</p>
		<p>Spørsmål eller problemer? <a href="/kontakt">Kontakt oss</a></p>

	</div>
</div>

	<div class="row" data-equalizer>
		
	{% include 'theme/index-port' %}{% include 'theme/index-port' %}{% include 'theme/index-port' %}{% include 'theme/index-port' %}

	</div>
</div>

{% endblock %}

{% block fullscreen %}
{% endblock %}

{% block script %}
{% endblock %}