{% layout 'layout' %}

{% block slidein %}
    <div class="bottom-menu hide-for-medium-up">
      <div class="row full collapse">
        <div class="small-6 columns">
          <a data-trigger="info-bar-left"><i class="fa fa-chevron-left"></i> GUIDE</a>  
        </div>
        <div class="small-6 columns text-right">
          <a id="toTop">TOPP <i class="fa fa-chevron-up"></i>  </a>  
        </div>
      </div>
    </div>

    <div class="info-bar-left">
      <div class="ib-scroll">
        <a class="ib-tab" data-trigger="info-bar-left"><i class="fa fa-chevron-left"></i> Guide</a>
        <div class="ib-container">

          <div class="news-card">
            <div class="panel-content">
              <h4>HMS kurs er lovpålagt</h4>
              <p>Super kort om hvem det gjelder og en link til loven hvor det står skrevet</p>
            </div>
          </div>

          <div class="news-card">
            <div class="panel-content">
              <h4>Slik tar man kursene</h4>
              <p>Gå til ønsket kurs, og start den interaktive opplæringen. Du må laste ned <a href="#">Adobe Flash Player</a> om den spør om dette.</p>
              <p>Les gjennom kurset, og svar på spørsmålene i slutten av filmen</p>
              <p>Du har 3 forsøk på å oppnå 75% riktig svar. Når testen er bestått, vil du få tildelt en kode.</p>
              <p>Bruk skjemaet på kurssiden, og send koden til FokusHMS. Vi sender deg kursbevis og faktura per. epost</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    {% endblock %}

{% block header %}
 {% include 'blocks/header-01' %}
{% endblock %}

{% block main %}

<div class="band pad-top-half pad-bot">
	<div class="row">
		<div class="large-12 columns medium-text-center">
			<h2><span class="subheader">Kvalitet og pris</span>Hvorfor ta HMS kurs her?</h2>
			<hr>
			<p class="lead">Alle som tilbyr online HMS kurs har samme målsetting - Tilby gjennomføring av lovpålagt opplæring. Testene og opplæringen er relativt likt overalt, men FokusHMS kan tilby markedets <strong>desidert billigste online HMS kurs.</strong> og vi lover god kvalitet på opplæringen.</p>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns text-center">
			<img src="/img/theme/hms-leader-flying.jpg" class="rounded">
		</div>
	</div>
	<div class="row text-center">
		<div class="large-4 columns">
			
			<i class="fa fa-play fa-border fa-bg-color-primary fa-color-white marg-bot" style="z-index:2;position:relative"></i>
				<h4> Steg 1</h4>
				<p>Start ønsket kurs, og gjennomfør testen på slutten av opplæringen. Det koster ingenting å starte.</p>
		</div>
		<div class="large-4 columns">
		
			<i class="fa fa-check fa-border fa-bg-color-primary fa-color-white marg-bot" style="z-index:2;position:relative"></i>
				<h4> Steg 2</h4>
				<p>Ved godkjent test (75%) får du oppgitt ett testnummer. Send dette til oss.</p>
		</div>
		<div class="large-4 columns">
		
			<i class="fa fa-certificate fa-border fa-bg-color-third fa-color-white marg-bot" style="z-index:2;position:relative"></i>
				<h4> Steg 3</h4>
				<p>Vi sender deg kursbevis på gjennomført kurs, sammen med faktura.</p>
		</div>
	</div>
</div>

<div class="band band-stillas">
	<div class="overlay" style="background-color:#000;opacity:0.5"></div>
	<div class="row full collapse">
		<div class="large-12 columns text-center">
			<div class="dzsparallaxer auto-init out-of-bootstrap" data-options='{ direction: "normal"}' style="height: 300px;">
				<div class="divimage dzsparallaxer--target" style="width: 100%; height: 400px; background-image: url(/img/theme/bg-parallax.jpg)">
				</div>
				<div class="center-it wide">
					<h3 class="marg-bot">FokusHMS tilbyr også praktiske HMS kurs innen fallsikring.<br>Vi tilbyr dette i Bergen, Laksevåg</h3>
					<a href="/webdesign" class="btn btn-primary no-marg large">Praktisk Fallsikrings kurs</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="band band-light-grey pad port-02">

<div class="row">
	<div class="large-12 columns">
		<h3>Våre online HMS kurs.</h3>
		<p>Kursene koster kun kr. 690,- per kurs. Faktura blir tilsendt sammen med kursbeviset, ved bestått test.</p>
		<p>Spørsmål eller problemer? <a href="/kontakt">Kontakt oss</a></p>

	</div>
</div>

	<div class="row" data-equalizer>
		
	{% include 'theme/index-port' %}
	{% include 'theme/index-port' %}
	{% include 'theme/index-port' %}
	{% include 'theme/index-port' %}

	</div>
</div>

{% endblock %}

{% block fullscreen %}
{% endblock %}

{% block script %}
{% endblock %}