{% layout 'layout' %} {% block infobar %}
<!--region-->
<div class="info-bar">
	<div class="info-scroll">
		<a class="info-trigger hide-for-medium-down"><i class="fa fa-chevron-left"></i> What's up</a>
		<div class="row marg-top">
			<div class="large-12 columns hide-for-medium-up">
				<a class="pure-info-trigger close-info">Lukk</a>
			</div>
			<div class="large-12 columns">

				<div class="panel">
					<a href="" class="icon facebook"></a>
					<div class="panel-content">
						<span class="date number">10.08.2015</span>
						<h5>Innlegg med bilde</h5>
						<img src="/img/theme/mockup-sagasystem.png">
						<p>Vi har publisert ny multistuff for <a href="">VVS FAG</a></p>
						<p></p>
					</div>
					<!-- Put here if no padding-->
				</div>

				<div class="panel">
					<a href="" class="icon facebook"></a>
					<div class="panel-content">
						<span class="date number">10.08.2015</span>
						<h5>Tittel og sosialemedier</h5>
						<p><i class="fa fa-facebook fa-bg-color-facebook"></i> Vi har publisert ny webside for <a href="">VVS FAG</a></p>

					</div>
					<!-- Put here if no padding-->
				</div>

				<div class="panel">
					<a href="" class="icon facebook"></a>
					<div class="panel-content">
						<span class="date number">10.08.2015</span>
						<h5>Enda en test</h5>
						<p>Masonry er den beste metoden for å vise cards.</p>
						<p></p>
					</div>
					<!-- Put here if no padding-->
				</div>
			</div>
		</div>
	</div>
</div>
<!--endregion-->
{% endblock %} {% block header %}

<div class="band block-20 bg-img-01">
	{% include 'top' %}
	<div class="row">
		<div class="large-12 columns">
			<div class="container">
				<div class="hero"></div>
				<h1>ABSOLUTTWEB</h1>
				<h2>WEBDESIGN</h2>
				<div class="line"></div>
			</div>
		</div>
	</div>
	<div class="tilt-top-box" style="background-color:#CFA08F"></div>
	<div class="tilt-bottom-box" style="background-color:white"></div>
</div>
<div class="band big-screens pad-bot">
	<div class="row">
		<div id="owl-carousel" class="owl-carousel">
			<!-- Owl Item -->
			<div class="item">
				<img src="/img/theme/ref-flesflis.png" alt="Flesland Flis">
				<br>
				<span>www.fleslandflis.no</span>
			</div>
			<div class="item">
				<img src="/img/theme/ref-flesflis.png" alt="Flesland Flis">
				<br>
				<span>www.fleslandflis.no</span>
			</div>
			<div class="item">
				<img src="/img/theme/ref-flesflis.png" alt="Flesland Flis">
				<br>
				<span>www.fleslandflis.no</span>
			</div>
			<div class="item">
				<img src="/img/theme/ref-flesflis.png" alt="Flesland Flis">
				<br>
				<span>www.fleslandflis.no</span>
			</div>
			<div class="item">
				<img src="/img/theme/ref-flesflis.png" alt="Flesland Flis">
				<br>
				<span>www.fleslandflis.no</span>
			</div>
			<!-- End Owl Item -->
		</div>
	</div>
	<div class="row marg-top-2x">
		<div class="medium-3 columns text-right hide-for-small"><a class="btn no-marg prev"><i class="fa fa-angle-left fa-2x"></i> </a></div>
		<div class="medium-6 columns text-center">
			<a href="/referanser" class="btn btn-1 no-marg">Flere referanser</a>
		</div>
		<div class="medium-3 columns text-left hide-for-small"><a class="btn no-marg next"><i class="fa fa-angle-right fa-2x"></i> </a></div>
	</div>
</div>

{% endblock %} {% block main %}

<div class="band band-light-grey pad-top block-12">
	<div class="row">
		<div class="large-12 columns text-center">
			<h2>Kvalitet og pris</h2>
			<p class="lead">Absoluttweb er lokalisert på Sotra utenfor Bergen, og tilbyr online profilering for bedrifter i Bergen og omegn. Vår målsetting er å levere høy kvalitet til normale priser.</p>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns text-center">
			<img src="/img/theme/vvs-fag.jpg" style="max-width:200px" class="marg-bot-2x">
		</div>
	</div>
	<div class="row wide">
		<div class="large-4 columns">
			<i class="fa fa-hand-pointer-o fa-fixed fa-stroke fa-pull-left"></i>
			<div class="no-wrap">
				<h4> Synlighet</h4>
				<p>Vi har mye kunnskap rundt synlighet på nett, samt markedsføring via Google og Facebook. Vi kan vise til gode resultater.</p>
			</div>
		</div>
		<div class="large-4 columns">
			<i class="fa fa-dollar fa-fixed fa-stroke fa-pull-left"></i>
			<div class="no-wrap">
				<h4> Pris</h4>
				<p>Absoluttweb satser på høy kvalitet, men som en liten aktør kan vi likevel tilby komplette løsninger til edruelige priser.</p>
			</div>
		</div>
		<div class="large-4 columns">
			<i class="fa fa-diamond fa-fixed fa-stroke fa-pull-left"></i>
			<div class="no-wrap">
				<h4> Kvalitet</h4>
				<p>Vi følger trendene og mulighetene innen webteknologi og online markedsføring. Moderne, raske og synlige løsninger er garantert!</p>
			</div>
		</div>
	</div>
</div>
<div class="band band-light-grey pad-bot">
	<div class="row">
		<div class="large-8 large-centered columns">
			<hr class="hr-1">
			<div class="text-center"><img src="/img/theme/quote-mark.png" style="max-width:58px" class="marg-bot-2x"></div>

			<div id="quotes" class="owl-carousel">
				<!-- Owl Item -->
				<div class="item">
					<blockquote>Vi er kjempe fornøyd med arbeidet Absoluttweb har gjort med vår nye webside, Donar AS
						<br>
						<span class="cite">Stine, Donar AS</span>
					</blockquote>
				</div>
				<!-- End Owl Item -->
				<!-- Owl Item -->
				<div class="item">
					<blockquote>Vi er kjempe fornøyd med arbeidet Absoluttweb har gjort med vår nye webside, Donar AS
						<span class="cite">Stine, Donar AS</span>
					</blockquote>
				</div>
				<!-- End Owl Item -->
				<!-- Owl Item -->
				<div class="item">
					<blockquote>Vi er kjempe fornøyd med arbeidet Absoluttweb har gjort med vår nye webside, Donar AS
						<span class="cite">Stine, Donar AS</span>
					</blockquote>
				</div>
				<!-- End Owl Item -->
			</div>
		</div>
	</div>
</div>

<div class="band band-parallax-1">
	<div class="row full collapse">
		<div class="large-12 columns text-center">
			<div class="dzsparallaxer auto-init out-of-bootstrap" data-options='{ direction: "normal"}' style="height: 300px;">
				<div class="divimage dzsparallaxer--target" style="width: 100%; height: 700px; background-image: url(/img/theme/bg-parallax-3.jpg)">
				</div>
				<div class="center-it wide">
					<h4 class="marg-bot">Logo, visittkort, webdesign, branding, hosting, synlighet, sosialemedier, annonser mm.</h4>
					<a href="/webdesign" class="btn btn-3 no-marg">Webdesign & Tjenster</a>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="band band-white pad">
	<div class="row">
		<div class="large-12 columns text-center">
			<a href="https://no.linkedin.com/in/sindregusdal" target="_blank"><img src="/img/theme/sindregusdal.jpg" class="profile-image" alt="Sindre Gusdal"></a>
			<h4>Hvem er Absoluttweb?</h4>
			<p class="no-marg lead">Absoluttweb består av webutvikler Sindre Gusdal. Min målsetting er å tilby online profilering av høy kvalitet til bedrifter i Bergen og omegn.</p>
		</div>
	</div>
</div>

<div class="band band-light-grey pad block-2">
	<div class="row">
		<div class="medium-6 columns">
			<a href="https://www.facebook.com/Absoluttweb" target="_blank" class="btn-facebook">
				<h5><i class="fa fa-facebook"></i> Facebook</h5>
				<p>Nyheter, informasjon, tilbud og gallerier</p>
			</a>
		</div>
		<div class="medium-6 columns">
			<a href="https://instagram.com/absoluttweb/" target="_blank" class="btn-instagram">
				<h5><i class="fa fa-instagram"></i> Instagram</h5>
				<p>Design og Mockups</p>
			</a>
		</div>
	</div>
</div>

{% endblock %} {% block fullscreen %} {% endblock %} {% block script %}
<script>
	$(document).ready(function () {
		var owl = $("#owl-carousel");
		owl.owlCarousel({
			navigation: false, // Show next and prev buttons
			navigationText: ["forrige", "neste"],
			pagination: false, // Show dotted pagination
			paginationNumbers: false, // Show numbers in bullets
			autoPlay: true,
			stopOnHover: true,
			singleItem: false,
			slideSpeed: 200,
			paginationSpeed: 200,
			items: 3, //items
			itemsDesktop: [1024, 3], //items from here and down
			itemsDesktopSmall: [700, 2], //
			itemsTablet: [430, 2], //items from here and down
			itemsMobile: [300, 1], //items from here and down
		});
		// Custom Navigation Events
		$(".next").click(function () {
			owl.trigger('owl.next');
		})
		$(".prev").click(function () {
			owl.trigger('owl.prev');
		})
		$(".play").click(function () {
			owl.trigger('owl.play'); //owl.play event accept autoPlay speed as second parameter
		})
		$(".stop").click(function () {
			owl.trigger('owl.stop');
		})
	});
</script>
<script>
	$(document).ready(function () {
		var owl = $("#quotes");
		owl.owlCarousel({
			navigation: false, // Show next and prev buttons
			navigationText: ["forrige", "neste"],
			pagination: true, // Show dotted pagination
			paginationNumbers: false, // Show numbers in bullets
			autoPlay: true,
			stopOnHover: true,
			singleItem: true,
			slideSpeed: 200,
			paginationSpeed: 200,
			items: 3, //items
			itemsDesktop: [1024, 3], //items from here and down
			itemsDesktopSmall: [700, 2], //
			itemsTablet: [430, 2], //items from here and down
			itemsMobile: [300, 1], //items from here and down
		});
	});
</script>
{% endblock %}