{% layout 'layout' %}

{% block header %}
<div class="band band-img bg-img-1 header">
	<div class="overlay" style="opacity:0.2;background-color:black"></div>
	<div class="row">
		<div class="small-12 medium-6 endcolumns">
			<div class="container">   
				<h1>Bygg din drømme side</h1>
				<h2>Absolutt Blocks</h2>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block main %}
{% endblock %}

{% block fullscreen %}
{% endblock %}

{% block script %}
{% endblock %}