{% layout 'layout' %}

{% block header %}
<!--<a class="whats-up-line hide-for-small fullscreen-trigger"></a>-->

<div class="header page-header">
	{% include 'top' %}
	<div class="row">
		<div class="large-12 columns">
			<div class="header-container text-center">
				<h2 class="header-title">KONTAKT</h2>
			</div>	
		</div>
	</div>
	<div class="tilt-primary"></div>
	<div class="tilt-light-grey"></div>
</div>


{% endblock %}

{% block main %}

<div class="band band-light-grey pad-bot pad-top-half block-10">
	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<div class="large-12 columns text-center">
					<img src="/img/theme/box-and-rope.jpg" class="no-marg marg-top-2x" style="width:500px" alt="Dialog via boks">	
				</div>
			</div>
			<div class="row collapse">
				<div class="small-4 columns text-center">
					<a href="tel:91328419" class="btn btn-1">
						<p><i class="fa fa-phone fa-fixed-2x fa-2x"></i><br>
							<span class="hide-for-small">913 28 419</span></p>
						</a>
					</div>
					<div class="small-4 columns text-center">
						<a href="https://www.facebook.com/Absoluttweb" target="_blank" class="btn btn-1">
							<p><i class="fa fa-facebook fa-fixed-2x fa-2x"></i><br>
								<span class="hide-for-small">FB Messenger</span>
							</p>
						</a>
					</div>
					<div class="small-4 columns text-center">
						<a href="mailto:post@absoluttweb.no" class="btn btn-1">
							<p><i class="fa fa-envelope fa-fixed-2x fa-2x"></i><br>
								<span class="hide-for-small">post@absoluttweb.no</span>
							</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="band band-white pad block-3" id="form">
		<div class="row">
			<div class="medium-12 columns">
				<h3 class="marg-bot">Kontaktskjema</h3>
			</div>
			<div class="medium-12 columns">
				<form class="on-light-grey no-marg">

					<div class="row">
						<div class="medium-4 columns ">
							<input id="name" name="name" type="text" placeholder="Navn"/>
						</div>
						<div class="medium-4 columns">
							<input id="mob" name="mob" type="email" placeholder="Epost"/>
						</div>
						<div class="medium-4 columns">
							<input id="email" name="email" type="tel" placeholder="Mobil"/> 
						</div>
					</div>
					<div class="row">
						<div class="medium-12 columns">
							<textarea id="message" name="message" rows="6" placeholder="Forespørsel"></textarea>	
						</div>
					</div>
					<div class="row">
						<div class="medium-12 columns">
							<input type="submit" value="Send" class="btn btn-primary">	
						</div>
					</div>			
				</form>
				<div class="row">
					<div class="large-12 columns">
						<p>Henvendelsen sendes til: <a href="mailto:post@absoluttweb.no">post@absoluttweb.no</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="band band-parallax-1">
		<div class="row full collapse">
			<div class="large-12 columns text-center">
				<div class="dzsparallaxer auto-init out-of-bootstrap" data-options='{ direction: "normal"}' style="height: 300px;">
					<div class="divimage dzsparallaxer--target" style="width: 100%; height: 600px; background-image: url(/img/theme/bg-parallax-2.jpg)">
					</div>
					<div class="center-it wide">
						<h4 class="marg-bot">Absoluttweb, Midtskarbrekka 27, 5360 Kolltveit.</h4>
						<a href="https://www.google.no/maps/place/Absoluttweb/@60.3516461,5.0665165,14z/data=!4m2!3m1!1s0x463ce4518e54207d:0x9eddd992f07abb2e?hl=no&hl=no" target="_blank" class="btn btn-black no-marg">Google Maps</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="band band-white pad">
		<div class="row">
			<div class="large-12 columns text-center">
				<a href="https://no.linkedin.com/in/sindregusdal" target="_blank"><img src="/img/theme/sindregusdal.jpg" class="profile-image"></a>
				<h4>Hvem er Absoluttweb?</h4>
				<p class="no-marg lead">Absoluttweb består av webutvikler Sindre Gusdal. 
					Min målsetting er å tilby online profilering av høy kvalitet til bedrifter i Bergen og omegn.</p>
				</div>
			</div>
		</div>

		<div class="band band-light-grey pad block-2">
			<div class="row">
				<div class="medium-6 columns">
					<a href="https://www.facebook.com/Absoluttweb" target="_blank" class="btn-facebook">
						<h5><i class="fa fa-facebook"></i> Facebook</h5>
						<p>Nyheter, informasjon, tilbud og gallerier</p>
					</a>
				</div>
				<div class="medium-6 columns">
					<a href="https://instagram.com/absoluttweb/" target="_blank" class="btn-instagram">
						<h5><i class="fa fa-instagram"></i> Instagram</h5>
						<p>Design og Mockups</p>
					</a>
				</div>
			</div>
		</div>

		{% endblock %}

		{% block fullscreen %}{% endblock %}

		{% block script %}

		{% endblock %}