{% layout 'layout' %}

{% block header %}
{% include 'theme/header-contact' %}
{% endblock %}

{% block main %}

<div class="band pad-top pad-bot-half">
	<div class="row collapse text-center">
		<div class="large-8 large-centered columns">
			<div class="row">
				<div class="large-6 columns">
					<h4>Leif Kolve - Fokushms</h4>
					<p>Skoltehaugen 6<br>
					5063 Bergen<br>
					Org: 988 946 850</p>
				</div>
				<div class="large-6 columns">
					<h4>Kontaktinfo</h4>
					<p>Tlf: 454 29 437<br>
					<a href="mailto:post@fokushms.no">post@fokushms.no</a><br>
					<a href="http://www.fokushms.no">www.fokushms.no</a></p>	
				</div>
			</div>
		</div>
	</div>
</div>
<div class="band pad-bot">
	<div class="row">
		<div class="large-12 columns">
			<div class="panel panel-ebooks">
	<div class="panel-content">
		<div class="row">
			<div class="medium-4 columns">
				<img src="/img/theme/profile-image2.jpg" data-sr="wait 200ms then scale-up 50%" class="marg-bot">
			</div>
			<div class="medium-8 columns">
			<h4>Leif Kolve</h4>
			<p class="handwriting">Daglig leder</p>
			<p>Adipiscing elit natoque nec nisi porta. Turpis nisi urna? Sed velit diam! Rhoncus a lundium auctor, vut, dictumst? Phasellus tincidunt augue, in urna augue, porttitor? Dignissim? Adipiscing, nec magna parturient, sed placerat, magna elementum non urna, lectus tempor porttitor, elementum! Magnis lectus amet aliquet adipiscing ut in aliquet tristique elit, vel scelerisque, a turpis, non sed? Non nisi tempor nunc vel sit, duis odio? Tincidunt adipiscing? </p>
			<ul>
				<li>1975: Bla Bla</li>
				<li>2002: Bla bla mer bla</li>
			</ul>
			
			</div>
		</div>
	</div>
</div>
			</div>
		</div>

	</div>

	{% endblock %}

	{% block fullscreen %}
	{% endblock %}

	{% block script %}
	{% endblock %}