{% layout 'layout' %}

{% block header %}
<!--<a class="whats-up-line hide-for-small fullscreen-trigger"></a>-->

<div class="header page-header">
	{% include 'top' %}
	<div class="row">
		<div class="large-12 columns">
			<div class="header-container text-center">
				<h2 class="header-title">REFERANSER</h2>
			</div>	
		</div>
	</div>
	<div class="tilt-primary"></div>
	<div class="tilt-light-grey"></div>
</div>


{% endblock %}

{% block main %}

<div class="band band-light-grey pad-top-half block-7">
	<div class="row">
		<div class="large-12 columns text-center">
			<h2>Siste Case</h2>
			<p class="lead">Absoluttweb - denne websiden -  er vårt siste prosjekt. Målet var å lage noe nyskapende. Den følger vår nye profilering, og den er gjennomgående moderne med god typografi, gode illustrasjoner og tydelig budskap.</p>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns text-center">
			<img src="/img/theme/case-absoluttweb.jpg" class="¨no-marg marg-top-2x">	
		</div>
	</div>
</div>

<div class="band band-white pad block-5" id="ref_top">
	<div class="row">
		<div class="large-12 columns text-center">
			<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-3">
				{% include 'item-ref' %}
				{% include 'item-ref' %}
				{% include 'item-ref' %}
				{% include 'item-ref' %}
				{% include 'item-ref' %}
				{% include 'item-ref' %}
			</ul>
		</div>
		<div class="large-12 columns text-center">
			<a class="see-more-trigger active btn btn-3 with-icon scroll-offset" href="#ref_bot">Vis flere <i class="fa fa-angle-double-down"></i> </a>
		</div>
	</div>
	<div id="ref_bot"></div>
	<div class="row see-more">
		<div class="large-12 columns text-center">
			<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-3">
				{% include 'item-ref' %}
				{% include 'item-ref' %}
				{% include 'item-ref' %}
				{% include 'item-ref' %}
				{% include 'item-ref' %}
				{% include 'item-ref' %}
			</ul>
		</div>
		<div class="large-12 columns text-center">
			<a class="see-more-trigger btn btn-3 with-icon scroll" href="#ref_top">Skjul <i class="fa fa-angle-double-up"></i> </a>
		</div>
	</div>
</div>

<div class="band band-light-grey pad block-2">
	<div class="row">
		<div class="medium-6 columns">
			<a href="https://www.facebook.com/Absoluttweb" target="_blank" class="btn-facebook">
				<h5><i class="fa fa-facebook"></i> Facebook</h5>
				<p>Nyheter, informasjon, tilbud og gallerier</p>
			</a>
		</div>
		<div class="medium-6 columns">
			<a href="https://instagram.com/absoluttweb/" target="_blank" class="btn-instagram">
				<h5><i class="fa fa-instagram"></i> Instagram</h5>
				<p>Design og Mockups</p>
			</a>
		</div>
	</div>
</div>

{% endblock %}

{% block fullscreen %}



{% endblock %}

{% block script %}

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate( { scrollTop:$(this.hash).offset().top - 0 } , 500);
		} );
		$(".scroll-offset").click(function(event) {
			event.preventDefault();
			$('html,body').animate( { scrollTop:$(this.hash).offset().top - 150 } , 500);
		} );
	} );
</script>

<script>
	$(document).ready(function(){
		$(".see-more-trigger").click(function() {
			$(".see-more").slideToggle(500);
			$(".see-more-trigger").delay(1000).toggleClass("active");
		});
	});
</script>

{% endblock %}