{% layout 'layout' %}

{% block infobar %}
{% endblock %}

{% block header %}
<div class="header page-header">
	{% include 'top' %}
	<div class="row">
		<div class="large-12 columns">
			<div class="header-container text-center">
				<h2 class="header-title">Takk</h2>
			</div>	
		</div>
	</div>
	<div class="tilt-primary"></div>
	<div class="tilt-light-grey"></div>
</div>
{% endblock %}

{% block main %}
<div class="band band-light-grey pad-bot pad-top-half block-6">
	<div class="row">
		<div class="large-12 columns text-center">
			<h2>Din melding er sendt</h2>
			<p class="lead">Meldingen er bekreftet mottatt og vi behandler denne så snart som mulig. Vi svarer stort sett omgående, men om du ikke hører fra oss innen 24 timer vennligst prøv på nytt eller ring.</p>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns text-center">
			<img src="/img/theme/takk.jpg" class="marg-bot-2x marg-top" alt="Bekreftelse">	
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns text-center">
			<a href="/" class="btn btn-2">Gå til forsiden</a>
		</div>
	</div>
</div>

<div class="band band-parallax-1">
	<div class="row full collapse">
		<div class="large-12 columns text-center">
			<div class="dzsparallaxer auto-init out-of-bootstrap" data-options='{ direction: "normal"}' style="height: 200px;">
				<div class="divimage dzsparallaxer--target" style="width: 100%; height: 600px; background-image: url(/img/theme/bg-parallax-2.jpg)">
				</div>
				<div class="center-it wide">
					<h4 class="marg-bot">Vi gjør nå alt for at du skal bli fornøyd med vår support. Dersom du har ris eller ros, gi oss gjerne beskjed :)</h4>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="band band-light-grey pad block-2">
	<div class="row">
		<div class="medium-6 columns">
			<a href="https://www.facebook.com/Absoluttweb" target="_blank" class="btn-facebook">
				<h5><i class="fa fa-facebook"></i> Facebook</h5>
				<p>Nyheter, informasjon, tilbud og gallerier</p>
			</a>
		</div>
		<div class="medium-6 columns">
			<a href="https://instagram.com/absoluttweb/" target="_blank" class="btn-instagram">
				<h5><i class="fa fa-instagram"></i> Instagram</h5>
				<p>Design og Mockups</p>
			</a>
		</div>
	</div>
</div>
{% endblock %}

{% block fullscreen %}
{% endblock %}

{% block script %}
{% endblock %}