{% layout 'layout' %}

{% block header %}
<div class="page-header">
   {% include 'top' %}
   <div class="row">
   	<div class="large-12 columns">
	   <div class="page-header-container text-center">
		   <h2 class="header-title" data-sr="scale up 100%">Tjenester</h2>
		   <h3 class="header-title" data-sr="wait 400ms and enter from left then move 300px">Alt innen rørleggerarbeid</h3>
   		</div>	
   	</div>
   </div>
</div>

<div class="profile-with-marks">
	<div class="pwm-secoundary pwm-small"></div>
	<div class="pwm-primary pwm-small"></div>
</div>


{% endblock %}

{% block main %}

<div class="band band-grad pad">
	<div class="row" data-equalizer>
		<div class="medium-6 columns end">
			<div class="panel panel-stroke panel-service" style="background-image: url('/img/theme/vatroom.jpg')" data-equalizer-watch>
				<!-- Put here if no padding-->
				<div class="panel-content">
					<h4><i class="fa fa-check-square fa-color-primary"></i> Våtrom</h4>
					<p>Vi leverer alle typer våtrom</p>
				</div>
				<!-- Put here if no padding-->
			</div>
		</div>
		<div class="medium-6 columns end">
			<div class="panel panel-stroke panel-service" style="background-image: url('/img/theme/kitchen.jpg')" data-equalizer-watch>
				<!-- Put here if no padding-->
				<div class="panel-content">
					<h4><i class="fa fa-check-square fa-color-primary"></i> Kjøkken</h4>
					<p>Vi leverer alle typer VVS tjenester til kjøkken</p>
				</div>
				<!-- Put here if no padding-->
			</div>
		</div>
		<div class="medium-6 columns end">
			<div class="panel panel-stroke panel-service" style="background-image: url('/img/theme/aircon.jpg')" data-equalizer-watch>
				<!-- Put here if no padding-->
				<div class="panel-content">
					<h4><i class="fa fa-check-square fa-color-primary"></i> Kjøleanlegg</h4>
					<p>Vi utfører arbeid på kjøleanlegg, frysere etc</p>
				</div>
				<!-- Put here if no padding-->
			</div>
		</div>
		<div class="medium-6 columns end">
			<div class="panel panel-stroke panel-service" style="background-image: url('/img/theme/heater.jpg')" data-equalizer-watch>
				<!-- Put here if no padding-->
				<div class="panel-content">
					<h4><i class="fa fa-check-square fa-color-primary"></i> Varmeanlegg</h4>
					<p>Vi leverer alle typer varmeanlegg som vannbåren varme, radiatorer, gulvvarme, varmepumper mm</p>
				</div>
				<!-- Put here if no padding-->
			</div>
		</div>
		<div class="medium-6 columns end">
			<div class="panel panel-stroke panel-service" style="background-image: url('/img/theme/industry.jpg')" data-equalizer-watch>
				<!-- Put here if no padding-->
				<div class="panel-content">
					<h4><i class="fa fa-check-square fa-color-primary"></i> Industribygg</h4>
					<p>Vi leverer alle typer VVS tjenester til industrien</p>
				</div>
				<!-- Put here if no padding-->
			</div>
		</div>
		<div class="medium-6 columns end">
			<div class="panel panel-stroke panel-service" style="background-image: url('/img/theme/saniter.jpg')" data-equalizer-watch>
				<!-- Put here if no padding-->
				<div class="panel-content">
					<h4><i class="fa fa-check-square fa-color-primary"></i> Sanitæranlegg</h4>
					<p>Vi leverer alle typer sanitærtjenester</p>
				</div>
				<!-- Put here if no padding-->
			</div>
		</div>
		<div class="medium-6 columns end">
			<div class="panel panel-stroke panel-service" style="background-image: url('/img/theme/sprinkler.jpg')" data-equalizer-watch>
				<!-- Put here if no padding-->
				<div class="panel-content">
					<h4><i class="fa fa-check-square fa-color-primary"></i> Sprinkleranlegg</h4>
					<p>Vi leverer sprinkleranlegg til industribygg og bolig</p>
				</div>
				<!-- Put here if no padding-->
			</div>
		</div>
		<div class="medium-6 columns end">
			<div class="panel panel-stroke panel-service" style="background-image: url('/img/theme/va.jpg')" data-equalizer-watch>
				<!-- Put here if no padding-->
				<div class="panel-content">
					<h4><i class="fa fa-check-square fa-color-primary"></i> VA anlegg</h4>
					<p>Vi leverer alle typer VA anlegg til offentlig, bedrift og privat mm</p>
				</div>
				<!-- Put here if no padding-->
			</div>
		</div>
		<div class="medium-6 columns end">
			<div class="panel panel-stroke panel-service" style="background-image: url('/img/theme/offshore.jpg')" data-equalizer-watch>
				<!-- Put here if no padding-->
				<div class="panel-content">
					<h4><i class="fa fa-check-square fa-color-primary"></i> On- og offshorearbeider</h4>
					<p>Alle typer rørleggertjenester</p>
				</div>
				<!-- Put here if no padding-->
			</div>
		</div>
	</div>
</div>

<div class="band band-partner-logos pad">
	<div class="row full">
		<div class="large-12 columns text-center">
			<img src="/img/theme/logo-ifoe.jpg" class="partner-logo">
			<img src="/img/theme/logo-fossbad.jpg" class="partner-logo">
			<img src="/img/theme/logo-laufen.jpg" class="partner-logo">
			<img src="/img/theme/logo-vikingbad.jpg" class="partner-logo">
			<img src="/img/theme/logo-villeroy.jpg" class="partner-logo">
			<img src="/img/theme/logo-linnbad.jpg" class="partner-logo">
			<img src="/img/theme/logo-gobad.jpg" class="partner-logo">
			<img src="/img/theme/logo-porsgrund.jpg" class="partner-logo">
		</div>
	</div>
</div>



{% endblock %}

{% block fullscreen %}
{% endblock %}

{% block script %}
<script>
	$(document).ready(function() {
	var owl = $("#owl-carousel");

	owl.owlCarousel({
	    navigation : false, // Show next and prev buttons
	    navigationText : ["forrige","neste"],
	    pagination: true, // Show dotted pagination
	    paginationNumbers: false, // Show numbers in bullets
	    autoPlay : false,
	    stopOnHover: true,
	    singleItem:false,
	    slideSpeed : 300,
	    paginationSpeed : 300,
	    items : 3, //items
	    itemsDesktop : [1024,3], //items from here and down
	    itemsDesktopSmall : [700,2], //
	    itemsTablet: [430,1], //items from here and down
	    itemsMobile : [300,1], //items from here and down
	});

	});
</script>
{% endblock %}