{% layout 'layout' %}

{% block infobar %}
<div class="info-bar">
	<div class="info-scroll">
		<a class="info-trigger hide-for-medium-down"><i class="fa fa-chevron-left"></i> Tjenester</a>
		<div class="row marg-top">
			<div class="large-12 columns hide-for-medium-up">
				<a class="pure-info-trigger close-info">Lukk</a>
			</div>
			<div class="large-12 columns">
				

				<div class="panel">
					<a href="" class="icon facebook"></a>
					<div class="panel-content">
						<h5>CMS - Content Management System</h5>
						<!--<a href="https://www.youtube.com/watch?v=lm1ZJDTOQyM" class="fancybox-media"><img src="/img/theme/mockup-sagasystem.png"></a>-->
						<p>Vår CMS løsning er en veldig moderne nettskybasert tjeneste. </p>
						<ul>
							<li>Automatisk bildejustering</li>
							<li>Rask pålogging</li>
							<li>Enkelt brukergrensesnitt</li>
							<li>Søkemotoroptimalisert</li>
						</ul>
						<p></p>
					</div>
				</div>
				
				<div class="panel">
					<a href="" class="icon facebook"></a>
					<div class="panel-content">
						<h5>Logo og visittkort</h5>
						<p>Vi utvikler komplette logopakker. Pakkene inneholder alle varianter og filer nødvendig for online profilering, samt trykksaker etc.</p>
						<div class="row collapse">
							<div class="small-6 columns">
								<a href="/img/theme/logo-sagasystem.jpg" class="fancybox" alt="Logo Sagasystem"><img src="/img/theme/logo-sagasystem.jpg"></a>
							</div>
							<div class="small-6 columns">
								<a href="/img/theme/logo-isdalsto.jpg" class="fancybox" alt="Logo Isdalsø Auto"><img src="/img/theme/logo-isdalsto.jpg"></a>
							</div>
						</div>
					</div>
				</div>

				<div class="panel">
					<a href="" class="icon facebook"></a>
					<div class="panel-content">
						<h5>Domene og hosting</h5>
						<p>Vi ordner domener, webhotell, eposter etc. All hosting, redigeringssystem og support er inkludert i månedsleien pålydende 395 kr.eks.mva</p>
					</div>
				</div>

				<div class="panel">
					<a href="" class="icon facebook"></a>
					<div class="panel-content">
						<h5>Synlighet</h5>
						<p>Våre løsninger oppnår gode resultater ved rangering i søkemotorer</p>
						<p>Vi tilbyr også en løpende SEO tjeneste for høy rangering i Google, og vi har gode resultater å vise til.</p>
						<a href="/bli-sett#rangering">Detaljer</a>
					</div>
				</div>

				<div class="panel">
					<a href="" class="icon facebook"></a>
					<div class="panel-content">
						<h5>Annonser</h5>
						<p>Vi setter opp og administrerer kampanjer på Google og Facebook. Gi oss ett dagsbudsjett og ha full kontroll på utgiftene.</p>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block header %}
<div class="header page-header">
	{% include 'top' %}
	<div class="row">
		<div class="large-12 columns">
			<div class="header-container text-center">
				<h2 class="header-title">WEBDESIGN</h2>
			</div>	
		</div>
	</div>
	<div class="tilt-primary"></div>
	<div class="tilt-light-grey"></div>
</div>
{% endblock %}

{% block main %}
<div class="band band-light-grey pad-bot pad-top-half block-6">
	<div class="row">
		<div class="large-12 columns text-center">
			<h2>A til Å</h2>
			<p class="lead">Absoluttweb utvikler moderne websider av høy kvalitet til normale priser. Hvordan er det mulig? - Vi er en liten bedrift med mye kunnskap, masse erfaring og stort engasjement.</p>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns text-center">
			<img src="/img/theme/mockup-table.jpg" class="marg-bot-3x marg-top-2x" alt="Moderne webdesign">	
		</div>
	</div>
	<div class="row wide marg-bot" data-equalizer>
		<div class="large-4 columns marg-bot" data-equalizer-watch>
			<i class="fa fa-diamond fa-fixed fa-stroke fa-pull-left"></i>
			<div class="no-wrap">
				<h4> Kvalitet</h4>
				<p>Vi følger trendene og mulighetene innen webteknologi og online markedsføring. Moderne, raske og synlige løsninger er garantert!</p>
			</div>
		</div>
		<div class="large-4 columns marg-bot" data-equalizer-watch>
			<i class="fa fa-dollar fa-fixed fa-stroke fa-pull-left"></i>
			<div class="no-wrap">
				<h4> Pris</h4>
				<p>Absoluttweb satser på høy kvalitet, men som en liten aktør kan vi likevel tilby komplette løsninger til edruelige priser.</p>
			</div>
		</div>
		<div class="large-4 columns marg-bot" data-equalizer-watch>
			<i class="fa fa-user fa-fixed fa-stroke fa-pull-left"></i>
			<div class="no-wrap">
				<h4> Support</h4>
				<p>Som liten bedrift, ønsker vi å ha ett personlig forhold til våre kunder og prosjekter. Support og oppfølging blir da en selvfølge.</p>
			</div>
		</div>
		<div class="large-4 columns marg-bot" data-equalizer-watch>
			<i class="fa fa-hand-pointer-o fa-fixed fa-stroke fa-pull-left"></i>
			<div class="no-wrap">
				<h4> Synlighet</h4>
				<p>Vi har mye kunnskap rundt synlighet på nett, samt markedsføring via Google og Facebook. Vi kan vise til gode resultater.</p>
			</div>
		</div>

		
		<div class="large-4 columns marg-bot" data-equalizer-watch>
			<i class="fa fa-mobile fa-fixed fa-stroke fa-pull-left"></i>
			<div class="no-wrap">
				<h4> Mobiltelefoner</h4>
				<p>Webdesign som fungerer bra på mobil er ingen selvfølge. Våre løsninger er 100% optimalisert for små og store skjermer.</p>
			</div>
		</div>

		<div class="large-4 columns marg-bot" data-equalizer-watch>
			<i class="fa fa-pencil fa-fixed fa-stroke fa-pull-left"></i>
			<div class="no-wrap">
				<h4> CMS</h4>
				<p>Redigeringssystemet er nettskybasert og topp moderne. Systemet ble valgt da det er utrolig brukervennlighet og gir raske websider.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns text-center">
			<a href="/bli-sett#online_markedsforing" class="btn btn-2">Online markedsføring</a>
		</div>
	</div>
</div>

<div class="band band-parallax-1">
	<div class="row full collapse">
		<div class="large-12 columns text-center">
			<div class="dzsparallaxer auto-init out-of-bootstrap" data-options='{ direction: "normal"}' style="height: 300px;">
				<div class="divimage dzsparallaxer--target" style="width: 100%; height: 600px; background-image: url(/img/theme/bg-parallax-2.jpg)">
				</div>
				<div class="center-it wide">
					<h4 class="marg-bot">Hva kan du forvente av Absoluttweb? Se hva vi har gjort.</h4>
					<a href="/referanser" class="btn btn-black no-marg">Referanser</a>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="band band-light-grey pad block-11">
	<div class="row">
		<div class="large-12 columns text-center">
			<h3 class="marg-bot">Design Galleri</h3>
			<div id="mockup" class="isotope clearfix">
				<div class="item"><a href="/img/theme/mockup-sagasystem.png" class="fancybox" rel="gallery"><img src="/img/theme/mockup-sagasystem.png" alt="Sagasystem Mockup"></a></div>
				<div class="item"><a href="/img/theme/mockup-sagasystem.png" class="fancybox" rel="gallery"><img src="/img/theme/mockup-sagasystem.png" alt="Sagasystem Mockup"></a></div>
				<div class="item"><a href="/img/theme/mockup-sagasystem.png" class="fancybox" rel="gallery"><img src="/img/theme/mockup-sagasystem.png" alt="Sagasystem Mockup"></a></div>
				<div class="item"><a href="/img/theme/mockup-sagasystem.png" class="fancybox" rel="gallery"><img src="/img/theme/mockup-sagasystem.png" alt="Sagasystem Mockup"></a></div>
			</div>
		</div>
	</div>
</div>


<div class="band band-white pad block-3">
	<div class="row">
		<div class="medium-4 columns">
			<h3>Be om pris</h3>
			<p>Fyll ut skjema, og vi svarer deg raskt!</p>
			<p>Jo, flere detaljer vi får, jo bedre kan vi svare deg</p>
		</div>
		<div class="medium-8 columns">
			<form class="on-light-grey no-marg">
				
				<div class="row">
					<div class="medium-4 columns ">
						<input id="name" name="name" type="text" placeholder="Navn"/>
					</div>
					<div class="medium-4 columns">
						<input id="mob" name="mob" type="email" placeholder="Epost"/>
					</div>
					<div class="medium-4 columns">
						<input id="email" name="email" type="tel" placeholder="Mobil"/> 
					</div>
				</div>
				<div class="row">
					<div class="medium-12 columns">
						<textarea id="message" name="message" rows="6" placeholder="Informasjon"></textarea>	
					</div>
				</div>
				<div class="row">
					<div class="medium-12 columns">
						<input type="submit" value="Send" class="btn btn-primary">	
					</div>
				</div>			
			</form>
			<div class="row">
				<div class="large-12 columns">
					Ring <a href="tel:91328419"><span class="numbers">913 28 419</span></a> om du vil snakke med oss. Eller benytt <a href="mailto:post@absoluttweb.no"><span class="numbers">post@absoluttweb.no</span></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="band band-light-grey pad block-2">
	<div class="row">
		<div class="medium-6 columns">
			<a href="https://www.facebook.com/Absoluttweb" target="_blank" class="btn-facebook">
				<h5><i class="fa fa-facebook"></i> Facebook</h5>
				<p>Nyheter, informasjon, tilbud og gallerier</p>
			</a>
		</div>
		<div class="medium-6 columns">
			<a href="https://instagram.com/absoluttweb/" target="_blank" class="btn-instagram">
				<h5><i class="fa fa-instagram"></i> Instagram</h5>
				<p>Design og Mockups</p>
			</a>
		</div>
	</div>
</div>
{% endblock %}

{% block fullscreen %}
{% endblock %}

{% block script %}
<script>
	var container = $('#mockup').imagesLoaded( function() {;
		container.isotope({
			itemSelector: '.item',
			layoutMode: 'masonry',
			transitionDuration: '300ms',
			masonry: {
				columnWidth: '.item',
				gutter: 0
			}
		})
	});
</script>
{% endblock %}