<div class="band band-white pad">
  <div class="row">
    <div class="large-12 columns clearfix">
      <dl class="mixitup-nav left">
        <!--<dt>Filter:</dt>-->
        <dd class="filter active" data-filter="mix">All</dd>
          <dd class="filter" data-filter="blue">Blue</dd>
          <dd class="filter" data-filter="red">Red</dd>
          <dd class="filter" data-filter="yellow">Yellow</dd>
          <dd class="filter" data-filter="pink">Pink</dd>
      </dl>
      <!--<dl class="mixitup-nav right">
        <dt>Sorter:</dt>
          <dd class="sort" data-sort="data-date" data-order="desc">Dato synkende</dd>
          <dd class="sort" data-sort="data-date" data-order="asc">Dato stigende</dd>
          <dd class="sort" data-sort="data-status" data-order="desc">Status</dd>
          <dd class="sort" data-sort="random">Random</dd>
      </dl>-->
      <div class="dropdown [dropdown-*] right">
        <a href="#" class="btn btn-link with-icon">Sort <i class="fa fa-arrows-v"></i> </a>
        <ul>
        <li class="sort" data-sort="data-date" data-order="desc"><a href="#">By latest</a></li>
        <li class="sort" data-sort="data-date" data-order="asc"><a href="#">By first</a></li>
        </ul>
        </div>
    </div>
  </div>
  
</div>