<div class="flipcard h">
    <div class="front">
      <div class="panel panel-xtra-dark">
			<img src="/img/theme/service.jpg">
				<h5>Elektrotjenester</h5>
		</div>
    </div>
    <div class="back">
	  	<div class="panel panel-xtra-dark">
			<div class="panel-content">
				<p>Mattis cursus penatibus non sit nunc integer ut tincidunt platea dictumst aliquam, pellentesque hac et risus, ut adipiscing? Augue a eros sociis. Lectus nunc, ac urna sociis et. Sit lacus ut ac hac vel, ac placerat nec duis dis a.</p>
			</div>
    	</div>
	</div>
</div>

<div class="flipcard h">
    <div class="front">
      <div class="panel panel-xtra-dark">
			<img src="/img/theme/service2.jpg">
				<h5>Rør- og sanitærtjenester</h5>
		</div>
    </div>
    <div class="back">
	  	<div class="panel panel-xtra-dark">
			<div class="panel-content">
				<p>Mattis cursus penatibus non sit nunc integer ut tincidunt platea dictumst aliquam, pellentesque hac et risus, ut adipiscing? Augue a eros sociis. Lectus nunc, ac urna sociis et. Sit lacus ut ac hac vel, ac placerat nec duis dis a.</p>
			</div>
    	</div>
	</div>
</div>

<div class="flipcard h">
    <div class="front">
      <div class="panel panel-xtra-dark">
			<img src="/img/theme/service-vegg.jpg">
				<h5>Vegger, tapet, maling mm</h5>
		</div>
    </div>
    <div class="back">
	  	<div class="panel panel-xtra-dark">
			<div class="panel-content">
				<p>Mattis cursus penatibus non sit nunc integer ut tincidunt platea dictumst aliquam, pellentesque hac et risus, ut adipiscing? Augue a eros sociis. Lectus nunc, ac urna sociis et. Sit lacus ut ac hac vel, ac placerat nec duis dis a.</p>
			</div>
    	</div>
	</div>
</div>

<div class="flipcard h">
    <div class="front">
      <div class="panel panel-xtra-dark">
			<img src="/img/theme/service-vindu.jpg">
				<h5>Dører og vinduer</h5>
		</div>
    </div>
    <div class="back">
	  	<div class="panel panel-xtra-dark">
			<div class="panel-content">
				<p>Mattis cursus penatibus non sit nunc integer ut tincidunt platea dictumst aliquam, pellentesque hac et risus, ut adipiscing? Augue a eros sociis. Lectus nunc, ac urna sociis et. Sit lacus ut ac hac vel, ac placerat nec duis dis a.</p>
			</div>
    	</div>
	</div>
</div>

<div class="flipcard h">
    <div class="front">
      <div class="panel panel-xtra-dark">
			<img src="/img/theme/service-takvindu.jpg">
				<h5>Takvinduer</h5>
		</div>
    </div>
    <div class="back">
	  	<div class="panel panel-xtra-dark">
			<div class="panel-content">
				<p>Mattis cursus penatibus non sit nunc integer ut tincidunt platea dictumst aliquam, pellentesque hac et risus, ut adipiscing? Augue a eros sociis. Lectus nunc, ac urna sociis et. Sit lacus ut ac hac vel, ac placerat nec duis dis a.</p>
			</div>
    	</div>
	</div>
</div>

<div class="flipcard h">
    <div class="front">
      <div class="panel panel-xtra-dark">
			<img src="/img/theme/service-outside.jpg">
				<h5>Steinarbeider</h5>
		</div>
    </div>
    <div class="back">
	  	<div class="panel panel-xtra-dark">
			<div class="panel-content">
				<p>Mattis cursus penatibus non sit nunc integer ut tincidunt platea dictumst aliquam, pellentesque hac et risus, ut adipiscing? Augue a eros sociis. Lectus nunc, ac urna sociis et. Sit lacus ut ac hac vel, ac placerat nec duis dis a.</p>
			</div>
    	</div>
	</div>
</div>