<!-- Add the Styleguide links here -->

<div class="info-bar-right">
	<div class="ib-scroll">
		<a class="ib-tab" data-trigger="info-bar-right"> Rightbar <i class="fa fa-chevron-right"></i></a>
		<div class="ib-container">

			<div class="news-card">
				<div class="date">12.01.2016</div>
				<div class="panel-content">
					<a href="#" class="facebook-link"><i class="fa fa-facebook-square fa-color-facebook"></i> Åpne i Facebook</a>
					<h4 class="handwriting">This is only bulletin</h4>
					<p>It means it will only show in this sidebar, and not anywhere else.</p>
				</div>
			
			</div>

		</div>
	</div>
</div>