<div class="info-bar-left">
	<div class="ib-scroll">
		<a class="ib-tab" data-trigger="info-bar-left"><i class="fa fa-chevron-left"></i> Leftbar</a>
		<div class="ib-container">

			<div class="news-card">
				<div class="date">12.01.2016</div>
				<div class="panel-content">
					<a href="#" class="facebook-link"><i class="fa fa-facebook-square fa-color-facebook"></i> Åpne i Facebook</a>
					<h4 class="handwriting">This is only bulletin</h4>
					<p>It means it will only show in this sidebar, and not anywhere else.</p>
				</div>
			</div>

			<div class="news-card">
				<div class="date">10.01.2016</div>
				<div class="panel-content">
					<a class="link" href="#">Les artikkel</a>
					<h4 class="handwriting">This is a standard article with image</h4>
					
					<p>Noen nyheter er artikler/blogg. Det vil ha en link til selve artikkelen eter noe description. </p>
					<a href="#"><img src="/img/globals/placeholder-08.jpg"></a>
				</div>
			</div>

			<div class="news-card">
				<div class="date">12.01.2016</div>
				<div class="panel-content">
					<a href="/" class="label">Gaming</a>
					<a class="link" href="#">Les artikkel</a>
					<h4 class="handwriting">Article in category</h4>
					<p>No image is the best look, if using many entries here.</p>

				</div>
			</div>

		</div>
	</div>
</div>