<li class="mix blue red" data-status="2" data-date="20150302">
	<div class="panel panel-light-grey">
		<a href="/casestudy"><img src="/img/example.jpg"></a>
		<div class="panel-content pad-half">
			<a href="/casestudy"><h4>Abudabi wasabi, Sesam</h4></a>
			<p>New project description that will be cut if more than 2 lines</p>
			<p class="no-marg"><i class="fa fa-tags fa-color-secondary"></i> <a class="filter" data-filter="yellow">yellow</a>, <a class="filter" data-filter="blue">blue</a> </p>
			<p class="subtle small no-marg">Added: 23.06.2015</p>

		</div>
		<!-- Put here if no padding-->
	</div>
</li>