<div class="share-icons [fullscreen]">

<!-- Facebook -->
<a href="http://www.facebook.com/sharer.php?u=http://www.absoluttweb.no" target="_blank"><i class="fa fa-facebook-square fa-color-facebook"></i> </a>
 
<!-- Twitter -->
<a href="http://twitter.com/share?url=http://www.absoluttweb.no&text=Tittel her&hashtags=hashtag-name" target="_blank"><i class="fa fa-twitter-square fa-color-twitter"></i> </a>
 
<!-- Google+ -->
<a href="https://plus.google.com/share?url=http://www.absoluttweb.no" target="_blank"><i class="fa fa-google-plus-square fa-color-google-plus"></i> </a>
 
<!-- Digg 
<a href="http://www.digg.com/submit?url=http://www.absoluttweb.no" target="_blank"><i class="fa fa-digg fa-color-digg"></i> </a>-->
 
<!-- Reddit 
<a href="http://reddit.com/submit?url=http://www.absoluttweb.no&title=Moderne websider" target="_blank"><i class="fa fa-reddit-square fa-color-reddit"></i> </a>-->
 
<!-- LinkedIn -->
<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.absoluttweb.no" target="_blank"><i class="fa fa-linkedin-square fa-color-linkedin"></i> </a>
 
<!-- Pinterest -->
<a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><i class="fa fa-pinterest-square fa-color-pinterest"></i> </a>
 
<!-- Email -->
<a href="mailto:?Subject=Moderne websider&Body=Sjekk%20ut%20denne%20linken%20 http://www.absoluttweb.no"><i class="fa fa-envelope-square fa-color-envelope"></i> </a>

</div>